/*
 * Theme Name: IPA Collective
 * Author: GloboTek
 * Author URI: https://globotek.net
 * Version: 1.0.0
 */

@media screen and (min-width: 684px) {
    .chumly .user-profile__header__content {
        padding-left: 20px;
    }
}
