%decor-icon {
	width: 200px;
	height: 150px;
	display: block;
	margin: 0 auto;
	fill: $orange;
}

%decor-icon--secondary {
	width: 165px;
	height: 115px;
	display: block;
	margin: 0 auto;
	fill: $orange;
}