%heading-base {
	font-family: $light-font-family;
	font-weight: normal;
	font-style: normal;
}

%heading,
%heading--primary {
	@extend %heading-base;
	
	@include font-size(40px, true, false, $heading-line-height-ratio);
	
	@include media-query("portable") {
		@include font-size(50px, true, false, $heading-line-height-ratio);
	}
	
	@include media-query("lap-and-up") {
		@include font-size(60px, true, false, $heading-line-height-ratio);
	}
}

%heading--secondary {
	@extend %heading-base;
	
	@include font-size(25px, true, false, $heading-line-height-ratio);
	
	@include media-query("portable-and-up") {
		@include font-size(30px, true, false, $heading-line-height-ratio);
	}
}

%heading--tertiary {
	@extend %heading-base;
	
	@include font-size(20px, true, false, $heading-line-height-ratio);
	
	@include media-query("portable-and-up") {
		@include font-size(24px, true, false, $heading-line-height-ratio);
	}
}