.site-head {
	z-index: 8000;
	
	&__nav {
		z-index: 8200;
	}
	
	&__mask {
		z-index: 8100;
	}
}

.landing-page {
	
	&__hero {
		
		&__content,
		&__icon {
			z-index: 200;	
		}
		
		&__image {
			z-index: 100;
		}
	
	}

}

.call-to-action,
.hero {
	
	&__content {
		z-index: 200;
	}
	
	&__image {
		z-index: 100;
	}
}

.hero {
	&__avatar {
		z-index: 200;
	}
}

.modal {
	z-index: 9000;
	
	&__window {
		z-index: 9200;
	}
	
	&__overlay {
		z-index: 9100;
	}
}