.arrow_down {
  width: 32px;
  height: 16.2px;
}

.arrow_down_o {
  width: 32px;
  height: 32px;
}

.arrow_left_o {
  width: 32px;
  height: 32px;
}

.arrow_right_o {
  width: 32px;
  height: 32px;
}

.arrow_up_o {
  width: 32px;
  height: 32px;
}

.bars {
  width: 32px;
  height: 21.3px;
}

.browser_window {
  width: 32px;
  height: 25.3px;
}

.check {
  width: 32px;
  height: 24.6px;
}

.cross {
  width: 32px;
  height: 32px;
}

.cross_o {
  width: 32px;
  height: 32px;
}

.decor_clock {
  width: 118px;
  height: 118px;
}

.decor_magnifying_glass {
  width: 429px;
  height: 435px;
}

.decor_people {
  width: 229px;
  height: 109px;
}

.decor_person {
  width: 133px;
  height: 149px;
}

.decor_phone {
  width: 77px;
  height: 154.1px;
}

.decor_tv {
  width: 201px;
  height: 118px;
}

.decor_yoga_1 {
  width: 131.5px;
  height: 97.3px;
}

.decor_yoga_2 {
  width: 58.1px;
  height: 111.3px;
}

.decor_yoga_3 {
  width: 86.3px;
  height: 73.8px;
}

.decor_yoga_4 {
  width: 113.4px;
  height: 57.1px;
}

.document_o {
  width: 118px;
  height: 118px;
}

.facebook {
  width: 32px;
  height: 32px;
}

.fullscreen {
  width: 32px;
  height: 20px;
}

.fullscreen_close {
  width: 32px;
  height: 20px;
}

.heart {
  width: 32px;
  height: 30.7px;
}

.heart_fill {
  width: 32px;
  height: 30.7px;
}

.info {
  width: 32px;
  height: 32px;
}

.instagram {
  width: 32px;
  height: 32px;
}

.lock {
  width: 25.6px;
  height: 32px;
}

.logo {
  width: 240.9px;
  height: 40px;
}

.logo_alt {
  width: 170px;
  height: 19px;
}

.mail {
  width: 32px;
  height: 25.3px;
}

.mail_o {
  width: 118px;
  height: 118px;
}

.marker_o {
  width: 32px;
  height: 32px;
}

.minus {
  width: 32px;
  height: 32px;
}

.pause {
  width: 15.2px;
  height: 32px;
}

.pictogram {
  width: 136px;
  height: 117.9px;
}

.play {
  width: 30.1px;
  height: 32px;
}

.plus_o {
  width: 32px;
  height: 32px;
}

.power {
  width: 32px;
  height: 32px;
}

.proceed_o {
  width: 32px;
  height: 32px;
}

.question_o {
  width: 118px;
  height: 118px;
}

.quote_o {
  width: 118px;
  height: 118px;
}

.star {
  width: 32px;
  height: 32px;
}

.user {
  width: 32px;
  height: 30.6px;
}

.volume_indicator {
  width: 32px;
  height: 21.9px;
}

.volume_mute {
  width: 32px;
  height: 31.1px;
}

