.content-sidebar{
	@extend %grid;

	&__content{
		@extend %lap--eight-tenths;
		@extend %desk--eight-tenths;
		padding: 0 $gutter $gutter 0;
		
		@include media-query('palm'){
			padding: 0;
		}
	}
	
	
	&__sidebar{
		@extend %lap--two-tenths;
		@extend %desk--two-tenths;

		padding-top: 0;
		padding-left: 0;
		
		@include media-query('tablet'){
			display: none;
		}
		
		&--mobile{
			display: none;

			@include media-query('tablet'){
				display: block;
			}
		}
		
		
	}
}