.generic-page {
	
	&__primary {
		@extend %chunk;
		
		background: $white;
		
		&--narrow {
			@extend %chunk--narrow;
		}
	}
	
	&__secondary {
		@extend %chunk;
		
		background: $eggshell;
		
		&--narrow {
			@extend %chunk--narrow;
		}
	}
	
	&__tertiary{
		@extend %chunk;
		
		padding-top: 0;
		
		background: $eggshell;
	}
}