.landing-page {
	overflow: hidden;
	
	&__hero {
		position: relative;
		width: 100%;
		padding: 100px 0;
		
		@include media-query("portable-and-up") {
			padding: 120px 0;
		}

		@include media-query("lap-and-up") {
			padding: 180px 0;
		}

		@include media-query("desk-wide") {
			padding: 260px 0;
		}
		
		&--without-video{
			padding: 30px 0;
			
			@include media-query("portable-and-up") {
				padding: 40px 0;
			}
			
			@include media-query("lap-and-up") {
				padding: 80px 0;
			}
			
			@include media-query("desk-wide") {
				padding: 100px 0;
			}
		}

		&__image,
		&__video {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&__video {
			display: none;

			@include media-query("lap-and-up") {
				display: block;
				overflow: hidden;
			}
		}

		&__image {
			background-size: cover;
			background-position: center center;
			overflow: hidden;
			margin: -30px 0;
			z-index: -10;
			
			@include media-query("portable-and-up") {
				margin: -40px 0;
			}
			
			@include media-query("lap-and-up") {
				margin: -80px 0;
			}
			
			@include media-query("desk-wide") {
				margin: -100px 0;
			}
			
			&--with-video {
				@include media-query("lap-and-up") {
					display: none;
				}
			}
		}

		&__content {
			position: relative;
			text-align: center;
		}

		&__heading {
			@extend %heading--primary;
			@extend %portable--eight-tenths;
			@extend %lap--eight-tenths;
			@extend %desk--six-tenths;

			color: $white;
			display: block;
			margin: 0 auto;
		}

		&__cta {
			padding: 30px 0 0 0;

			@include media-query("lap-and-up") {
				padding: 60px 0 0 0;
			}

		}
		
		&__center{
			display: flex;
			justify-content: center;
		}
		
		&__list {
			padding: 60px 0 60px 0;
			text-align: left;
			
			li{
				
				margin-left: 60px;
				padding: 13px 0;
								
				
				h3 {
					@extend %heading--tertiary;
					position: relative;
					display: inline;
					margin: 0 auto;
					padding-left: 0px;
					padding-top: 7px;
				}
				
				
				h3:before{
					position: absolute;
					top: 5px;
					left: -60px;
					content: '\2713';
					font-size: 24px;
					line-height: 35px;
					text-align: center;
					height: 35px;
					width: 35px;
					background-color: $brown;
					border-radius: 35px;
				}
				
			}
		}
		
		&__secondary-action {
			@extend %heading-base;

			padding: 20px 0 0 0;
			display: inline-block;
			color: $orange;

			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: $orange;
			}

			@include hover() {
				color: $white;
				text-decoration: none;

				&:after {
					background: $white;
				}
			}
		}

		&__icon {
			display: block;
			width: 30px;
			text-align: center;
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin: 0 0 0 -15px;

			@include transition();

			@include hover() {
				.icon {
					fill: $orange;
				}
			}

			.icon {
				fill: $white;
				width: 30px;
				height: 30px;
			}
		}
	}

	&__features {
		@extend %chunk;
		
		&__inner {
			@extend %grid;
			@extend %grid--center;
		}

		&__button {
			padding: 40px 0 0 0;
			text-align: center;

			@include media-query("portable-and-up") {
				padding: 50px 0 0 0;
			}

			@include media-query("lap-and-up") {
				padding: 70px 0 0 0;
			}
		}
	}

	&__feature {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		@extend %lap--one-third;
		@extend %desk--one-third;

		text-align: center;

		// IE 9 is awesome
		@include ie("lt-ie10") {
			text-align: center !important;
		}

		&__heading {
			@extend %heading--secondary;

			color: $orange;
		}

		&__sub-heading {
			font-family: $bold-font-family;
			font-weight: normal;
			display: block;

			@include font-size(16px, true, false, $snippet-line-height-ratio);
		}

		&__summary {
			display: block;
			margin: 0 auto;
			padding: 10px 0 0 0;

			@include font-size(14px, true, false, $snippet-line-height-ratio);
		}

		&__icon {
			display: block;
			width: 100%;
			margin: 25px 0;

			.icon {
				@extend %decor-icon;
			}
		}

	}

	&__tiles {
		@extend %chunk;

		background: $brown;

		&__button {
			text-align: center;
		}
	}

	&__testimonial {
		@extend %chunk;
	}
}
