.retreat {
	@extend %chunk;
	
	&__wrapper {
		@extend .wrapper;
		
		@include media-query("lap-and-up") {
			max-width: 960px;
		}
	}
	
	&__heading {
		
		@include font-size(18px, true);
		
		@include media-query("portable-and-up") {
			@include font-size(24px, true, false, 1.2);
		}
		
		font-family: $light-font-family;
		display: block;
		font-weight: normal;
		padding: 0 0 60px 0;
	}
	
	&__check-details {
		@extend %grid;
	}
	
	&__check-detail {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		@extend %lap--one-half;
		@extend %desk--one-half;
		
		text-align: center;
		
		&__icon {
			display: block;
			
			.icon {
				width: 40px;
				height: 40px;
				fill: $orange;		
			}
		}
		
		&__text {
			position: relative;
			
			@include font-size(14px, false, true, 1.1);
			
			> strong {
				font-weight: normal;
				text-transform: uppercase;
				color: $orange;
				margin: 0 5px 0 0;
				font-family: $light-font-family;
			}
		}

	}
	
	
	hr {
		border: none;
		display: block;
		height: 2px;
		background: $grey--light;
		margin: 60px 0;
	}
	
	&__details {
		@extend %grid;
	}
	
	&__detail {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		@extend %lap--one-half;
		@extend %desk--one-half;
		
		&__heading {
			color: $orange;
			text-transform: uppercase;
			display: block;
			width: 100%;
			text-align: center;
			font-weight: normal;
			
			
			@include font-size(12px, true, false, $heading-line-height-ratio);
		}
		
		&__content {
			padding: $gutter 0 0 0;
		}
		
		&__smallprint {
			margin: 30px 0 0 0;
			padding: 30px 0 0 0;
			border-top: 1px solid $grey--light;
		}
	}
	
	&__meta {
		padding: 40px 0;
		margin: 60px 0 0 0;
		text-align: center;
		position: relative;
		
		@include font-size(14px, false, true, 1.1);
		
		> strong {
			font-weight: normal;
			text-transform: uppercase;
			color: $orange;
			margin: 0 5px 0 0;
			font-family: $light-font-family;
		}
		
		&:before,
		&:after {
			content: "";
			border: none;
			display: block;
			height: 2px;
			background: $grey--light;
			position: absolute;
			left: 0;
			right: 0;
		}
		
		&:before {
			top: 0;
		}
		
		&:after {
			bottom: 0;
		}
	}
	
	&__group {
		
		&__heading {
			@extend %heading--secondary;
			
			text-align: center;
			color: $orange;
		}
	}
}