/*

Apologies. This layout is whack. Proper designer special.

*/

.site-foot {
	@extend %chunk;

	background: $brown;

	&:after {
		@include media-query("desk") {
			content: "";
		}
	}

	&__inner {
		position: relative;
	}

	&__brand {

		@include media-query("lap-and-up") {
			position: absolute;
			top: -3px;
			left: 0;
		}

		.icon {
			width: 170px;
			fill: $white;
		}
	}

	&__info {

		@include media-query("lap-and-up") {
			position: absolute;
			top: -6px;
			right: 0;
			width: 400px;
			text-align: right;
		}

		&__copyright {
			color: $brown--light;

			@include font-size(12px, true);
		}

		&__social {

			padding: $gutter--mini 0 0 0;

			@include media-query("lap-and-up") {
				padding: $gutter 0 0 0;
			}

			&__list {
				@extend %grid;
				@extend %grid--narrow;

				@include media-query("lap-and-up") {
					justify-content: flex-end;
					text-align: right;
				}

				li {
					.icon {
						fill: $white;
						width: 30px;
						height: 30px;
					}

					a {
						@include hover() {
							opacity: 0.5;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	&__actions {
		display: block;
		margin: 0 auto;

		@include media-query("lap-and-up") {
			width: 350px;
			position: relative;
			top: -6px;
		}

		@include media-query("desk") {
			width: 420px;
		}
	}

	&__nav {
		@extend %grid;
		@extend %grid--narrow;

		@include media-query("palm") {
			margin-top: 10px;
		}

		@include media-query("portable") {
			margin-top: -10px;
		}

		@include media-query("lap-and-up") {
			text-align: center;
			justify-content: center;
		}

		li {
			@extend %palm--one-whole;

			@include media-query("palm") {
				padding-top: 0px;
			}

			@include media-query("lap-and-up") {
				padding-top: 0;
			}
		}

		a {
			color: $white;

			@include hover() {
				text-decoration: none;
				opacity: 0.5;
			}

			@include font-size(12px, false);

			@include media-query("desk") {
				@include font-size(14px, false);
			}
		}
	}

	&__form {
		padding: $gutter--mini 0 0 0;

		@include media-query("lap-and-up") {
			padding: $gutter 0 0 0;
		}

		&__inner {
			position: relative;

			@include media-query("portable") {
				width: 400px;
			}
		}

		&__label {
			@extend .is-hidden--text;
		}

		&__input {
			display: block;
			width: 100%;
			border: none;
			border-radius: $radius;
			color: $grey;
			padding: 20px 60px 20px 20px;

			@include form-field();
			@include placeholder($grey);
			@include font-size(12px, false);

			@include media-query("portable") {
				padding: 20px;
				width: 400px;
			}

			@include media-query("lap-and-up") {
				padding: 20px 40px;

				@include font-size(14px, false);
			}
		}

		&__button {
			-webkit-appearance: none;
			display: block;
			background: transparent;
			border: 0;
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;

			.icon {
				width: 30px;
				height: 30px;
				fill: $grey;
			}

			@include media-query("lap-and-up") {
				top: 11px;
			}
		}

	}
}
