.site-head{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $brown;
	padding: $gutter--mini 0;
	
	@include site-head-height();
	
	@include media-query('tablet'){
		position: fixed;
	}
	
	&__heading{
		@extend .is-hidden--text;
	}
	
	&__inner{
		width: 100%;
		display: table;
		table-layout: fixed;
		
	}
	
	&__brand,
	&__nav{
		display: table-cell;
		vertical-align: middle;
	}
	
	&__brand{
		
		&, .icon{
			width: 180px;
			
			@include media-query("portable-and-up"){
				width: 240px;
			}
		}
		
		.icon{
			fill: $orange;
		}
		
	}
	
	&__hamburger{
		display: block;
		width: 33px;
		height: 30px;
		position: absolute;
		top: 5px;
		right: 20px;
		bottom: 0;
		left: auto;
		
		@include media-query("desk"){
			display: none;
		}
		
		@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
			display: block;
			top: 12px;
		}
		
	}
	
	&__nav{
		text-align: right;
		position: relative;
		
		@include media-query("desk"){
			top: -4px;
		}
		
		@include media-query('tablet'){
			position: absolute;
			left: 0;
			width: 100%;
		}
		
		@include media-query('lap'){
			position: absolute;
			top: 12px;
			right: 20px;
			width: 100%;
		}
		
		@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
			position: absolute;
			top: 12px;
			right: 20px;
			width: 100%;
		}
		
		&__list{
			text-align: left;
			width: 100%;
			position: fixed;
			left: 0;
			background: $brown;
			padding: $gutter--mini 0 $gutter--mini 73px;
			opacity: 0;
			visibility: hidden;
			
			&.is-active{
				opacity: 1;
				visibility: visible;
				
				@include transition();
			}
			
			@include media-query("tablet"){
				padding: $gutter--mini 0 $gutter--mini 90px;
				position: absolute;
				top: 50px;
			}
			
			@include media-query("lap"){
				padding: $gutter--mini 0 $gutter--mini 110px;
				margin-top: 36px;
			}
			
			@include media-query("desk"){
				width: auto;
				position: static;
				margin: 0 0 0 auto;
				padding: 0;
				top: 0;
				display: table;
				table-layout: fixed;
				text-align: right;
				opacity: 1;
				visibility: visible;
				transition: none;
			}
			
			@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
				text-align: left;
				height: 100%;
				width: 100%;
				position: fixed;
				left: 0;
				margin-top: 112px;
				background: $brown;
				padding: $gutter--double 0 $gutter--mini 73px;
				opacity: 0;
				visibility: hidden;
				
			}
			
			//@include site-head-height("top");
			
			li{
				@extend %heading-base;
				
				display: block;
				text-transform: capitalize;
				position: relative;
				
				@include media-query("desk"){
					display: table-cell;
				}
				
				@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
					display: block;
				}
				
				@include media-query("portable-and-up"){
					
					&:last-child{
						display: inline-block;
					}
				}
			}
			
			li + li{
				padding: 10px 0 0 0;
				
				&:last-child{
					padding: 30px $gutter--mini 0 0;
				}
				@include media-query("desk"){
					
					&, &:last-child{
						padding: 0 0 0 25px;
					}
					
					.button{
						top: -2px;
					}
					
				}
				@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
					&, &:last-child{
						padding: 5px 0 5px 0;
					}
					
					&:last-child{
						padding-top: 20px !important;
					}
				}
				
			}
			
			a:not(.button){
				color: $white;
				
				@include hover(true){
					color: $orange;
					text-decoration: none;
				}
			}
		}
		
	}
	
	&__user-menu{
		
		background: $white;
		padding: $gutter--mini;
		margin: $gutter--mini 0 0 0;
		border-radius: $radius;
		display: none;
		
		&.is-active{
			display: block;
		}
		
		@include media-query("desk"){
			position: absolute;
			top: 100%;
			right: 0;
			width: 100%;
			margin: 5px 0 0 0;
		}
		
		li{
			display: block !important;
			padding: 0 !important;
		}
		
		li + li{
			margin: 10px 0 0 0;
		}
		
		a{
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			height: 100%;
			color: $grey--mid !important;
			
			@include hover(){
				color: $orange !important;
				
				.icon{
					fill: $orange;
				}
			}
			
		}
		
		.icon{
			width: 22px;
			height: 22px;
			margin: 0 8px 0 0;
			top: 3px;
			fill: $grey--mid;
		}
	}
	
	&__mask{
		
		@include media-query("lap-and-up"){
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			
			&.is-active{
				display: block;
			}
		}
		
	}
}