.videos {
	
	&__archive,
	&__library,
	&__search-results{
		
		display: none;
		
	}

	&__inline{
		
		display: flex;
		
		@include media-query('tablet'){
			
			flex-direction: column;
			
		}
		
		
		&--quarter,
		&--three-quarters{
			flex-direction: column;
			
			@include media-query('tablet'){
				
				width: 100% !important;
				padding-left: 0 !important;
				
				.class-tiles__item,
				.content-tiles__item{
					
					width: 100% !important;
					padding-right: 0 !important;
					
				}
				
			}
		}
		
		&--quarter{
			width: 25%;
			
			.class-tiles__item,
			.content-tiles__item{
				width: 100%;
				padding-right: 30px;
			}
			
		}
		
		&--three-quarters{
			width: 75%;
			padding-left: 10px;
			
			.class-tiles__item,
			.content-tiles__item{
				width: 33.33%;
			}
			
		}
		
	}
	
	&__features {
		@extend %grid;

		&__item {
			@extend %palm--one-whole;
			@extend %portable--one-half;
			@extend %lap--one-half;
			@extend %desk--one-half;
		}

		&__heading {
			@extend %heading--secondary;

			display: block;
			padding: 0 0 $gutter 0;
			text-align: center;
			color: $orange;
		}
	}

	&__headline {
		
		display: flex;
		text-align: left;
		
		padding-bottom: $gutter--mini;
		
		&:not(:first-child){
			padding-top: $gutter;
		}
		
		a:hover,
		a:focus{
			text-decoration: none;
		}
		
		.button-list__meta-button{
			color: $grey--mid-dark;
			
			position: relative;
			top: 0;
			padding-left: 20px;
			
			.icon{
				fill: $grey--mid-dark;
			}
		}
		
	}
	
	&__button {
		margin-top: $gutter--mini;
		text-align: center;
	}

	& p:hover{
		background-color: transparent;
	}
}
