/*------------------------------------*\
    SHAME
    
    This file is for awful little hacks that sometime just can't be avoided.
    
    Please make sure you comment the hacks and refactor down the line (unless you work in an agency where refactoring is an alien concept)
\*------------------------------------*/

// Events calendar ellipsis
.fc-event-inner {
	display: inline-block;

	.fc-event-title {
		display: block;
		max-width: 100%;
		@include ellipsis();
	}
}