/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";


/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@import "mixins/site-head-height"; 


/*------------------------------------*\
    HELPERS
\*------------------------------------*/

@import "helpers/z-index"; 
@import "helpers/flex-wrapper"; 
@import "helpers/headings"; 
@import "helpers/lead"; 
@import "helpers/chunk"; 
@import "helpers/decor-icon"; 


/*------------------------------------*\
    ADD SOME GLOBAL STYLES
\*------------------------------------*/
html {
	width: 100%;
	height: 100%;
	font-size: $base-font-size;
}

body {
	font-family: $base-font-family;
	min-width: $site-min-width;
	min-height: 100%;
	color: $grey--mid-dark;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	
	@include font-size($base-font-size, true);
	@include site-head-height("padding-top");

	&.modal-open {
	  overflow: hidden;
	  position: fixed;
	  width: 100%;
	}
}

.chumly{
	max-width: $site-max-width;
	margin: 0 auto;
}

.wrapper {
	min-width: $site-min-width;
	max-width: $site-max-width;
	margin: 0 auto;
	padding: 0 $gutter--mini;
	position: relative;
	
	@include media-query("lap-and-up") {
		padding: 0 $gutter;
	}
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: $orange;
}

b,
strong {
	font-weight: normal;
	font-family: $bold-font-family;
}

.clear {
	
	&:after,
	&:before {
		content: "";
		clear: both;
		display: block;
	}
}

.is-hidden {
	display: none;
}

.is-visible {
	display: block !important;
}

.is-muted {
	opacity: 0.5;
}

.is-hidden--text {
	position: absolute !important;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.no-print {
	@include print() {
		display: none;
	}
}

.admin-bar .site-head{
	top: 32px;
}

@media (max-width: 768px){
	.admin-bar .site-head {
		top: 46px;
	}
	
	#wpadminbar{
		position: fixed;
	}
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

@import "components/icon";
@import "components/hamburger";
@import "components/button";
@import "components/breathe";
@import "components/content-tile";
@import "components/content-tiles";
@import "components/class-tiles";
@import "components/content-meta";
@import "components/user-avatar";
//@import "components/star-rating";
@import "components/headline";
@import "components/testimonial";
@import "components/call-to-action";
@import "components/modal";
@import "components/form";
@import "components/prompt";
@import "components/hero";
@import "components/inline-icon-links";
@import "components/decor-heading";
@import "components/content";
@import "components/accordion-list";
@import "components/accordion";
@import "components/filter-menu";
@import "components/hidden-field";
@import "components/button-list";
@import "components/avatar-group";
@import "components/smallprint";
@import "components/product-card";
@import "components/product-cards";
@import "components/feature-content";
@import "components/social-sharing.scss";
@import "components/_sidebar.scss";
@import "components/_widget.scss";
@import "components/_slick.scss";

/*------------------------------------*\
    LAYOUTS
\*------------------------------------*/

@import "layouts/site-head"; 
@import "layouts/site-foot"; 
@import "layouts/landing-page"; 
@import "layouts/generic-page"; 
@import "layouts/videos";
@import "layouts/video";
@import "layouts/pricing";
@import "layouts/retreat";
@import "layouts/content-sidebar";

/*------------------------------------*\
    THIRD PARTY
\*------------------------------------*/
@import "third-party/chumly";

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

//@import "animations/animation-name"; // Add a line for animation


// Import the shame
@import "shame";