<div class="alert is-active" data-module="chumly-alert" role="alert">
	<div class="alert__content">
		This is a generic notification to make you aware of something that’s going on
	</div>
	<button class="alert__close js-chumly-alert__close">
		<span class="is-hidden--text">Click here to close this alert</span>
		<svg class="alert__close__icon icon" aria-hidden="true">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cross"></use>
		</svg>
	</button>
</div>

<div class="chunk">

	<div class="alert alert--negative is-active" data-module="chumly-alert" role="alert">
		<div class="alert__content">
			This is an error notification to let you know something absolutely went wrong
		</div>
		<button class="alert__close js-chumly-alert__close">
			<span class="is-hidden--text">Click here to close this alert</span>
			<svg class="alert__close__icon icon" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cross"></use>
			</svg>
		</button>
	</div>

</div>

<div class="chunk">

	<div class="alert alert--positive is-active" data-module="chumly-alert" role="alert">
		<div class="alert__content">
			This is a success notification to tell you everything is gravy in the navy
		</div>
		<button class="alert__close js-chumly-alert__close">
			<span class="is-hidden--text">Click here to close this alert</span>
			<svg class="alert__close__icon icon" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cross"></use>
			</svg>
		</button>
	</div>

</div>

<div class="chunk">

	<div class="alert alert--primary is-active" data-module="chumly-alert" role="alert">
		<div class="alert__content">
			This is a primary notification to draw the user’s attention but to still present generic information 
		</div>
		<button class="alert__close js-chumly-alert__close">
			<span class="is-hidden--text">Click here to close this alert</span>
			<svg class="alert__close__icon icon" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cross"></use>
			</svg>
		</button>
	</div>

</div>

<div class="chunk">

	<div class="alert is-active" data-module="chumly-alert" role="alert">
		<div class="alert__content">
			<svg class="alert__content__icon icon" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#lock"></use>
			</svg>
			This is a primary notification to draw the user’s attention but to still present generic information 
		</div>
		<button class="alert__close js-chumly-alert__close">
			<span class="is-hidden--text">Click here to close this alert</span>
			<svg class="alert__close__icon icon" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cross"></use>
			</svg>
		</button>
	</div>

</div>