<figure class="avatar">
	<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
</figure>

<div class="chunk">

	<figure class="avatar avatar--round">
		<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
	</figure>

</div>

<div class="chunk">

	<figure class="avatar avatar--medium">
		<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
	</figure>

</div>

<div class="chunk">

	<figure class="avatar avatar--medium avatar--round">
		<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
	</figure>

</div>

<div class="chunk">

	<figure class="avatar avatar--large">
		<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
	</figure>

</div>

<div class="chunk">

	<figure class="avatar avatar--large avatar--round">
		<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
	</figure>

</div>