<nav class="breadcrumbs">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__inner">Breadcrumb item 1</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__inner">Breadcrumb item 2</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__inner is-active" aria-describedby="current">Current Page</a>
		</li>
	</ul>
</nav>