<div class="button-group">
	<div class="button-group__item">
		<button class="button">Button item number one</button>
	</div>
	<div class="button-group__item">
		<button class="button">Button item number two</button>
	</div>
</div>

<div class="chunk">

	<div class="button-group button-group--rev">
		<div class="button-group__item">
			<button class="button">Button item number one</button>
		</div>
		<div class="button-group__item">
			<button class="button">Button item number two</button>
		</div>
	</div>

</div>

<div class="chunk">

	<div class="button-group button-group--wide">
		<div class="button-group__item">
			<button class="button">Button item number one</button>
		</div>
		<div class="button-group__item">
			<button class="button">Button item number two</button>
		</div>
	</div>

</div>

<div class="chunk">

	<div class="button-group button-group--narrow">
		<div class="button-group__item">
			<button class="button">Button item number one</button>
		</div>
		<div class="button-group__item">
			<button class="button">Button item number two</button>
		</div>
	</div>

</div>

<div class="chunk">

	<div class="button-group button-group--center">
		<div class="button-group__item">
			<button class="button">Button item number one</button>
		</div>
		<div class="button-group__item">
			<button class="button">Button item number two</button>
		</div>
	</div>

</div>

<div class="chunk">

	<div class="button-group button-group--split">
		<div class="button-group__item">
			<button class="button">Button item number one</button>
		</div>
		<div class="button-group__item">
			<button class="button">Button item number two</button>
		</div>
	</div>

</div>