<button class="button">Default Button</button>

<div class="chunk">

	<button class="button button--small">Small Button</button>

</div>

<div class="chunk">

	<button class="button button--large">Large Button</button>

</div>

<div class="chunk">

	<button class="button button--primary">Primary Button</button>

</div>

<div class="chunk">

	<button class="button button--positive">Positive Button</button>

</div>

<div class="chunk">

	<button class="button button--negative">Negative Button</button>

</div>

<div class="chunk">

	<button class="button">
		<svg aria-hidden="true" class="button__icon button__icon--left icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#open"></use>
		</svg>
		Button with left icon
	</button>

</div>

<div class="chunk">

	<button class="button">
		Button with right icon
		<svg aria-hidden="true" class="button__icon button__icon--right icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#open"></use>
		</svg>
	</button>

</div>