<form class="editor">
	<textarea class="editor__input" placeholder="Add your message"></textarea>
	<div class="editor__buttons">
		<div class="editor__icon-buttons">
			<div class="editor__icon-buttons__inner">

				<!-- ICON BUTTON ITEM -->
				<label class="editor__icon-button" for="editor_image">
					<div class="editor__icon-button__inner">
						<div class="editor__icon-button__icon">
							<svg class="icon" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#image"></use>
							</svg>
						</div>
						<div class="editor__icon-button__text">Add Image</div>
						<input class="editor__icon-button__input" id="editor_image" type="file" accept="jpg,png" />
					</div>
				</label>
				<!-- ICON BUTTON ITEM -->

				<!-- ICON BUTTON ITEM -->
				<label class="editor__icon-button" for="editor_other">
					<div class="editor__icon-button__inner">
						<div class="editor__icon-button__icon">
							<svg class="icon" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#image"></use>
							</svg>
						</div>
						<div class="editor__icon-button__text">Another Button For Whatever</div>
						<input class="editor__icon-button__input" id="editor_other" type="file" accept="jpg,png" />
					</div>
				</label>
				<!-- ICON BUTTON ITEM -->
				
			</div>
		</div>
		<div class="editor__post-buttons">

			<!-- USING BUTTON GROUP AGAIN FOR SCALABILITY -->
			<div class="button-group button-group--right">
				<div class="button-group__item">
					<button class="button button--positive">Post Message</button>
				</div>
			</div>
		</div>
	</div>
</form>