<div class="grid">
	<div class="grid__item">

		<div class="placeholder-content">Grid Item</div>

	</div>
	<div class="grid__item">

		<div class="placeholder-content">Grid Item</div>

	</div>
</div>

<div class="chunk">

	<div class="grid grid--thirds">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--quarters">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--one-third-two-thirds">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>
			
		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--two-thirds-one-third">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--middle">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item<br />Another Line</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--bottom">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item<br />Another Line</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--quarters grid--right">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--quarters grid--left">
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
		<div class="grid__item">

			<div class="placeholder-content">Grid Item</div>

		</div>
	</div>

</div>