<div class="grid">
	<div class="grid__item grid__item--palm-one-whole grid__item--lap--one-half grid__item--desk--one-half">

		<div class="placeholder-content">
			Grid item palm whole, lap half, desk half
		</div>

	</div>
	<div class="grid__item grid__item--palm-one-whole grid__item--lap--one-half grid__item--desk--one-half">

		<div class="placeholder-content">
			Grid item palm whole, lap half, desk half
		</div>

	</div>
</div>

<div class="chunk">

	<div class="grid grid--center">
		<div class="grid__item grid__item--palm-one-whole grid__item--lap--one-half grid__item--desk--one-third">

			<div class="placeholder-content">
				Grid centered, item palm whole, lap half, desk third
			</div>

		</div>
		<div class="grid__item grid__item--palm-one-whole grid__item--lap--one-half grid__item--desk--one-third">

			<div class="placeholder-content">
				Grid centered, item palm whole, lap half, desk third
			</div>

		</div>
		<div class="grid__item grid__item--palm-one-whole grid__item--lap--one-half grid__item--desk--one-third">

			<div class="placeholder-content">
				Grid centered, item palm whole, lap half, desk third
			</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--level-heights">
		<div class="grid__item grid__item--two-tenths">

			<div class="placeholder-content">20%</div>

		</div>
		<div class="grid__item grid__item--six-tenths">

			<div class="placeholder-content">
				A six tenths wrapped with two lots of two tenths. Great for desktop and lap but not so good for mobile. <br />
				Some people get funny about loads of classes so this should please them somewhat. 
			</div>
			
		</div>
		<div class="grid__item grid__item--two-tenths">

			<div class="placeholder-content">20%</div>

		</div>
	</div>

</div>

<div class="chunk">

	<div class="grid grid--level-heights">
		<div class="grid__item grid__item--palm--one-whole grid__item--lap--one-third grid__item--desk--two-tenths">

			<div class="placeholder-content">20%</div>

		</div>
		<div class="grid__item grid__item--palm--one-whole grid__item--lap--one-third grid__item--six-tenths">

			<div class="placeholder-content">
				A responsive version of the above. Palm goes full width. Lap breaks to thirds
			</div>
			
		</div>
		<div class="grid__item grid__item--palm--one-whole grid__item--lap--one-third grid__item--two-tenths">

			<div class="placeholder-content">20%</div>

		</div>
	</div>

</div>