<header class="headline">
	<h2 class="headline__heading">A Page Heading</h2>
	<p class="headline__subheadline">Some optional supporting text</p>
</header>

<header class="headline headline--auto-width">
	<h2 class="headline__heading">An Auto Width Page Heading</h2>
	<p class="headline__subheadline">The bottom border will only stretch as far as the text</p>
</header>


<header class="headline headline--secondary">
	<h2 class="headline__heading">A Secondary Page Heading</h2>
	<p class="headline__subheadline">With a slightly smaller font-size</p>
</header>

<header class="headline headline--tertiary">
	<h2 class="headline__heading">A Minor Page Heading</h2>
	<p class="headline__subheadline">Useful for sections and groups</p>
</header>