<!-- NORMAL MESSAGE -->
<div class="message">
	<div class="message__media">
		<figure class="avatar">
			<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
		</figure>
	</div>
	<div class="message__content">
		<a class="message__sender" href="#">Person With A Long Name</a>
		<time class="message__time" datetime="MM-DD-YYYY HH:mm">Yesterday at 14:03</time>
		<div class="message__body wysiwyg">
			<p>Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta. Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta.</p>
			<p>Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta.</p>
		</div>
	</div>
</div>
<!-- NORMAL MESSAGE -->

<!-- NORMAL MESSAGE -->
<div class="message">
	<div class="message__media">
		<figure class="avatar">
			<img class="avatar__image" src="{{ avatar_recipient_url }}" alt="Image of person name" />
		</figure>
	</div>
	<div class="message__content">
		<a class="message__sender" href="#">Person With A Long Name</a>
		<time class="message__time" datetime="MM-DD-YYYY HH:mm">Yesterday at 14:03</time>
		<div class="message__body wysiwyg">
			<p>Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta.</p>
		</div>
	</div>
</div>
<!-- NORMAL MESSAGE -->

<!-- WITH IMAGE -->
<div class="message">
	<div class="message__media">
		<figure class="avatar">
			<img class="avatar__image" src="{{ avatar_recipient_url }}" alt="Image of person name" />
		</figure>
	</div>
	<div class="message__content">
		<a class="message__sender" href="#">Person With A Long Name</a>
		<time class="message__time" datetime="MM-DD-YYYY HH:mm">Yesterday at 14:03</time>
		<div class="message__body wysiwyg">
			<p>Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta.</p>

			<!-- ADD THIS FOR IMAGE -->
			<div class="message__body__image">
				<img src="/images/temp/news-feed-image.jpg" alt="Add some alt text">
			</div>
			<!-- ADD THIS FOR IMAGE -->

		</div>
	</div>
</div>
<!-- WITH IMAGE -->

<!-- WITH VIDEO -->
<div class="message">
	<div class="message__media">
		<figure class="avatar">
			<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
		</figure>
	</div>
	<div class="message__content">
		<a class="message__sender" href="#">Person With A Long Name</a>
		<time class="message__time" datetime="MM-DD-YYYY HH:mm">Yesterday at 14:03</time>
		<div class="message__body wysiwyg">
			<p>Sed hendrerit a nisi at elementum. Suspendisse varius tellus id diam porta.</p>

			<!-- ADD THIS FOR VIDEO -->
			<div class="message__body__video">
				<!-- make sure you add the component class to embed iframes --> 
				<iframe class="message__body__video__embed" width="560" height="315" src="https://www.youtube.com/embed/KRCKS5CI6dM" frameborder="0" allowfullscreen></iframe>
			</div>
			<!-- ADD THIS FOR VIDEO -->
			
		</div>
	</div>
</div>
<!-- WITH VIDEO -->

