<ol class="news-feed">

	<!-- DEFAULT NEWS FEED ITEM -->
	<li class="news-feed__item">
		<div class="news-feed__item__inner">
			<div class="news-feed__item__decor">
				<svg class="button__icon button__icon--right icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#speech-bubble"></use>
				</svg>
			</div>
			<div class="news-feed__item__detail">
				<h3 class="news-feed__item__heading">
					<a href="#">Person Mc Very Long Name</a> added a <a href="#">comment</a> on <a href="#">forum post name with a long name</a>
				</h3>
				<div class="news-feed__item__content">
					<div class="wysiwyg">
						<p>Comment content uses the wysiwyg component, so we’re all good in the hood Lorem ipsum dolor sit amet.</p>
						<p>Morbi id placerat arcu. Pellentesque egestas, justo in efficitur tristique, ex diam sagittis ante.</p>
					</div>
				</div>
				<a href="#" class="comments__item__reply">More</a>
			</div>
		</div>
	</li>
	<!-- DEFAULT NEWS FEED ITEM -->


	<!-- DEFAULT NEWS FEED ITEM WITH MEDIA (IMAGE) -->
	<li class="news-feed__item">
		<div class="news-feed__item__inner">
			<div class="news-feed__item__decor">
				<svg class="button__icon button__icon--right icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#image"></use>
				</svg>
			</div>
			<div class="news-feed__item__detail">
				<h3 class="news-feed__item__heading">
					<a href="#">Person Mc Very Long Name</a> posted an <a href="#">image</a>
				</h3>
				<a href="#" class="news-feed__media">
					<div class="news-feed__item__media" aria-hidden="true">
						<div class="news-feed__item__embed" style="background-image: url(/images/temp/news-feed-image.jpg)"></div>
					</div>
				</a>
				<div class="news-feed__item__content">
					<div class="wysiwyg">
						<p>Morbi id placerat arcu. Pellentesque egestas, justo in efficitur tristique, ex diam sagittis ante.</p>
					</div>
				</div>
				<a href="#" class="comments__item__reply">More</a>
			</div>
		</div>
	</li>
	<!-- DEFAULT NEWS FEED ITEM WITH MEDIA (IMAGE) -->

	<!-- DEFAULT NEWS FEED ITEM WITH MEDIA (VIDEO) -->
	<li class="news-feed__item">
		<div class="news-feed__item__inner">
			<div class="news-feed__item__decor">
				<svg class="button__icon button__icon--right icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#video"></use>
				</svg>
			</div>
			<div class="news-feed__item__detail">
				<h3 class="news-feed__item__heading">
					<a href="#">Person Mc Very Long Name</a> posted a <a href="#">video</a>
				</h3>
				<div class="news-feed__media">
					<div class="news-feed__item__media" aria-hidden="true">
						<!-- make sure you add the component class to embed iframes --> 
						<iframe class="news-feed__item__embed" width="560" height="315" src="https://www.youtube.com/embed/KRCKS5CI6dM" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="news-feed__item__content">
					<div class="wysiwyg">
						<p>Morbi id placerat arcu. Pellentesque egestas, justo in efficitur tristique, ex diam sagittis ante.</p>
					</div>
				</div>
				<a href="#" class="comments__item__reply">More</a>
			</div>
		</div>
	</li>
	<!-- DEFAULT NEWS FEED ITEM WITH MEDIA (VIDEO) -->


	<!-- DEFAULT NEWS FEED ITEM HEADING ONLY -->
	<li class="news-feed__item">
		<div class="news-feed__item__inner">
			<div class="news-feed__item__decor">
				<svg class="button__icon button__icon--right icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#head"></use>
				</svg>
			</div>
			<div class="news-feed__item__detail">
				<h3 class="news-feed__item__heading">
					<a href="#">Person Mc Very Long Name</a> became friends with <a href="#">Another Person with a long name</a>
				</h3>
			</div>
		</div>
	</li>
	<!-- DEFAULT NEWS FEED ITEM HEADING ONLY -->


</ol>