<nav class="pagination">
	<ul class="pagination__group">
		<li class="pagination__item">
			<a href="#" class="pagination__item__inner" aria-label="First page">
				<svg aria-hidden="true" class="pagination__icon icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#rewind"></use>
				</svg>
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__item__inner" aria-label="Previous page">
				<svg aria-hidden="true" class="pagination__icon icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#angle-left"></use>
				</svg>
			</a>
		</li>

		<!-- Inner loop of pages -->
		<li class="pagination__item pagination__item--nesting-parent">
			<ol class="pagination__group">
				<li class="pagination__item pagination__item--numerical">	
					<a href="#" class="pagination__item__inner is-active" aria-describedby="current">
						<span class="is-hidden--text">Go to page </span>1
					</a>
				</li>
				<li class="pagination__item pagination__item--numerical">	
					<a href="#" class="pagination__item__inner">
						<span class="is-hidden--text">Go to page </span>2
					</a>
				</li>
				<li class="pagination__item pagination__item--numerical">	
					<a href="#" class="pagination__item__inner">
						<span class="is-hidden--text">Go to page </span>3
					</a>
				</li>
				<li class="pagination__item pagination__item--numerical">	
					<a href="#" class="pagination__item__inner">
						<span class="is-hidden--text">Go to page </span>4
					</a>
				</li>
				<li class="pagination__item pagination__item--numerical">	
					<span class="pagination__item__inner">
						...
					</span>
				</li>
				<li class="pagination__item pagination__item--numerical">	
					<a href="#" class="pagination__item__inner">
						<span class="is-hidden--text">Go to page </span>25
					</a>
				</li>
			</ol>
		</li>
		<!-- Inner loop of pages -->

		<li class="pagination__item">
			<a href="#" class="pagination__item__inner" aria-label="Next page">
				<svg aria-hidden="true" class="pagination__icon icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#angle-right"></use>
				</svg>
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__item__inner" aria-label="Last page">
				<svg aria-hidden="true" class="pagination__icon icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#fast-forward"></use>
				</svg>
			</a>
		</li>
	</ul>
</nav>