<div data-module="chumly-alert" data-settings='{"destroyOnClose": false, "isAlertChildElem": true}'>

	<button class="button js-chumly-alert__show">Show Default Prompt</button>

	<div class="prompt js-chumly-alert__elem" role="alert" style="visibility: hidden">
		<div class="prompt__window">
			<div class="prompt__header">
				<h3 class="prompt__heading">This is a prompt</h3>
			</div>
			<div class="prompt__content wysiwyg">
				<p>Curabitur volutpat, nibh quis consectetur maximus, sem felis vulputate orci, et venenatis odio turpis ut enim. Nunc viverra orci enim, ac sollicitudin dui dignissim ut.</p>
			</div>
			<div class="prompt__button">
				<button class="button js-chumly-alert__close">Okay, thanks</button>
			</div>
		</div>
		<div class="prompt__overlay js-chumly-alert__close" aria-hidden="true"></div>
	</div>
</div>


<div class="chunk">

	<div data-module="chumly-alert" data-settings='{"destroyOnClose": false, "isAlertChildElem": true}'>

		<button class="button button--negative js-chumly-alert__show">Show Negative Prompt</button>

		<div class="prompt prompt--negative js-chumly-alert__elem" role="alert" style="visibility: hidden">
			<div class="prompt__window">
				<div class="prompt__header">
					<h3 class="prompt__heading">This is a negative prompt</h3>
				</div>
				<div class="prompt__content wysiwyg">
					<p>Curabitur volutpat, nibh quis consectetur maximus, sem felis vulputate orci, et venenatis odio turpis ut enim. Nunc viverra orci enim, ac sollicitudin dui dignissim ut.</p>
				</div>
				<div class="prompt__button">
					<button class="button js-chumly-alert__close">Okay, thanks</button>
				</div>
			</div>
			<div class="prompt__overlay js-chumly-alert__close" aria-hidden="true"></div>
		</div>
	</div>

</div>


<div class="chunk">

	<div data-module="chumly-alert" data-settings='{"destroyOnClose": false, "isAlertChildElem": true}'>

		<button class="button button--positive js-chumly-alert__show">Show Positive Prompt</button>

		<div class="prompt prompt--positive js-chumly-alert__elem" role="alert" style="visibility: hidden">
			<div class="prompt__window">
				<div class="prompt__header">
					<h3 class="prompt__heading">This is a positive prompt</h3>
				</div>
				<div class="prompt__content wysiwyg">
					<p>Curabitur volutpat, nibh quis consectetur maximus, sem felis vulputate orci, et venenatis odio turpis ut enim. Nunc viverra orci enim, ac sollicitudin dui dignissim ut.</p>
				</div>
				<div class="prompt__button">
					<button class="button js-chumly-alert__close">Okay, thanks</button>
				</div>
			</div>
			<div class="prompt__overlay js-chumly-alert__close" aria-hidden="true"></div>
		</div>
	</div>

</div>


<div class="chunk">

	<div data-module="chumly-alert" data-settings='{"destroyOnClose": false, "isAlertChildElem": true}'>

		<button class="button button--primary js-chumly-alert__show">Show Primary Prompt</button>

		<div class="prompt prompt--primary js-chumly-alert__elem" role="alert" style="visibility: hidden">
			<div class="prompt__window">
				<div class="prompt__header">
					<h3 class="prompt__heading">This is a primary prompt</h3>
				</div>
				<div class="prompt__content wysiwyg">
					<p>Curabitur volutpat, nibh quis consectetur maximus, sem felis vulputate orci, et venenatis odio turpis ut enim. Nunc viverra orci enim, ac sollicitudin dui dignissim ut.</p>
				</div>
				<div class="prompt__button">
					<button class="button js-chumly-alert__close">Okay, thanks</button>
				</div>
			</div>
			<div class="prompt__overlay js-chumly-alert__close" aria-hidden="true"></div>
		</div>
	</div>

</div>