<div class="size--palm--one-whole size--lap--one-half size--desk--two-thirds">
	<div class="placeholder-content">Palm one whole. Lap one half. Desk two thirds.</div>
</div>



<div class="chunk">


	<div class="size--palm--one-half size--lap--one-whole size--desk--two-tenths">
		<div class="placeholder-content">Palm one half. Lap one whole. Desk two tenths.</div>
	</div>


</div>