<div class="tabs tabs--framed" data-module="chumly-tabs" data-settings='{"singleToggle":true}'>
	<nav class="tabs__nav">
		<a href="#tab-one" class="tabs__tab is-active js-tabs__trigger" role="button">
			<div class="tabs__tab__inner">
				Tab item one
			</div>
		</a>
		<a href="#tab-two" class="tabs__tab js-tabs__trigger" role="button">
			<div class="tabs__tab__inner">
				Tab item two
			</div>
		</a>
		<a href="#tab-three" class="tabs__tab js-tabs__trigger" role="button">
			<div class="tabs__tab__inner">
				Tab item three
			</div>
		</a>
	</nav>
	<div class="tabs__panels">

		<div class="tabs__panel js-tabs__target" id="tab-one">
			<a href="#tab-one" class="tabs__panel__heading is-active js-tabs__trigger" role="button">
				Tab item one
			</a>
			<div class="tabs__panel__inner">
				<article class="wysiwyg clear">
					<h2>Any old content can go here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</article>
			</div>
		</div>

		<div class="tabs__panel js-tabs__target" id="tab-two">
			<a href="#tab-two" class="tabs__panel__heading js-tabs__trigger" role="button">
				Tab item two
			</a>
			<div class="tabs__panel__inner">
				<article class="wysiwyg clear">
					<h2>Another tab</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</article>
			</div>
		</div>

		<div class="tabs__panel js-tabs__target" id="tab-three">
			<a href="#tab-three" class="tabs__panel__heading js-tabs__trigger" role="button">
				Tab item three
			</a>
			<div class="tabs__panel__inner">
				<article class="wysiwyg clear">
					<h2>Such content</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</article>
			</div>
		</div>
		
	</div>
</div>