<div class="upload-status" data-module="chumly-upload-status">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" class="[ icon ] [ upload-status__icon ]">
	<circle class="upload-status__base" cx="56" cy="56" r="51.5"/>
	<circle class="upload-status__ring" cx="56" cy="56" r="53.5"/>
	<circle class="[ upload-status__status-ring ] [ js-upload-status__status-ring ]" cx="56" cy="56" r="53.5" stroke-dasharray="0 336.2" stroke-dashoffset="84.05" data-complete-dasharray="336.2" />
	<path class="upload-status__cloud" class="st3" d="M61.5,35c2.6,0,5.1,0.5,7.5,1.5c2.4,1,4.5,2.4,6.2,4.1c1.7,1.7,3.1,3.8,4.1,6.2
		c1,2.4,1.5,4.9,1.5,7.5c0,2.4-0.4,4.8-1.3,7.1c-0.9,2.3-2.1,4.2-3.6,5.9c-1.5,1.7-3.4,3.1-5.5,4.2c-2.1,1.1-4.4,1.8-6.8,2.1v-4.3
		c2.4-0.3,4.6-1.2,6.6-2.6c2-1.4,3.5-3.2,4.7-5.3c1.1-2.2,1.7-4.5,1.7-7c0-2-0.4-4-1.2-5.9c-0.8-1.9-1.9-3.5-3.2-4.8
		c-1.3-1.3-3-2.4-4.8-3.2c-1.9-0.8-3.8-1.2-5.9-1.2c-1.9,0-3.7,0.3-5.4,1c-1.7,0.7-3.2,1.6-4.6,2.7c-1.3,1.1-2.4,2.5-3.3,4.1
		c-0.9,1.6-1.5,3.3-1.7,5.1h-4.5c-2.4,0-4.4,0.8-6.1,2.5c-1.7,1.7-2.5,3.7-2.5,6.1c0,1.3,0.3,2.5,0.8,3.6s1.2,2,2,2.7
		C37,68,38,68.5,39,68.9c1,0.4,2,0.6,3.1,0.6h8.6v4.3h-8.6c-2.3,0-4.5-0.6-6.5-1.7s-3.6-2.7-4.7-4.7s-1.7-4.2-1.7-6.5
		s0.6-4.5,1.7-6.5c1.2-2,2.7-3.6,4.7-4.7c2-1.2,4.1-1.7,6.5-1.7h1.1c0.9-2.5,2.2-4.7,4-6.7c1.8-2,3.9-3.5,6.4-4.6
		C56.1,35.6,58.7,35,61.5,35L61.5,35z M57.2,52.3c0.6,0,1.1,0.2,1.5,0.6l6.5,6.5c0.4,0.4,0.6,0.9,0.6,1.5c0,0.6-0.2,1.1-0.6,1.5
		c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6l-2.8-2.8v14.2c0,0.6-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6
		S55,74.4,55,73.8V59.6l-2.8,2.8c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6s-0.6-0.9-0.6-1.5c0-0.6,0.2-1.1,0.6-1.5l6.5-6.5
		C56.1,52.5,56.6,52.3,57.2,52.3z"/>
	<path class="upload-status__check" class="st3" d="M74.9,42c0.6,0,1.2,0.2,1.6,0.6s0.6,1,0.6,1.6c0,0.6-0.2,1.2-0.7,1.6L49.3,73
		c-0.4,0.4-1,0.7-1.6,0.7s-1.2-0.2-1.6-0.7L32.5,59.5c-0.4-0.4-0.7-1-0.7-1.6c0-0.6,0.2-1.2,0.6-1.6c0.4-0.4,1-0.6,1.6-0.6
        c0.6,0,1.2,0.2,1.6,0.7l12,12l25.6-25.6C73.7,42.2,74.2,42,74.9,42z"/>
    <path class="upload-status__cross" d="M71.8,40c0.6,0,1.2,0.2,1.6,0.6c0.4,0.4,0.6,1,0.6,1.6c0,0.6-0.2,1.2-0.7,1.6L59.2,58l14.2,14.2
        c0.4,0.4,0.7,1,0.7,1.6c0,0.6-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.6,0.6c-0.6,0-1.2-0.2-1.6-0.7L56,61.2L41.8,75.3
        c-0.4,0.4-1,0.7-1.6,0.7c-0.6,0-1.2-0.2-1.6-0.6c-0.4-0.4-0.6-1-0.6-1.6c0-0.6,0.2-1.2,0.7-1.6L52.8,58L38.7,43.8
        c-0.4-0.4-0.7-1-0.7-1.6c0-0.6,0.2-1.2,0.6-1.6c0.4-0.4,1-0.6,1.6-0.6c0.6,0,1.2,0.2,1.6,0.7L56,54.8l14.2-14.2
        C70.6,40.2,71.1,40,71.8,40z"/>
	</svg>
</div>