<nav class="user-status" data-module="chumly-toggle">
	<ul class="user-status__inner">
		<li class="user-status__item user-status__item--palm-fill">
			<a href="#" class="user-status__text">Hello, User Name</a>
		</li>
		<li class="user-status__item">
			<a href="#" class="user-status__icon">
				<span class="is-hidden--text">Your profile</span>
				<svg class="icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#head"></use>
				</svg>
			</a>
		</li>
		<li class="user-status__item">
			<a href="#" class="user-status__icon">
				<span class="is-hidden--text">Your notifications</span>
				<svg class="icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#bell"></use>
				</svg>
				<span class="user-status__indicator" aria-hidden="true"></span>
			</a>
		</li>
		<li class="user-status__item">
			<a href="#user-settings-menu" class="user-status__icon js-toggle__trigger">
				<span class="is-hidden--text">Your settings</span>
				<svg class="icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#cog"></use>
				</svg>
			</a>

			<!-- OPTIONAL SUB MENU -->
			<ul class="user-status__sub-menu js-toggle__target" id="user-settings-menu">
				<li class="user-status__sub-menu__item">
					<a href="#">A settings item</a>
				</li>
				<li class="user-status__sub-menu__item">
					<a href="#">Another settings item</a>
				</li>
				<li class="user-status__sub-menu__item">
					<a href="#">One more settings item</a>
				</li>
				<li class="user-status__sub-menu__mask">
					<a href="#user-settings-menu" class="js-toggle__trigger">Close menu</a>
				</li>
			</ul>
			<!-- OPTIONAL SUB MENU -->

		</li>
		<li class="user-status__item">
			<a href="#" class="user-status__icon">
				<span class="is-hidden--text">Help and support</span>
				<svg class="icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#help"></use>
				</svg>
			</a>
		</li>
	</ul>
</nav>
