.alert {
	
	@include mode($core-mode) {

		@extend %transition-all;

		display: block;
		padding: 10px 40px 12px 40px; 
		position: relative;
		background: $grey--mid;
		border-radius: $radius;
		overflow: hidden;
		height: auto;
		opacity: 1;
		width: 550px;
		margin: 0 auto;
		z-index: 1000;

		@include content-flow('.alert'){
			margin-top: $gutter;
		}
		
		&__content {
			display: inline-block;
			width: 100%;
			text-align: center;
			color: $white;
			vertical-align: middle;
			
			a{
				color: $white;
				text-decoration: underline;
			}

			&__icon {
				width: 16px;
				height: 16px;
				fill: $white;
				top: 2px;
				margin-right: 5px;
			}
		}

		&__close {
			border: none;
			background: none;
			padding: 0px;
			margin: 0px;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: 1px;
			cursor: pointer;
	   		-webkit-appearance: none;
	   		transform: translate3d(0, -50%, 0);

	   		&:hover {
	   			.alert__close__icon {
	   				opacity: 0.7;
	   			}
	   		}

			&__icon {
				fill: $white;
				width: 20px;
				height: 20px;
			}
		}

		&--negative {
			background: $negative-color;
		}

		&--positive {
			background: $positive-color;
		}

		&--primary {
			background: $primary-color;
		}

		&--auto-width {
			display: inline-block;
			width: auto;
		}

		// Hidden state
		&:not(.is-active) {
			height: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			opacity: 0;
		}
	}

}