.avatar {

	@include mode($user-mode) {

		display: inline-block;
		position: relative;
		background: $eggshell;
		border: 1px solid $grey--light;
		width: 50px;
		min-width: 50px;
		height: 50px;
		border-radius: $radius;
		overflow: hidden;

		&__image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			border-radius: $radius--mini;
			
		}

		&__content{
			padding-top: $gutter--mini;
			text-align: center;
		}
		
		&--auto{
			width: auto;
			height: 100%;
		}
		
		&--wide{
			
			width: 100%;
			height: auto;
			
			.avatar__image {
				width: auto;
				height: auto;
				margin: 0 auto;
			}
			
		}
		
		&--round {
		//	overflow: hidden;

			&,
			.avatar__image {
				border-radius: 100%;
			}
		}

		&--small {
			width: 100%;
			height: auto;
			padding: 2px;

			.avatar__image {
				border: 1px solid $grey--light;
			}
		}

		&--medium {
			width: 100%;
			height: auto;
			padding: 2px;

			.avatar__image {
				border: 1px solid $grey--light;
			}
		}

		&--large {
			width: 130px;
			height: 130px;
			padding: 4px;

			.avatar__image {
				border: 1px solid $grey--light;
			}
		}
		
		&--huge{
			
			height: 205px;
			width: 205px;
			//padding: 4px;
			
			.avatar__image{
				
				object-fit: cover;
				//border: 1px solid $grey--light;
				
			}
			
		}
		
		&:hover{
			
			.avatar__edit{
				
				@extend %transition-all;
				
				visibility: visible;
				opacity: 1;
			}
			
		}
		
		&__edit{
			
			//display: none;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: auto !important;
			right: 10px;
			bottom: 10px;
			z-index: 10;
			text-decoration: none;
			
		}
		
	}
}