.box {

	@include mode($layouts-mode) {
		
		@extend %box;

		display: block;
				
		&--flush{
			
			padding-top: 0;
			padding-bottom: 0;
			
		}

		&--radius_top {
			@extend %box--radius-top;
		}

		&--radius_bottom {
			@extend %box--radius-bottom;
		}
		
	}
}
