.breadcrumbs {

	@include mode($nav-mode) {

		@extend %overflow-nav-parent;

		&__list {
			@extend %overflow-nav;
		}

		&__item {
			@extend %overflow-nav__item;

			@include content-flow(".breadcrumbs__item") {
				&:before {
					content: ">";
					margin-right: $gutter--mini;
					color: $grey;
				}
			}

			@include content-flow('.breadcrumbs__item') {
				padding-left: $gutter--mini;
			}
		}

		&__inner {
			text-decoration: none;

			@include hover() {

				&:not(.is-active) {
					text-decoration: underline;
				}
			}

			&:not(.is-active) {
				color: $primary-color;
			}
			
			&.is-active {
				color: $grey--mid-dark;
				cursor: default;
				font-weight: bold;
			}
		}
	}
}