.breathe {
	
	@include mode($core-mode) {

		//display: block;

		&:not([class*="breathe--"]) {
			margin: $gutter 0;
		}

		&--top {
			margin-top: $gutter;
		}

		&--bottom {
			margin-bottom: $gutter;
		}
		
		&--bottom-double {
			margin-bottom: $gutter--double;
		}
		
		&--bottom-mini{
			margin-bottom: $gutter--mini;
		}

	}
}