.button-group {

	@include mode($interactions-mode) {

		@extend %grid;
		@extend %grid--middle;

		&--rev {
			@extend %grid--rev;
		}

		&--wide {
			@extend %grid--wide;
		}

		&--narrow {
			@extend %grid--narrow;
		}

		&--center {
			@extend %grid--center;
		}

		&--split {
			@extend %grid--split;
		}

		&--right {
			@extend %grid--right;
		}
		
		&__item{
			position: relative;
		}
	}
}