.button {
	
	@include mode($interactions-mode) {
		
		margin: 0;
		font-family: $base-font-family;
		border: 1px solid;
		border-color: $grey--light;
		background: transparent;
		border-radius: $radius;
		//color: $primary-color;
		position: relative;
		z-index: 100;
		font-weight: normal;
		vertical-align: middle;
		text-transform: capitalize;
		text-decoration: none;
		
		@include button();
		
		@include hover(true) {
			color: $primary-color;
			background: $grey--eggshell;
		}
		
		&:active {
			top: 2px;
		}
		
		// Default padding and font size
		&:not(.button--large):not(.button--huge) {
			padding: 0 11px;
			font-size: $base-font-size;
			height: 35px;
			line-height: 34px;
			
			.button__icon {
				margin: 0 2px;
				padding: 0;
				height: 14px;
				width: 18px;
				top: 3px;
			}

		}
		
		// Default icon styles
		&__icon {
			width: $base-font-size;
			height: $base-font-size;
			fill: $blue;
			top: 2px;
			
			&--left {
				margin-right: 5px;
			}
			
			&--right {
				margin-left: 0px;
				padding: 0;
			}
			
			//Hide icon if position modifier not set
			&:not(.button__icon--right):not(.button__icon--left) {
				display: none;
			}
		}
		
		&[disabled="disabled"]{
			background-color: $grey--eggshell;
			border: 1px solid $grey--light;
			cursor: not-allowed;
			
			@include hover(){
				background-color: $grey--eggshell;
			}
			
		}
				
		// Small and large modifiers
		&--large {
			
			padding: 10px 18px 14px;
			
			font-size: $base-font-size;
			
			.button__icon--large {
				margin: 0 2px;
				padding: 0;
				height: 24px;
				width: 24px;
				top: 6px;
			}
			
			@include hover(){
				
				.button__icon{
					fill: $grey;
				}
				
			}
			
		}
		
		&--huge {
			padding: 16px 26px;
			
			font-size: $large-font-size;
			
			.button__icon {
				width: 18px;
				height: 18px;
			}
		}
		
		// Status modifiers
		&--clear{
			border: none;
			color: $grey;
			
			@include hover(true) {
				color: $grey;
				background: transparent;
			}
			
			
		}
		
		&--neutral {
			background: $eggshell;
			border-color: $eggshell;
			color: $grey--mid;
			
			@include hover(true) {
				color: $grey--mid;
			}
			
		}
		
		&--primary {
			background: $grey;
			border-color: $grey;
			color: $white;
			
			@include hover(true) {
				background: $grey--mid;
				color: $white;
			}
		}
		
		&--positive {
			background: $positive-color;
			border-color: $positive-color;
			color: $white;
			
			@include hover(true) {
				background: $positive-color--mid;
				color: $white;
			}
		}
		
		&--negative {
			background: $negative-color;
			border-color: $negative-color;
			color: $white;
			
			@include hover(true) {
				background: $negative-color--mid;
				color: $white;
			}
		}

		&--respond {
			background: $lagoon;
			border-color: $lagoon;
			color: $white;
			
			@include hover(true) {
				background: $overboard;
				color: $white;
			}
		}
		
		&--clear {
			.button__icon {
				fill: $grey;
			}
		}
		
		&--neutral {
			.button__icon {
				fill: $grey--mid;
			}
		}
		
		&--primary,
		&--positive,
		&--negative,
		&--respond {
			.button__icon {
				fill: $white;
			}
		}
		
	}
	
}

input[type=submit] {

	@include mode($interactions-mode) {

		&.update_profile,
		&.update_group {
			margin: 0;
			font-family: $base-font-family;
			background: $positive-color;
			border-color: $positive-color;
			color: $white;
				
			border-radius: $radius;
			position: relative;
			z-index: 100;
			font-weight: normal;
			vertical-align: middle;
			text-transform: capitalize;
			text-decoration: none;
			padding: 8px 11px 6px;
			font-size: $base-font-size;

			@include button();

			@include hover(true) {
				background: $positive-color--mid;
				color: $white;
			}
		}

	}
}