.card {
	text-align: center;
	
	&__inner {
		display: block;
		text-decoration: none;
	}
	
	&__image {
		width: 100%;
		&__inner {
			text-align: center;
		}
		
		&__image {
			height: 130px;
			width: 130px;
			max-width: 100%;
			overflow: hidden;
			
			@include media-query("portable") {
				height: auto;
				width: 100%;
			}
			
			& img {
				object-position: 50% 50%;
			}
			
		}
		
		&__text {
			padding-top: $gutter--quarter;
			color: $black;
		}
		
		&__members {
			
			@extend %flex-wrapper;
			justify-content: center;
			
			a {
				width: 20%;
				padding: 4px;
			}
			
		}
		
	}
	
}