.chunk {
	
	@include mode($core-mode) {

		display: block;

		&:not([class*="chunk--"]) {
			padding: $gutter 0;
		}

		&--mini {
			padding: $gutter--mini 0;
		}

		&--midi {
			padding: $gutter--midi 0;
		}

		&--double {
			padding: $gutter--double 0;
		}

		&--treble {
			padding: $gutter--treble 0;
		}

		// remove padding from direct siblings for a neat flow
		@include content-flow(".chunk") {
			padding-top: 0px;
		}

	}
}