@include mode($core-mode) {
	
	.is-hidden {
		@extend %is-hidden;
	}
		.is-hidden--palm {
			@extend %is-hidden--palm;
		}

		.is-hidden--portable {
			@extend %is-hidden--portable;
		}

		.is-hidden--portable-and-up {
			@extend %is-hidden--portable-and-up;
		}

		.is-hidden--lap {
			@extend %is-hidden--lap;
		}

		.is-hidden--desk {
			@extend %is-hidden--desk;
		}

		.is-hidden--desk-wide {
			@extend %is-hidden--desk-wide;
		}

	.is-visible {
		@extend %is-visible;
	}

	.is-muted {
		@extend %is-muted;
	}

	.is-hidden--text {
		@extend %is-hidden--text;
	}

	.no-print {
		@extend %no-print;
	}
}