.dropdown {
	
	position: relative;
	z-index: 100;
	
	&__inner {
		position: relative;
	}
	
	&__menu {
		@extend %transition-all--swing;
		
		position: absolute;
		top: 100%;
		left: 0px;
		
		max-height: 0px;
		min-width: 100%;
		margin: 0;
		border: 1px solid $grey;
		box-shadow: 2px 2px 2px $grey--light;
		border-radius: $radius;
		background-color: $white;
		opacity: 0;
		overflow: hidden;
		
		@include media-query("lap-and-up") {
			//right: 0;
			//left: auto;
			//text-align: right;
		}
		
		&.is-active {
			max-height: 500px;
			opacity: 1;
			
			.dropdown__menu__mask {
				display: block;
			}
		}
		
		&__item, a, button {
			
			display: block;
			//	background: $primary-color;
			border: none;
			padding: 7px 10px;
			//	color: $white;
			line-height: 1.2em;
			color: $grey--mid;
			cursor: pointer;
			@include hover(true) {
				background: $eggshell;
				text-decoration: none;
			}
			
		}
		
		&__divider {
			display: block;
			height: 1px;
			width: 100%;
			background-color: $grey--light;
		}
		
		&__mask {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: transparent;
			z-index: -1;
			display: none;
			
			a {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				cursor: default;
			}
		}
	}
	
	/*
	visibility: hidden;
	opacity: 0;

	@extend %transition-all;
	
	li {
		padding: $gutter--mini $gutter;
		white-space: nowrap;
		cursor: pointer;
		&:hover {
			background-color: $eggshell;
		}
	}
	
	
	&.is-active {
		visibility: visible;
		opacity: 1;
	}
	*/
}