.editor {
	
	@include mode($messaging-mode) {
		
		//border: 1px solid $grey--light;
		//border-radius: $radius;
		margin: 0 0 $gutter--double;
		//padding: $gutter;
		
		&__input {
			@extend %form-field;
			
			font-size: 1rem;
			width: 100%;
			min-height: 50px;
			max-height: 200px;
			resize: none;
			padding: 8px;
			background: $white !important;
		}
		
		&__buttons {
			@extend %grid;
			@extend %grid--full;
			@extend %grid--middle;
			
			padding: $gutter--mini 0 0 0;
			
			&--right {
				@extend %grid--right;
				
				.editor__icon-buttons__inner {
					@extend %grid--right;
				}
				
			}
			
		}
		
		&__icon-buttons {
			@extend %palm--one-whole;
			
			@extend %lap--one-half;
			@extend %desk--one-half;
			
			&__inner {
				
				@extend %lap--one-whole;
				@extend %desk--one-whole;
				
				&__inner {
					
					@extend %grid;
					@extend %grid--middle;
				}
			}
			
			
        }
        
        &__icon-button {
            width: 100%;
            
            @include media-query("lap-and-up") {
                width: auto;
                max-width: 300px;
            }
            
            &__inner {
                
                @extend %grid;
                @extend %grid--full;
                @extend %grid--middle;
                
                display: inline-flex;
            }
            
            &__icon {
                width: 16px;
                
                .icon {
                    width: 16px;
                    height: 16px;
                    fill: $grey;
                    top: 2px;
                }
            }
            
            &__text {
                width: calc(100% - 16px);
                color: $grey--mid;
                padding: 0 0 0 7px;
                @include font-size(14px, true, false, $tight-line-height-ratio);
            }
            
            &__input {
                opacity: 0;
                position: absolute;
            }
            
            @include hover() {
                .editor__icon-button__text {
                    color: $primary-color;
                }
                
                .editor__icon-button__icon {
                    .icon {
                        fill: $primary-color;
                    }
                }
            }
        }

        &__post-buttons {
            @extend %palm--one-whole;
            
            @extend %lap--one-half;
            @extend %desk--one-half;
            
            @include media-query("palm") {
                width: 100%;
                
                @include media-query("palm") {
                    padding-top: $gutter;
                }
            }
            
            
            
            &__feedback {
                width: 100%;
            }
            
        }
	}
}