.form {
	@include mode($core-mode) {
		
		@extend %grid;
		@extend %grid--full;
		
		&__group {
			
			position: relative;
			width: 100%;
			padding: 0 0 0;
			
			@include content-flow(".form__group") {
				padding-top: $gutter;
			}
			
			&--right {
				text-align: right;
			}
			
			&__label {
				//display: block;
				margin-bottom: $gutter--quarter;
				//padding-right: $gutter;
				cursor: pointer;
				
				@include hover() {
					//color: $primary-color;
				}
			}
			
			&__input{
				
				@extend %form-field;
				//font-size: 1rem;
				margin: 0 !important;
				padding: 0 8px;
				line-height: 33px;
				
				&--fill{
					width: 100%;
				}
				
				&--multiline {
					min-height: 50px;
				}
				
				&--singleline {
					min-height: 35px !important;
					height: 35px !important;
					resize: none;
					
					&:not(:first-child) {
						margin-left: 15px !important;
					}
					
				}
								
			}

			&__field {
				&--multiline {
					line-height: 24px !important;
					padding: 8px;
				}
			}
			
			&__inline {
				
				@extend %flex-wrapper;
				
				width: 100%;
				align-items: flex-start;
				justify-content: space-between;
				
				button {
					margin-left: $gutter--mini;
					height: 35px;
					line-height: 34px;
					padding: 0 11px !important;
				}
				
			}
			
			&__radio{
				
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				position: relative;
				user-select: none;
				
				.button-group{
					align-items: flex-start;
				}
				
				label{
					
					position: relative;
					flex-basis: 0;
					flex-grow: 1;
					cursor: default;
					
				}
				
				input{
					
					@include button();
					
					position: absolute;
					display: none;
					
				}
				
			}
			
			&__select {
				@extend %form-field;
				//height: 35px;
				font-size: 1rem;
				padding: 8px 25px 5px 8px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url('../../../../../framework/chumly/svg/arrow-down.svg') $white no-repeat right 10px center !important;
				background-size: 10px auto !important;

				&::-ms-expand { 
					display: none; /* remove default arrow in IE 10 and 11 */
				}
				
				&--narrow {
					width: auto;
				}
				
				&--big {
										
					font-size: $base-font-size;
					padding: 8px 11px;
										
				}
				
			}
			
			&__checkbox{
				
				@extend %flex-wrapper;
				
				margin-top: 8px;
				
				&__label{
					padding-left: 5px;
					line-height: $base-font-size;
				}
				
				&__input {
					
					@extend %form-field;
					
					height: 14px;
					width: 14px;
					
				}
								
			}
			
			&__file{
				
				label {
					
					margin-right: 8px;
					
				}
					
				input[type="file"]{
					
					@extend %is-hidden;
					
				}
				
			}
			
			input{
				margin: 0;	
			}
			
		}
	}
}

/** Affected files: profile-field-functions.php Line 180 & 286, input-functions.php Line 35, group-functions.php Line 93 */