.headline {
	
	@include mode($core-mode) {
		
		margin: 0 0 $gutter 0;
		background: inherit;
		text-align: left;
		position: relative;
		
		&--non-cap > * {
			text-transform: none !important;
		}
		
		&__heading {
			@extend %heading-primary;
			line-height: 1.3em;
			display: block;
		}

		&__meta {
			position: absolute;
			right: 0px;
			top: -30px;
			background: $neutral-color;
			color: $white;
			padding: $gutter--mini $gutter--mini 6px;
			border-radius: 0 0 $radius $radius;

			&:before {
				content: "";
				border-top: 10px solid transparent;
  				border-bottom: 0px solid transparent; 
				border-right: 5px solid $grey--mid-dark;
				position: absolute;
				left: -5px;
				top: 0px;
			}

			&:after {
				content: "";
				border-top: 10px solid transparent;
  				border-bottom: 0px solid transparent; 
				border-left: 5px solid $grey--mid-dark;
				position: absolute;
				right: -5px;
				top: 0px;
			}
		}
		
		&__subheadline {
			color: $grey--mid;
			display: block;
			
			@include font-size(18px, true, false, $tight-line-height-ratio);
		}
		
		&--secondary {
			.headline__heading {
				@extend %heading-secondary;
			}
		}
		
		&--tertiary {
			.headline__heading {
				@extend %heading-tertiary;
			}
			
			.headline__subheadline {
				@include font-size(16px, true, false, $tight-line-height-ratio);
			}
		}
		
		&--auto-width {
			display: inline-block;
		}

		.star-rating {
			position: relative;
			left: 20px;
			top: -5px;
			display: inline-block;
			border-left: $grey--mid solid 1px;
			padding-left: 16px;
		}

		.form__group {
			padding-top: 20px;

			.search__results {
				top: 35px;
			}
		}
	}
}