.hero {
	
	@include mode($core-mode) {
		
		overflow: hidden;
		position: relative;
		display: block;
		padding: 0 0 $gutter--mini 0;
		
		&--400 {
			height: 400px;
		}
		
		&__image {
			height: 100%;
			width: 100%;
			object-fit: cover !important;
		}
		
		&__wrapper {
			
			height: 100%;
			//display: flex;
			
		}
		
		&__heading {
			
			display: flex;
			
			font-size: 30px;
			
			&__icon {
				
				padding-right: $gutter--mini;
				
			}
			
		}
		
		&__content {
			
			@extend %grid;
			@extend %one-whole;
			
			flex-wrap: nowrap;
			
			&--narrow {
				
				@extend %palm--one-whole;
				@extend %lap--seven-tenths;
				@extend %desk--seven-tenths;
				
			}
			
			position: relative;
			padding: 0;
			text-align: left;
			
		}
		
		&__summary {
			@extend %grid__item;
			@extend %palm--one-whole;
			@extend %lap--six-tenths;
			@extend %desk--six-tenths;
			
			//flex-wrap: nowrap;
			color: black;
		}
		
		&__decor {
			@extend %grid__item;
			@extend %palm--one-whole;
			@extend %lap--four-tenths;
			@extend %desk--four-tenths;
			
			position: relative;
			padding: $gutter 0 0 0;
			
			img {
				
				display: none;
				
				@include media-query("lap-and-up") {
					//max-height: calc(#{"100% + " + $gutter--midi});
					//height: auto;
					width: 100%;
					max-width: none;
					//right: auto;
					//left: 60px;
					//bottom: -$gutter--midi;
					
					display: block;
				}
				
			}
		}
		
		.hero__heading + .hero__summary,
		.hero__heading + .hero__button-container {
			margin-top: $gutter--quarter;
		}
		
		.hero__summary + .hero__button-container {
			margin-top: $gutter;
		}
		
		&__button-container {
			
			@include media-query("palm") {
				.button + .button {
					margin-top: $gutter--mini;
				}
			}
		}
		
		&--banana {
			background: $banana;
		}
		
	}
	
}