$icon-size: 26px;

.list {
	
	@include mode($core-mode) {
		
		&__item {
			
			display: block;
			
			@include content-flow(".list__item") {
				border-top: 1px solid $grey--light;
			}
			
			background: $white;
			
			@include hover() {
				background: $eggshell;
			}
			
			&__inner {
				
				@extend %grid;
				@extend %grid--middle;
				@extend %grid--full;
				
				width: 100%;
				padding: $gutter--mini $gutter--quarter;
				text-decoration: none;
				cursor: pointer;
				
				
			}
			
			&.is-active {
				background: $primary-color;
									
				.list__item__text {
					
					color: $white;
					
					&--primary {
						color: $white;
					}
					
					&--secondary {
						color: $eggshell;
					}
					
				}
				
				.list__item__icon {
					&.icon {
						fill: $white;
					}
				}
			}
			
			&__icon {
				@extend %is-hidden--palm;
				
				width: $icon-size;
				//padding: 0 $gutter--mini 0 0;
				
				&.icon {
					width: 16px;
					height: 16px;
					top: 1px;
					fill: $grey;
				}
				
			}
			
			&__text {
				//@extend %is-hidden--palm;
				
				padding: 0 $gutter--mini;
				
				> * {
					display: block;
				}
				
				&--primary {
					color: $primary-color;
					
					@include font-size($base-font-size, true, false, 1);
				}
				
				&--secondary {
					color: $grey--mid;
					margin: 4px 0 0 0;
					
					@include font-size(13px, true, false, $tight-line-height-ratio);
				}
				
				&--link {
					color: $grey--mid;
					margin: 4px 0 0 0;
					text-align: right;
					
					@include font-size(13px, true, false, $tight-line-height-ratio);
					
					
				}
			}
			
		}
		
	}
	
}