.message {

	@include mode($messaging-mode) {

		@extend %grid;
		@extend %grid--narrow;
		@extend %grid--top;

		@include content-flow(".message") {
			margin-top: $gutter;
		}

		&__media {
			width: 40px;

			@include media-query("lap-and-up") {
				width: 60px;
			}

			> .avatar,
			> img {
				width: 30px;
				height: 30px;

				@include media-query("lap-and-up") {
					width: 50px;
					height: 50px;
				}
			}
		}

		&__content {
			width: calc(100% - 60px);

			@include media-query("lap-and-up") {
				padding-right: $gutter--double;
			}
		}

		&__sender {
			display: block;
			font-weight: bold;
			text-decoration: none;

			@include font-size($base-font-size, true, false, 1);
		}

		&__time {
			display: block;
			color: $grey--mid;
			padding: 5px 0 0 0;

			@include font-size(14px, true, false, 1);
		}

		&__body {
			padding: $gutter--mini;
			background: $eggshell;
			border-radius: $radius;

			&__image {
				max-width: 400px;
			}

			&__video {
				position: relative;
				padding: 0 0 56.25% 0;

				&__embed {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}
		}
	}

}