.modal {
	@extend %flex-wrapper--column;
	@extend %flex-wrapper--center-center;

	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	
	@extend %transition-all;
	
	&, &__mask {
		
		position: fixed; 
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		
	}
	
	form {
		//padding: 0;
	}
	
	z-index: 10000;
	
	&__mask {
		
		@extend %transition-all;
		
		height: 1000vh;
		display: block;
		opacity: 0;
		
	}
	
	&__loader {
		
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10100;
		color: $white;
		
		img {
			height: 60px;
		}
	}
	
	
	&.is-active {
		display: block;
		
		.modal__mask{
			opacity: 1;
		}
		
		.modal__loader{
			top: 50%;
		}
	}
	
	&__inner {
		@extend %transition-all--swing-slow;
		@extend %flex-wrapper--column;
		
		opacity: 0;
		position: absolute;
		height: calc(100vh - 160px);
		width: 100vw;
		overflow-y: scroll; 
		padding: 80px 20px 80px 20px; /* Increase/decrease this value for cross-browser compatibility */
    	box-sizing: content-box; /* So the width will be 100% + 17px */
		top: 0px;
		left: 50%;
		transform: translate(-50%, -100%);
		z-index: 10200;
		
		&.is-active {
						
			opacity: 1;
			top: 0px;
			transform: translate(-50%, 0);	
		}		
		
	}
	
	&__header,
	&__footer {
		
		//@extend %flex-wrapper;
		background: $eggshell;
		
	}

	&__header {
		
		width: 550px;
		margin: 0 auto 0;
		position: relative;
		z-index: 9999;
		padding: $gutter;
		margin-bottom: 0;
		border-bottom: 1px solid $grey--light;
		border-radius: 10px 10px 0 0;

		@include media-query("palm") {
			width: 90%;
		}
		
	}
	
	&__body {
		
		border-radius: 10px 10px 0 0;
		background: $white;
		width: 550px;
		margin: -8px auto 0;
		padding: $gutter;
		z-index: 999;

		@include media-query("palm") {
			width: 90%;
		}
		
		&__content{
			padding-top: $gutter;
		}
		
	}
	
	&__footer {
		
		opacity: 0;
		padding: $gutter;
		width: 550px;
		margin: 0 auto;
		justify-content: flex-end;
		border-top: 1px solid $grey--light;
		border-radius: 0 0 10px 10px;
		z-index: 999;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

		@include media-query("palm") {
			width: 90%;
		}
		
		&.is-active{
			opacity: 1;
		}
		
	}
	
}

