$icon-size: 26px;

.nav-list {
	
	@include mode($core-mode) {
		
		width: 100%;
		border: 1px solid $grey--light;
		border-radius: $radius;
		background: $white;
		padding: 0 !important;
		
		&__section{
			list-style: none;
			
			&:not(:first-child){
				
				padding-top: $gutter;
				
			}
			
			&:first-child a{
				padding: $gutter--small $gutter;
			}
				
			padding-bottom: $gutter--quarter;
			
			&__title{
				
				color: $grey--mid;
				padding-left: $gutter--mini;
				font-weight: 600;
				@include font-size(12px, true, false, $tight-line-height-ratio);
				
			}
			
		}
		
		&__item {
			
			@extend %flex-wrapper;
			
			@extend %transition-all;
			
			align-items: center;
			padding: $gutter--quarter $gutter--mini;
			cursor: pointer;
			
			background: transparent;
			
			@include hover() {
				
				background: $eggshell;
				text-decoration: none;

				.nav-list__item__link{
					//color: $primary-color;
				}
				
				.nav-list__item__icon{
					fill: $grey--mid;
				}
				
			}
						
			&.is-active {
				
				border-radius: $radius;
				background: $eggshell;
				
				.nav-list__item__link{
					//color: $primary-color;
				}
				
				.nav-list__item__icon {
					fill: $grey--mid;
				}
				
			}
			
			.avatar{
				margin-right: 10px;
			}
			
			&__icon {
				@extend %is-hidden--palm;
				@extend %transition-all;
				width: $icon-size;
				
				
				&.icon {
					width: 16px;
					height: 16px;
					margin-right: 7px;
					top: 2px;
					fill: $grey;
				}
				
			}
			
			&__link {
				
				@extend %transition-all;
				
				color: $grey--dark;
				
				@include font-size(12px, true, false, $tight-line-height-ratio);

				@include hover() {
				
					text-decoration: none;

				}
				
			}
			
		}
		
	}
	
}