.news-feed {

	@include mode($core-mode) {

		//@extend %palm--one-whole;
		//@extend %lap--three-quarters;
		//@extend %desk--one-half;

		display: block;

		&__item {
			@extend %box;

			@include content-flow(".news-feed__item") {
				margin-top: $gutter;
			}

			background-color: $white;
			list-style: none;
			
			&__inner {
				@extend %grid;
				@extend %grid--top;
			}

			&__decor {
				display: none;

				@include media-query("lap-and-up") {
					display: block;
					width: #{32px + $gutter};

					.icon {
						width: 32px;
						height: 32px;
						fill: $grey;
					}
				}	
			}

			&__detail {
				width: 100%;

				@include media-query("lap-and-up") {
					width: calc(#{"100% - " + (32px + $gutter)});
				}
			}

			&__heading {
				text-transform: none;
				font-size: 1.3rem;

				@include font-size(18px, true, false, $tight-line-height-ratio);

				@include media-query("lap-and-up") {
					@include font-size(22px, true, false, $tight-line-height-ratio);
				}

				a {
					//@extend %primary-link;
				}
			}

			&__content {
				padding-top: $gutter;

				p {
					font-size: 1rem;
				}
			}

			&__reply {
				@extend %action-link;
			}

			&__media {

				padding: 0 0 56.25% 0;
				position: relative;
				overflow: hidden;
				margin: $gutter 0 0 0;

			}

			&__embed {
				@extend %box--flush;

				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				&[style*="background-image"] {
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}

			}
			
			&__share{
				
				@extend %box--flush;
				
				.headline{
					margin-bottom: 0;
				}
				
				&__header{
					padding: $gutter;
					background-color: $eggshell;
				}
				
				&__content{
					padding: 0 $gutter $gutter--mini;
				}
				
				&__embed{
					margin-top: 0 !important;
				}
				
				img{
					width: 100%;
					border-radius: 0 0 $radius $radius;
				}
				
			}
			
			&__interactions{
				
				display: flex;
				justify-content: space-between;
				padding: 0 0;
				border: 1px solid $grey--light;
				border-radius: $radius;

				@include media-query("desk") {
					padding: 0 $gutter--treble;
				}

				@include media-query("palm") {
					padding: 0 $gutter--treble;
				}

			}

			&__comment-form{

				padding: $gutter;
				margin: 20px -20px -20px;
				background: $eggshell;
				border-top: 1px solid $grey--light;
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
				border-radius: $radius $radius 0 0;

			}
			
			time {
				font-size: 0.8rem;
			}
		}
	}

}