.notification {
	@include mode($core-mode) {
		
		@extend %transition-all--swing;
		
		background-color: $white;
		
		&--unread {
			background-color: rgba(58, 129, 234, 0.2);
			
			svg {
				fill: $grey--dark;
			}
		}
		
		&__inner {
			
			@extend %grid;
			@extend %grid--full;
			@extend %grid--middle;
			
			padding: $gutter $gutter--mini;
			color: inherit;
			
		}
		
		&__body {
			
			padding-left: $gutter;
			
			p {
				color: $black;
			}
			
			@include hover() {
				text-decoration: none;
			}
			
		}
		
		&__meta {
			
			@extend %flex-wrapper;
			
			margin-top: $gutter--mini;
			
			&__icon {
				
				padding-right: $gutter--mini;
				
				svg {
					
					height: $gutter;
					width: $gutter;
					fill: $grey--mid;
					
				}
				
			}
			
			&__timestamp {
				
			}
		}
		
		&__interactions {
			
			margin-left: auto;
			
		}
		
		&__decor {
			
			@extend %flex-wrapper;
			
			margin-left: auto;
			
			height: 20px;
			width: 20px;
			fill: $grey;
			cursor: pointer;
			
		}
		
		.notification__interactions + .notification__decor{
			
			margin-left: $gutter;
			
		}
		
	}
}