.pagination {

	@include mode($nav-mode) {

		&__group {
			@extend %grid;
			@extend %grid--full;
			@extend %grid--center;
		}

		&__item {

			&__inner {
				display: inline-block;
				
				border: 1px solid $grey--light;
				color: $blue;
				padding: 10px 13px;
				vertical-align: middle;
				text-decoration: none;

				&[href] {
					@include hover() {
						background: $grey--eggshell;
					}

					&.is-active,
					&.active {
						background: $primary-color;
						color: $white;
						cursor: default;
					}
				}

			}

			&:first-child:not([class*="--numerical"]) {
				.pagination__item__inner {
					border-top-left-radius: $radius;
					border-bottom-left-radius: $radius;
				}
			}

			&:last-child:not([class*="--numerical"]) {
				.pagination__item__inner {
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
				}
			}

			&--numerical {
				.pagination__item__inner {
					padding: 10px 17px;
				}
			}

			// Give a nesting parent a max width of 100% - ~width of it's outer icon buttons
			&--nesting-parent {

				max-width: calc(#{"100% - " + (44px * 4)});
				margin-top: 1px;

				.pagination__item {
					margin-top: -1px;
				}

				// Hide at palm for v1
				@include media-query("palm") {
					display: none;
				}
			}

			@include content-flow('.pagination__item') {

				.pagination__item__inner {
					margin-left: -1px;
				}
			}

		}

		&__icon {
			width: auto;
			height: 14px;
			max-width: 16px;
			margin: 0;
			padding: 0;
			fill: $blue;
			top: 2px;
		}
	}
}