.pill {

	@include mode($interactions-mode) {

		background: $primary-color;
		border-radius: $radius;
		color: $white;
		font-weight: normal;
		text-transform: capitalize;
		text-decoration: none;
		padding: 4px 9px;
		display: inline-block;
		cursor: pointer;

		@include font-size(14px, true, false, $tight-line-height-ratio);

		@include hover(true) {
			background: $primary-color--mid;
		}

		&:active {
			top: 2px;
		}

		// Status modifiers

		&--positive {
			background: $positive-color;

			@include hover(true) {
				background: $positive-color--mid;
			}
		}

		&--negative {
			background: $negative-color;

			@include hover(true) {
				background: $negative-color--mid;
			}
		}

		@include content-flow('.pill') {
			margin-left: 5px;
		}

	}

}