.placeholder-content {
	
	@include mode($core-mode) {

		padding: $gutter;
		background: $grey--eggshell;
		color: $grey--mid;
		font-family: $heading-font-family;
		font-weight: normal;

		@include font-size(25px, true, false, $tight-line-height-ratio);
	}
}