.prompt {
	background: transparent;
	border: none;

	@include mode($core-mode) {

		@extend %flex-wrapper--column;
		@extend %flex-wrapper--center-center;

		z-index: 10000;

		&, &__overlay {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&__overlay {
			@extend %transition-all;

			display: block;
			background: rgba($black, 0.6);
			opacity: 1;
			z-index: 10010;
		}


		&__window {
			//@extend %box--flush;
			@extend %transition-all--swing;

			display: block;
			width: calc(#{"100% - " + $gutter--double});
			position: relative;
			overflow: hidden;
			background: $white;
			z-index: 10020;
			margin-top: 0;
			border-radius: 10px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

			@include media-query("lap-and-up") {
				width: 550px;
			}
		}

		&__header {
			padding: $gutter;
			background: $eggshell;
			border-bottom: 1px solid $grey--light;
		}

		&__heading {
			@extend %heading-secondary;

			color: $white;
			text-align: center;

			a {
				font-size: 0.8rem;
			}
		}

		&__content {
			padding: $gutter;
			text-align: center;
			color: inherit;
		}

		&__button {
			padding: $gutter--mini $gutter $gutter $gutter;
			text-align: center;

			button {
				background: $positive-color;
				border-color: $positive-color;
				color: $white;
				text-transform: none;
				
				@include hover(true) {
					background: $positive-color--mid;
					color: $white;
				}
			}
		}

		// Hidden state

		&:not(.is-active) {

			.prompt__window {
				margin-top: -200%;
			}

			.prompt__overlay {
				opacity: 0;
			}
		}

		// Color modifiers

		&--negative {

			.prompt__header {
				background: $negative-color;
			}
		}

		&--positive {

			.prompt__header {
				background: $positive-color;
			}
		}

		&--primary,
		&--success{

			.prompt__header {
				background: $primary-color;
			}
		}
	}
}