.search {
	
	display: block;
	position: relative;
	width: 100%;
		
	&__form{
		
		display: flex;
		position: relative;
		
		z-index: 2;
		
		&__input {
			
			@extend %form-field;
			display: flex;
			
			height: 35px;
			margin: 0;
			resize: none;

			font-size: 1rem;
			padding: 0 8px;
			line-height: 35px;
		}
		
		&__submit{
			display: flex;
			min-height: 100%;
			width: 35px;
			margin-left: 10px;
			
			.icon{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 20px;
				width: 20px;
				fill: $white;
				padding: 0;
				margin: 0;
			}
			
		}
	}
	
	&__output{
		
		button {
			display: flex;
			align-items: center;
		}
			
		margin: 0;
		
		> * {
			margin: $gutter--mini 0;
			margin-right: 5px;
		}
		
		.button__icon{
			height: 20px !important;
			width: 20px !important;
			margin-left: 0;
			margin-top: 2px;
		}
	}
	
	&__results {
		display: none;
		position: absolute;
		top: 55px;
		width: 80%;
		z-index: 900;
		border: 1px solid $grey--light;
		border-top: none;
		background: $white;
		padding: 8px;
	}
	
	&__mask{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 800;
		height: 100%;
		width: 100%;
		
		
		//background-color: red;
		
		
		
	}
	
}

.search__form__submit + .search__results{
	
	
		width: calc(100% - 43px);
	
	
}