.tabs {

	@include mode($interactions-mode) {
		
		&__nav {
			@extend %grid;
			@extend %grid--full;

			position: relative;
			overflow: hidden;
			
			@include media-query("palm") {
				display: none;
			}
		}
		
		&__tab {
			text-decoration: none;
			color: $primary-color;

			&__inner {
				display: none;
				padding: 10px 13px;
				border: 1px solid transparent;
				border-radius: $radius $radius 0 0;

				@include media-query("lap-and-up") {
					display: block;
				}
			}

			&.is-active .tabs__tab__inner {
				border-color: $grey--light;
				background: $eggshell;
			}

			@include hover() {
				.tabs__tab__inner {
					background: $grey--eggshell;
				}
			}

		}

		&--framed{
			
			.tabs__panel__inner{
				
				border-radius: 0 0 $radius $radius;
				padding: $gutter;
				
			}
			
		}
		
		&__panel {

			// Mobile tab trigger
			&__heading {
				text-decoration: none;
				color: $primary-color;
				padding: 10px $gutter;
				display: block;
				border: 1px solid $grey--light;

				&:not(.is-active) {
					background: $eggshell;
				}

				@include media-query("lap-and-up") {
					display: none;
				}

			}

			
			&__inner {
				border: 1px solid $grey--light;
				display: none;
				margin-top: -1px;

				@include media-query("lap-and-up") {
					border-radius: 0 $radius $radius $radius;
				}
			}
			
			// Tab is shown when it's preceding heading (mobile trigger) is active
			&__heading.is-active + .tabs__panel__inner {
				display: block;
			}

			// Add radius to first and last child headings
			&:first-child {

				.tabs__panel__heading {
					border-radius: $radius $radius 0 0;
				}
				
			}

			// Only add radius to last child heading if not active
			&:last-child {

				.tabs__panel__heading {

					&:not(.is-active) {
						border-radius: 0 0 $radius $radius;
					}
					
				}
				
			}

			// Content flow rules
			@include content-flow(".tabs__panel") {

				@include media-query("palm") {
					margin-top: -1px;
				}
			}

		}

	}

}