.upload-status {
	
	@include mode($interactions-mode) {
		
		&__icon {
			@extend %transition-all--swing;
			width: 112px;
			height: 112px;
			max-width: 100%;
			max-height: 100%;
		}
		
		// The main BG
		&__base {
			@extend %transition-all;
			
			fill: $blue--light;
		}
		
		// The base ring
		&__ring {
			stroke: $grey--eggshell;
			stroke-width: 5;
			fill: none;
		}
		
		&__status-ring {
			stroke: $blue--mid;
			stroke-width: 5;
			fill: none;
			transition: 300ms all cubic-bezier(.59, .17, .24, .78);
		}
		
		&__cloud,
		&__check,
		&__cross {
			@extend %transition-all;
			
			fill: $eggshell;
		}
		
		&__check,
		&__cross {
			opacity: 0;
			transform: translate3d(0, 30px, 0);
		}
		
		&__cloud,
		&__arrow {
			opacity: 1;
		}
	}
	
	// Complete status modifiers
	&.is-complete {
		
		.upload-status__icon {
			transform: scale(1.05);
		}
		
		.upload-status__base {
			fill: $green--light;
		}
		
		.upload-status__status-ring {
			stroke: $green--mid;
		}
		
		.upload-status__check {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		
		.upload-status__cloud {
			opacity: 0;
			transform: translate3d(0, -30px, 0);
		}
	}
	
	// Error status modifiers
	&.is-error {
		
		.upload-status__icon {
			transform: scale(1.05);
		}
		
		.upload-status__base {
			fill: $red--light;
		}
		
		.upload-status__status-ring {
			stroke: $red--mid;
		}
		
		.upload-status__cross {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		
		.upload-status__cloud {
			opacity: 0;
			transform: translate3d(0, -30px, 0);
		}
	}
}