.upload {
	
	@include mode($interactions-mode) {
		
		&__preview {
			
			width: 100%;
			margin-top: $gutter--mini;
			text-align: center;
			
			&__item {
				
				position: relative;
				
				margin-top: $gutter--mini;
				display: inline-block;
				
				&__image,
				&__file {
					
					height: auto;
					max-height: 150px;
					
					&--cropped {
						@extend %is-hidden;
					}
					
				}
				
			}
			
			&--large {
				
				.upload__preview__item__image {
					
					width: 100%;
					max-height: none;
					
				}
				
			}
			
		}
		
		&__meter {
			visibility: hidden;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1000;
		}
		
	}
		
}