.user-menu {
	
	@include mode($user-mode) {
		
		width: fit-content;
		line-height: initial;
		
		&__inner {
			@extend %flex-wrapper;
			
			align-items: center;
			position: relative;
			
		}
		
		&__item {
			
			@include media-query("lap-and-up") {
				position: relative;
			}
			
			// The text should be full-width to stop the icons looking janky
			&--palm-fill {
				@extend %palm--one-whole;
			}
		}
		
		&__icon {
			
			.icon {
				width: 20px;
				height: 20px;
				margin: 0 5px;
			}
			
			&::after {
				content: '' !important;
			}
			
		}
		
		&__text {
			
			line-height: normal !important;
			padding: 0 $gutter--mini !important;
			text-decoration: none;
			//font-size: inherit !important;
			color: inherit !important;
			
			@include hover(true) {
				color: inherit !important;
			}
			
		}
		
		&__icon,
		&__text {
			position: relative;
			display: block;
		}
		
		&__indicator {
			
			$indicator-size: 15px;
			
			display: block;
			width: $indicator-size;
			height: $indicator-size;
			line-height: $indicator-size;
			text-indent: 5px;
			background: $negative-color;
			position: absolute;
			top: -6px;
			right: -2px;
			border-radius: 100%;
			color: $white;
			font-size: 11px
			
		}
		
		&__sub-menu {
			@extend %transition-all--swing;
			
			display: none;
			position: absolute;
			min-width: 200px;
			top: 100%;
			right: 0;
			text-align: left;
			background: $white;
			border: 1px solid $grey;
			box-shadow: 2px 2px 2px $grey--light;
			border-radius: $radius;
			overflow: hidden;
			margin-top: 5px;
			max-height: 0px;
			opacity: 0;
			
			@include media-query("lap-and-up") {
				right: 0;
				
				@include media-query("lap-and-up") {
					left: auto;
					text-align: right;
				}
				
				&.is-active {
					max-height: 500px;
					opacity: 1;
					display: block !important;
					z-index: 10000;
					
					.user-menu__sub-menu__mask {
						display: block !important;
						//z-index: 1000;
					}
				}
				
				&__item {
					display: flex !important;
					justify-content: space-between;
					width: 100%;
					padding: 5px;
					
					@include hover(true) {
						background: $eggshell;
						text-decoration: none;
						
					}
					
					a {
						color: $grey--mid;
						width: 100%;
						
						@include hover() {
							color: $primary-color !important;
						}
						
					}
					
					a, button, p {
						white-space: nowrap;
						display: block;
						text-align: left;
						border: none;
						padding: 7px 10px !important;
						
						@include hover(true) {
							
							color: $grey--mid !important;
							text-decoration: none;
							
						}
						
					}
					
					button {
						font-size: 12px;
						background-color: transparent;
						border-color: transparent;
						color: $primary-color;
						
						@include hover() {
							color: $primary-color !important;
							background-color: transparent;
							border-color: transparent;
						}
					}
					
					&--centered {
						display: block !important;
						width: 100%;
						border-color: $grey !important;
						border-top: 1px solid $grey;
						
						a, button {
							text-align: center !important;
						}
						
					}
					
					.button-group {
						margin: 0;
						
						&__item {
							padding: 0;
							
							.button {
								height: auto;
								line-height: initial;
							}
							
						}
					}
					
				}
				
				&__mask {
					position: fixed !important;
					width: 100%;
					height: 100%;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					float: none !important;
					background: transparent;
					z-index: -1;
					display: none !important;
					
					a {
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						opacity: 0;
						cursor: default;
					}
				}
			}
			
			// For when it's included on a dark background
			&--light {
				
				.user-menu__icon {
					
					.icon {
						fill: $white;
					}
					
					@include hover(true) {
						.icon {
							fill: lighten($primary-color--light, 20%);
						}
					}
					
				}
				
				.user-menu__text {
					color: $eggshell;
					
					@include hover(true) {
						color: lighten($primary-color--light, 20%);
					}
				}
				
				.user-menu__sub-menu {
					background: $eggshell;
					
					&__item {
						
						a, button {
							background: $eggshell;
							color: $grey--mid;
							
							@include hover(true) {
								background: $grey--eggshell;
								color: $grey--mid-dark;
								text-decoration: none;
							}
						}
					}
				}
				
				.user-menu__indicator {
					width: 14px;
					height: 14px;
					top: 2px;
					border: 2px solid $white;
				}
			}
		}
	}
	
}