$media-size--small: 55px;
$media-size--normal: 80px;
$icon-size: 10px;

.user-list {
	
	@include mode($core-mode) {
		
		&__item {
			
			display: block;
			
			@include content-flow(".user-list__item") {
				border-top: 1px solid $grey--light;
			}
			@include hover() {
				background: $eggshell;
			}
			
			&__inner {
				
				@extend %grid;
				@extend %grid--middle;
				@extend %grid--full;
				
				flex-wrap: nowrap;
				
				width: 100%;
				padding: $gutter--mini $gutter--quarter;
				text-decoration: none;
				cursor: pointer !important;
				//background: $white;
				
				&:hover {
					background: $primary-color--light;
					
					.user-list__item__text > * {
						color: $white;
					}
					
					.icon {
						fill: $white;
					}
				}
				
				&--media {
					
					padding-top: $gutter;
					
					.user-list__item__text {
						
						@include media-query("lap-and-up") {
							width: calc(#{'100% - ' + ($media-size--normal)});
						}
					}
				}
				
				&--media-icon {
					
					padding-top: $gutter;
					
					.user-list__item__text {
						
						@include media-query("lap-and-up") {
							width: calc(#{'100% - ' + ($media-size--small + $icon-size)});
						}
					}
				}
				
			}
			
			&.is-notification {
				
				background-color: $grey--eggshell;
				
				.user-list__item__icon {
					
					.icon {
						fill: $negative-color;
					}
					
				}
			}
			
			&.is-active {
				background-color: $primary-color;
				
				.user-list__item__text {
					
					color: $white;
					
					&--primary {
						color: $white;
					}
					
					&--secondary {
						
						color: $eggshell;
						
					}
					
					
					
				}
				
				.user-list__item__icon {
					.icon {
						fill: $eggshell;
					}
				}
			}
			
			&__media {
				
				padding: 0 $gutter--mini;
				width: $media-size--normal;
				
				@include media-query("lap-and-up") {
					padding: 0 0 0 $gutter--mini;
				}
				
				> .avatar,
				> img {
					width: #{$media-size--normal - $gutter};
					height: #{$media-size--normal - $gutter};
					
					@include media-query("lap-and-up") {
						width: #{$media-size--normal - $gutter--mini};
						height: #{$media-size--normal - $gutter--mini};
					}
					
					position: relative;
					top: -2px;
				}
				
				&--small {
					width: $media-size--small;
					
					> .avatar,
					> img {
						width: #{$media-size--small - $gutter};
						height: #{$media-size--small - $gutter};
						
						@include media-query("lap-and-up") {
							width: #{$media-size--small - $gutter--mini};
							height: #{$media-size--small - $gutter--mini};
						}
					}
				}
				
			}
			
			&__text {
				//@extend %is-hidden--palm;
				
				margin-top: -10px;
				padding: 0 $gutter--mini;
				
				> * {
					display: block;
				}
				
				&--primary {
					color: $primary-color;
					
					@include font-size($base-font-size, true, false, 1);
					
				}
				
				&--secondary {
					display: none;
					color: $grey--mid;
					margin: 4px 0 0 0;
					
					@include font-size(13px, true, false, $tight-line-height-ratio);
					
					@include media-query('lap-and-up'){
						
						display: block;
						
					}
					
				}
				
				&--link {
					color: $grey--mid;
					margin: 4px 0 0 0;
					text-align: right;
					
					@include font-size(13px, true, false, $tight-line-height-ratio);
					
					@include hover(true) {
						
						color: $primary-color;
						
					}
				}
			}
			
			&__icon {
				
				//@extend %is-hidden--palm;
				
				height: $icon-size;
				width: $icon-size;
				padding: 0 15px 0 0;
				
				.icon {
					width: $icon-size;
					height: $icon-size;
					top: -1px;
					fill: $grey;
				}
				
			}
			
		}
		
	}
	
}