.wysiwyg {

	@include mode($core-mode) {

		*:not(li) {

			@include content-flow("*:not(li)") {
				margin-top: $content-flow-space;
			}
		}

		&--large-text{
			font-size: 200%;
		}
		
		img {

			//&.size-full,
			//&.size-large {
				height: auto;
			//}
		}

		.wp-caption {
			background: $eggshell;
			border: 1px solid $grey--light;
			display: block;
			padding: 10px;
			overflow: hidden;
			max-width: 100% !important;
			border-radius: $radius;

			> * {
				display: block;
			}

			&-text {
				display: block;
				margin: 8px 0 0 0;
			}
		}

		.alignright {
			@include media-query("lap-and-up") {
				float: right; 
				margin-bottom: 20px;
				margin-left: 20px;
			}
		}

		.alignleft {
			@include media-query("lap-and-up") {
				float: left; 
				margin-bottom: 20px;
				margin-right: 20px;
			}
		}

		.aligncenter {
			clear: both;
			margin: 0 auto;
		}

		p {			
			white-space: pre-line;
			
			.alignleft,
			.alignright {
				margin-top: 20px;
			}

			.aligncenter {
				margin: 20px auto;
			}

			img {
				margin: 20px 0;
			}
		}

		ul, ol {
			margin-left: $gutter;
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		li {
			@include content-flow("li") {
				margin-top: 5px;
			}
		}

		blockquote {
			background: $eggshell;
			border: 1px solid $grey--light;
			display: block;
			padding: 10px;
			font-style: italic;
			border-radius: $radius;

			@include font-size(18px, true);

			cite {
				@include font-size(14px, true);
			}
		}

		table {
			table-layout: fixed;
			border: 1px solid $grey--light;
			border-collapse: collapse;
			overflow: auto;
			border-radius: $radius;

			&, * {
				text-align: left;
				vertical-align: top;
			}

			td,
			th {
				padding: 5px;
			}

			th {
				background: $primary-color;
				color: $white;
			}

			td + td,
			th + th {
				border-left: 1px solid $grey--light;	
			}

			tr {
				&:nth-child(even) {
					td {
						background: $eggshell;
					}
				}
			}
		}
	}

}