.call-to-action-list {

	&__heading {
		//color: $gunpowder;

		//@include font-size(24px, true);
	}

	&__items {
		@extend %responsive-grid;

		li {
			&:nth-child(odd) {
				//background: $eggshell;
			}
		}
	}
}