.call-to-action {
	background: $white;
	padding: $gutter;
	
	@include vendor("border-radius", $radius);
	
	&__inner {
		@extend %grid;
		
		> * {
			@extend %grid__item;
			
			vertical-align: middle;
		}
	}
	
	&__decor {
		@extend %palm--one-tenth;
		@extend %lap--one-tenth;
		@extend %desk--one-tenth;
		
		@include media-query("palm") {
			display: none;
		}
		
		.icon {
			color: $banana;
			
			@include font-size(20px);
		}
	}
	
	&__text {
		@extend %palm--eight-tenths;
		@extend %lap--seven-tenths;
		@extend %desk--seven-tenths;
		
		color: $gunpowder;
	}
	
	&__link {
		@extend %palm--one-tenth;
		@extend %lap--one-tenth;
		@extend %desk--one-tenth;
		
		padding: 0;
		text-align: right;
		background: none;
		border: none;
		cursor: pointer;
		
		@include media-query("lap-and-up") {
			text-align: center;
		}
		
		.icon {
			color: $green;
			
			@include font-size(22px);
			
			@include media-query("lap-and-up") {
				@include font-size(30px);
			}
			
			&:hover,
			&:focus {
				color: $green--dark;
			}
		}
		
		&:hover,
		&:focus {
			&, * {
				text-decoration: none;
			}
		}

		&.is-muted {
			.icon {
				color: $gunpowder;

				&:hover,
				&:focus {
					color: $the-black-flag;
				}
			}
		}
	}
	
	&__heading {
		@include font-size(16px, true);
	}
	
	&__sub-heading {
		@include font-size(14px, true);
	}
	
	&--featured {
		border-top: 6px solid $banana;
	}
}