.content {
	
	width: 100%;
	
	&__body {

		* + *:not(li) {
			margin: 15px 0 0 0;
		}

		img {

			&.size-full,
			&.size-large {
				height: auto;
			}
		}

		.wp-caption {
			background: $eggshell;
			border: 1px solid $coral;
			display: block;
			padding: 10px;
			overflow: hidden;
			max-width: 100% !important;

			> * {
				display: block;
			}

			@include vendor("border-radius", $radius);

			&-text {
				display: block;
				margin: 8px 0 0 0;
			}
		}

		.alignright {
			@include media-query("lap-and-up") {
				float: right; 
				margin-bottom: 20px;
				margin-left: 20px;
			}
		}

		.alignleft {
			@include media-query("lap-and-up") {
				float: left; 
				margin-bottom: 20px;
				margin-right: 20px;
			}
		}

		p {			
			white-space: pre-line;
			
			.alignleft,
			.alignright {
				margin-top: 20px;
			}

			.aligncenter {
				margin: 20px auto;
			}

			img {
				margin: 20px 0;
			}
		}

		.aligncenter {
			clear: both;
			margin: 0 auto;
		}

		h1 {
			@include font-size(24px);
		}

		h2 {
			@include font-size(22px);
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		ul,
		ol {
			li {
				margin: 0 0 0 $gutter--midi;
			}

			li + li {
				margin: 10px 0 0 $gutter--midi;
			}
		}

		blockquote {
			background: $eggshell;
			border: 1px solid $coral;
			display: block;
			padding: 10px;
			font-style: italic;

			@include font-size(18px);
			@include vendor("border-radius", $radius);

			cite {
				@include font-size(14px);
			}
		}

		table {
			table-layout: fixed;
			border: 1px solid $coral;
			border-collapse: collapse;
			overflow: auto;

			@include vendor("border-radius", $radius);

			&, * {
				text-align: left;
				vertical-align: top;
			}

			td,
			th {
				padding: 5px;
			}

			th {
				background: $banana;
			}

			td + td,
			th + th {
				border-left: 1px solid $coral;	
			}

			tr {
				&:nth-child(even) {
					td {
						background: $eggshell;
					}
				}
			}
		}
	}

	&--tight {
		.content__body {
			* + *:not(li) {
				margin: 10px 0 0 0;
			}
		}
	}
}