.course-card {
	background: $white;
	overflow: hidden;
	position: relative;

	@include vendor("border-radius", $radius--mini);

	&__header {
		background: $eggshell;

		&__inner {
			@extend %grid;
		}
		
		&__heading {
			@extend %palm--three-fifths;
			@extend %lap--three-fifths;
			@extend %desk--three-fifths;
		}
		
		&__heading,
		&__meta {
			@extend %grid__item;

			//font-weight: $semi-bold;
			vertical-align: middle;
			//margin: -5px 0 0 0;

			//@include font-size(16px, true);

			.icon {
				font-weight: normal;
				position: relative;
				top: 1px;
				margin: 0 5px 0 0;
			}
		}

		&__meta {
			@extend %palm--two-fifths;
			@extend %lap--two-fifths;
			@extend %desk--two-fifths;
			
			text-align: right;
		}
	}

	&__content {
		background: $white;
		position: relative;

		&__heading {
			
		}

		&__summary {
			display: block;
			padding: 10px 0 0 0;
			//color: $gunpowder;
			white-space: pre-line;
		}

		&__meta {
			padding: 15px 0 0 0;
		}

		&__button-group {
			padding: $gutter 0 0 0;
			text-align: right;

			.button {
				text-align: center;
				display: block;
				width: auto;
				margin: 0 0 0 40px;

				@include media-query("lap-and-up") {
					display: inline-block;
					margin: 0;
				}
			}

			.button + .button {
				margin: 10px 0 0 40px;
				
				@include media-query("lap-and-up") {
					margin: 0 0 0 5px;
				}
			}
		}
	}

	&__cancel {
		@extend .is-muted;

		position: absolute;
		top: $gutter;
		right: $gutter;
		color: $first-blood;
		cursor: pointer;

		&:hover, 
		&:focus {

			&, * {
				color: $strawberry;
				text-decoration: none;
			}
			
		}

		//@include font-size(30px);
		font-size: 30px;
		
		@include media-query("lap-and-up") {
			bottom: 18px;
		}
	}
}