.course-grid {
	padding: $gutter--midi 0 $gutter--midi 0;

	&__heading {
		
	}

	&__list {
		@extend %responsive-grid;

		li {
			&:nth-child(odd) {
				//background: $eggshell;
			}
		}
	}

	&--med {
		.course-grid__list {

			> * {
				@extend %palm--one-whole;
				@extend %lap--one-half;
				@extend %desk--one-half;
			}
		}
	}
}