.descriptive-media {
	margin: $gutter 0 0 0;
	background: $white;
	padding: $gutter;

	@include vendor("border-radius", $radius);

	&__inner {
		@extend %grid;
	}

	&__content {
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %lap--one-half;
		@extend %desk--one-half;

		@include media-query("lap-and-up") {
			padding: 0 $gutter;
		}
	}

	&__media {
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %lap--one-half;
		@extend %desk--one-half;

		margin: $gutter 0 0 0;

		@include media-query("lap-and-up") {
			margin: 0;
		}
	}

	&__header {
		@extend %grid;

		color: $banana;
		padding: 0 0 $gutter 0;
	}

	&__heading {
		@extend %grid__item;

		padding: 0 0 0 $gutter--midi;
		width: calc(100% - 40px);
		margin: -1px 0 0 0;

		@include font-size(40px);

		@include media-query("lap-and-up") {
			width: calc(100% - 50px);

			@include font-size(50px);
		}
	}

	&__icon {
		@extend %grid__item;

		width: 40px;

		@include font-size(40px);

		@include media-query("lap-and-up") {
			width: 50px;

			@include font-size(50px);
		}
	}
}