.grouped-list {
	background: $white;
	position: relative;
	overflow: hidden;
	display: block;
	
	& + & {
		//margin: $gutter 0 0 0;
	}
	
	&__header {
		padding: 0 0 $gutter--midi 0;
		
		@include media-query("lap-and-up") {
			//padding: $gutter $gutter--midi $gutter--midi $gutter--midi;
		}
		
		&__icon {
			display: inline-block;
			width: 100px;
			height: 100px;
			vertical-align: top;
			text-align: center;
			margin-right: $gutter--mini;
			//@extend %grid__item;

			@include media-query("lap-and-up") {
				margin-right: $gutter;
			}
						
			.icon {
				
				position: relative;
				top: 5px;
				
				//@include font-size(30px, true, true, 0.5);
				
				font-size: 30px;
				
				@include media-query("lap-and-up") {
					//@include font-size(50px, true, true, 0.5);
					font-size: 40px;
				}
			}

			.box {
				border-radius: 50%;
				width: 85px;
				height: 85px;
				background: $eggshell;

				@include media-query("lap-and-up") {
					width: 100px;
					height: 100px;
				}
			}
		}
		
		&__content {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 115px);
			
			@include media-query("lap-and-up") {
				width: calc(100% - 125px);
			}
		}
	}
	
	&__heading {
		
		margin-bottom: $gutter;		
		
		@include media-query("lap-and-up") {
			position: relative;
		}
	}
	
	&__summary {
		display: block;
		padding: 5px 0 0 0;
		
		//@include font-size(18px);
	}
	
	&__items {
		display: block;
	}
	
	&__item {
		
		&__inner {
			display: table;
			table-layout: fixed;
			width: 100%;
			color: $the-black-flag;
			border-top: 1px solid $coastal-surf;
			font-weight: $semi-bold;
			
			> * {
				display: table-cell;
				vertical-align: middle;
			}
			
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		
		&:hover,
		&:focus {
			text-decoration: none;
			background: $coastal-surf;
		}
		
		&--positive {
			background: $green--light;
			
			&:hover {
				background: $green;
				
				&, * {
					color: $white;
				}
			}
		}
		
		&--neutral,
		&--disabled {
			background: $coastal-surf;
			
			&:hover {
				background: $cutlass;
				
				&, * {
					color: $white;
				}
			}
		}
		
		&__icon {
			width: 45px;
			padding: 20px 0 20px $gutter;
			
			@include media-query("lap-and-up") {
				width: 75px;
				padding: 20px 0 20px $gutter--midi;
			}
			
			.icon {
				//@include font-size(22px);
				font-size: 22px;
			}
		}
		
		&__content {
			@extend %palm--one-half;
			
			padding: 20px 0 20px $gutter;
		}
		
		&__meta {
			text-align: right;
			padding: 20px $gutter 20px 0;
			color: $pieces-of-eight;
			
			@include media-query("lap-and-up") {
				padding: 20px $gutter--midi 20px 0;
			}
			
			& span {
				margin-right: 10px;
			}
			
		}
	}
}
