.hamburger {
	display: block;
	position: relative;
	width: 30px;
	height: 40px;

	&__bar {
		&,
		&:before,
		&:after {
			@extend %hamburger-bar;
			@extend %transition--state;
			
			@include vendor("transform", rotate(0deg));
		}

		& { 
			top: 19px;
			left: 0;
		}

		&:before,
		&:after {
			content: "";
		}

		&:before {
			top: -8px;
		}

		&:after {
			top: 8px;
		}
	}

	&.is-active {
		.hamburger__bar {
			background: transparent;

			@include vendor("transform", rotate(180deg));

			&:before {
				top: 0;
				background: $deep-red;

				@include vendor("transform", rotate(45deg));
			}

			&:after {
				top: 0;
				background: $deep-red;
				
				@include vendor("transform", rotate(-45deg));
			}
		}
	}
}