.inline-avatar-list {
	@extend %grid;

	&__item {
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %lap--one-third;
		@extend %desk--one-third;
		@extend %transition--state;

		font-weight: $semi-bold;
		margin: $gutter 0 0 0;

		@include opacity(1);

		&, * {
			color: $the-black-flag;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__inner {
		display: table;
		table-layout: fixed;
	}

	&__image {
		width: 50px;
		display: table-cell;
		vertical-align: middle;

		img {
			@include vendor("border-radius", $radius--mini);
		}
	}

	&__text {
		width: calc(100% - 50px);
		display: table-cell;
		vertical-align: middle;
		padding: 0 0 0 $gutter;
	}

	&:hover {
		.inline-avatar-list__item {
			@include opacity(0.5);

			&:hover {
				@include opacity(1);
			}
		}
	}
}