.partial {
	padding: $gutter 0 0 0;

	&__inner {
		@extend %grid;
	}

	&__content {
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %lap--two-thirds;
		@extend %desk--two-thirds;
	}

	&__sidebar {
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %lap--one-third;
		@extend %desk--one-third;
		
		margin: $gutter 0 0 0;
		
		@include media-query("lap-and-up") {
			margin: 0;
		}
		
		> * + * {
			margin: $gutter 0 0 0;
		}
	}
}