.pills {
	@extend %grid;

	> * {
		@extend %grid__item;

		width: auto;
	}

	&__icon {
		width: 25px;

		.icon {
			position: relative;
			top: 1px;
		}
	}

	&__icon + &__list {
		width: calc(100% - 25px);
	}

	&__list {
		display: inline;

		> * + * {
			margin: 0 0 0 5px;
		}
	}
}