.pill {
	@extend %transition--state;

	padding: 2px 4px 3px 4px;
	background: $pieces-of-eight;
	color: $white;
	line-height: 1;
	text-align: center;
	font-weight: $semi-bold;

	@include font-size(12px);
	@include vendor("border-radius", $radius--mini);

	&:hover,
	&:focus {
		text-decoration: none;
		background: $cutlass;
	}

	&--success {
		background: $green;

		&:hover,
		&:focus {
			background: $green--mid;
		}
	}

	&--primary {
		background: $lagoon;

		&:hover,
		&:focus {
			background: lighten($lagoon, 10%);
		}
	}
}