.post-navigation {
	
	margin: 0;
	padding: 0;

	&__nav {
		display: block;
		@include font-size(14px);
		
		@include media-query("lap-and-up") {
			display: table;
			table-layout: fixed;
		}
		
		width: 100%;
		
		&__item {
			@extend %palm--one-whole;
			@extend %lap--one-half;
			@extend %desk--one-half;
			
			position: relative;
			display: block;
			
			@include media-query("lap-and-up") {
				display: table-cell;
				vertical-align: middle;
			}
			
			&[disabled] {
				pointer-events: none;
				 
				&, * {
					color: $coral;
				}
			}
			
			a:hover,
			a:focus{
				text-decoration:none;
			}
			
			.button {
				width: 100%;
				text-align: center;
				color: inherit;
				vertical-align: middle;
				margin-bottom: 10px;
				padding: 0;
				height: auto;

				@include media-query("lap-and-up") {
					width: 98%;
					margin-bottom: 0;
				}
			}

			&:last-child {
				text-align: right;
			}

		}
		
		&__text {
			color: $the-black-flag;
			font-weight: $semi-bold;
			position: relative;
			top: -3px;
		
			&:hover,
			&:focus {
				color: $lagoon;
			}

		}
		
		&__icon {

			position: relative;
			top: 0px;
			left: 0px;
			margin: -9px 0 0 0;
			font-size: 22px;
		}
	}
	
	&__button-wrapper {
		padding: $gutter 0 0 0;
		text-align: center;
	}
}