.question {
	
	@include vendor("border-radius", $radius);
	
	& + & {
		margin: $gutter 0 0 0;
	}
	
	&__heading {
		display: block;
		font-weight: $semi-bold;
		
		@include font-size(18px, true);
		
		@include media-query("lap-and-up") {
			@include font-size(20px, true);
		}
	}
	
	&__answers {
		padding: $gutter 0 0 0;
	}
	
	&__answer {
		@extend %grid;
		
		position: relative;
		
		&__text {
			@extend %grid__item;
			
			width: calc(100% - #{$gutter + 30px});
			cursor: pointer;

			@include media-query("lap-and-up") {
				width: auto;
				max-width: calc(100% - 100px);
				min-width: calc(60% - 100px);
			}

			input:checked + & {
				.question__answer__text__inner {
					background: $gunpowder;
					color: $white;
				}
			}
			
			&__inner {
				padding: 15px;
				border: 1px solid $cutlass;
				font-weight: $semi-bold;
				color: $the-black-flag;
				
				@include vendor("border-radius", $radius);
				
				&:hover,
				&:focus {
					background: $coastal-surf;
				}
			}
			
			&:hover,
			&:focus {
				&, * {
					text-decoration: none;
				}
			}
		}
		
		&__result {
			@extend %grid__item;
			
			vertical-align: middle;
			width: 30px;
			height: 30px;
			
			@include opacity(0);
			
			&.is-visible {
				display: inline-block !important;
				
				@include opacity(1);
			}
			
			@include media-query("lap-and-up") {
				width: auto;
				height: auto;
				max-width: 200px;
			}
			
			&__inner {
				padding: 15px;
				color: $white;
				border: 1px solid transparent;
				font-weight: $semi-bold;
				position: absolute;
				top: 50%;
				right: 0;
				margin: -15px 0 0 0;
				
				@include vendor("border-radius", 100%);
				
				@include media-query("lap-and-up") {
					position: static;
					margin: 0;
					
					@include vendor("border-radius", $radius);
				}
				
				.is-right & {
					background: $green;
				}
				
				.is-wrong & {
					background: $first-blood;
				}
				
				> span {
					display: none;

					@include media-query("lap-and-up") {
						display: block;
					}
				}
				
				&:before {
					font-family: $icon-font-family;
					position: absolute;
					font-weight: normal;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					text-align: center;
					padding: 5px 0;
					
					@include font-size(20px, true, false, 1);
				}
				
				.is-wrong &:before {
					content: $unicode-cross;
				}
				
				.is-right &:before {
					content: $unicode-tick;
				}
				
				@include media-query("lap-and-up") {
					&:before {
						display: none;
					}
				}
			}
		}

		&__hidden-input {
			display: none;
		}

	}
	
	&__answer + &__answer {
		padding: $gutter--mini 0 0 0;
	}
}