.stacked-avatar-list {
	@extend %grid;

	li {
		@extend %grid__item;
		@extend %palm--one-half;
		@extend %lap--one-sixth;
		@extend %desk--one-sixth;
		@extend %transition--state;
		
		position:relative;

		font-weight: $semi-bold;
		text-align: center;
		margin: $gutter 0 0 0;

		@include opacity(1);

		&, * {
			color: $gunpowder;
		}
		
		&:hover {
			&, * {
				text-decoration: none;
			}
		}

		img {
			display: block;
			margin: 0 0 10px 0;

			@include vendor("border-radius", $radius--mini);
		}
		
		.group-padlock{
			position:absolute;
			top:0;
			right:0;
			height:50px;
		}
	}

	&:hover {
		li {
			@include opacity(0.5);

			&:hover {
				@include opacity(1);
			}
		}
	}
}