.accordion {
	background: $white;
	border: 1px solid $grey--light;
	border-radius: $radius;
	
	&__trigger {
		@extend %grid;
		@extend %grid--full;
		@extend %grid--middle;
		
		padding: 30px $gutter;
		
		&__icon,
		&__active-icon {
			.icon {
				width: 30px;
				height: 30px;
				fill: $grey--light;
				top: 8px;
			}
		}
		
		&__active-icon {
			display: none;
		}
		
		&__text {
			
			padding: 0 20px 0 0;
			font-family: $light-font-family;
			width: calc(100% - 30px);
			color: $grey--mid-dark;
			
			@include font-size(18px, true);
			
			@include media-query("portable-and-up") {
				@include font-size(24px, true, false, $snippet-line-height-ratio);
			}
		}
		
		@include hover() {
			text-decoration: none;
			
			.accordion__trigger__text {
				color: $orange;
			}
			
			.accordion__trigger__icon,
			.accordion__trigger__active-icon {
				.icon {
					fill: $orange;
				}
			}
		}
		
		&.is-active {
			
			.accordion__trigger__icon {
				display: none;
			}
			
			.accordion__trigger__active-icon {
				display: block;
			}
			
		}
	}
	
	&__content {
		border-top: 1px solid transparent;
		position: relative;
		overflow: hidden;
		max-height: 0px;
		
		@include transition();
		
		> * {
			padding: $gutter;
		}
		
		&.is-active {
			max-height: 2000px;
			border-color: $grey--light;
			
			@include bounce-scroll();
		}
	}
}