.avatar-group {
	margin: 0 auto;
	max-width: 360px;
	
	@include media-query("portable") {
		max-width: 640px;
	}
	
	@include media-query("lap-and-up") {
		max-width: 960px;
	}
	
	&__list {
		@extend %grid;
		@extend %grid--center;
		@extend %grid--middle;
		@extend %grid--level-heights;
	}

	
	&__item {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		
		text-align: center;
		
		@include media-query("lap-and-up") {
			width: 320px;
		}
	}
	
	&__inner {
		
		@include hover() {
			text-decoration: none;
			
			.avatar-group__image {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	
	&__image {
		display: block;
		width: 280px;
		height: 280px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		border-radius: 100%;
		background-position: center center;
		background-size: cover;
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($brown, 0.65);
			opacity: 0;
			border-radius: 100%;
			
			@include transition();
		}
	}
	
	&__heading {
		@extend %heading--secondary;
		
		display: block;
		width: 100%;
		padding: 30px 0 0 0;
		color: $orange;
	}
	
	&__meta {
		display: block;
		color: $grey--mid-dark;
		padding: 10px 0 0 0;
		
		@include font-size(14px, true, false, $snippet-line-height-ratio);
	}
}