.button {
	color: $orange;
	display: inline-block;
	padding: 13px 20px 12px 20px;
	border: 2px solid $orange;
	border-radius: 40px;
	font-family: $base-font-family;
	font-weight: 400;
	background: transparent;
	position: relative;
	cursor: pointer;
	
	@include button();
	@include font-size(16px, true, false, $button-line-height-ratio);
	@include transition();
	
	@include media-query("portable-and-up") {
		padding: 13px 40px 12px 40px;
	}
	
	@include hover(true) {
		background: $orange;
		color: $white;
		text-decoration: none;
		
		.icon {
			fill: $white;
		}
	}
	
	&__icon {
		padding: 0 0 0 8px;
		
		@include ie("lt-ie10") {
			display: none;
		}
	}
		
	.icon {
		width: 10px;
		height: 7px;
		fill: $orange;
		top: -1px;
	}
	
	&--upper {
		text-transform: uppercase;
	}
	
	&--small {
		padding: 13px 20px 11px 20px;
		
		@include media-query("portable-and-up") {
			padding: 13px 40px 11px 40px;
		}
		
		@include font-size(12px, true, false, $button-line-height-ratio);
	}
	
	&--large {
		@include media-query("portable-and-up") {
			@include font-size(20px, true, false, $button-line-height-ratio);
		}
	}
	
	&--fill {
		background: $orange;
		color: $white;
		
		@include hover(true) {
			background: $orange--mid;
			color: $white;
			border-color: $orange--mid;
			
			.icon {
				fill: $white;
			}
		}
		
		.icon {
			fill: $white;
		}
	}
	
	&--icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}