.button-list {
	
	position: relative;
	left: 0;
	margin: 0 0 0 auto;
	padding: 0;
	
	@include media-query("portable-and-up") {
		padding: 30px 150px 0 0;
	}
	
	@include media-query("lap-and-up") {
		padding: 30px 150px 0 150px;	
	}

	
	&__list {
		@extend %grid;
		@extend %grid--narrow;
		@extend %grid--middle;		
		
		@include media-query("lap-and-up") {
			justify-content: center;
			text-align: center;
		}
	}
	
	&__meta-button {
		@extend %grid;
		@extend %grid--full;
		@extend %grid--middle;
		
		
		position: relative;
		top: 0;
				
		@include media-query("lap-and-up") {
			top: -30px;
		}
			
		@include hover() {
			text-decoration: none;
			opacity: 0.5;
		}
		
		&__icon {
			.icon {
				width: 13px;
				height: 13px;
				fill: $orange;
				top: 1px;
			}
		}
		
		&__content {
			text-transform: uppercase;
			padding: 0 0 0 5px;
			position: relative;
			
			@include font-size(12px, false);
			
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: 2px;
				left: 5px;
				right: 0;
				height: 1px;
				background: $orange;
			}
		}
	}
	
}