.call-to-action {
	display: block;
	padding: 120px 0;
	position: relative;	
	
	&__image {
		background-size: cover;
		background-position: center top;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	&__heading {
		@extend %heading--primary;
		
		color: $white;
	}
	
	&__summary {
		color: $white;
		display: block;
		padding: 22px 0 0 0;
		
		@include font-size(16px, true, false, $snippet-line-height-ratio);
	}
	
	&__button {
		padding: $gutter 0 0 0;
	}
	
	&__content {
		position: relative;
		margin: 0 auto;
		text-align: center;
		
		@extend %portable--eight-tenths;
		@extend %lap--eight-tenths;
		@extend %desk--six-tenths;
	}
}