.class-tiles {

	padding-bottom: $gutter;
	height: 100%;
	
	&__list {
		@extend %grid;
		@extend %grid--level-heights;
		
		height: 100%;
		
		&--centered{
			@extend %grid--center;
		}

		&--thirds{

			.class-tiles__item{
				@extend %desk--one-third;
				@extend %lap--one-whole;
			}

		}
		
		&--whole{
			
			height: 100%;
			
			.class-tiles__item{
				@extend %one-whole;
			}
			
		}
		
		a{
			color: inherit;
			
			@include hover(){
				@include transition();
				text-decoration: none;
				
			}
			
		}

	}

	&__item {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		@extend %lap--one-half;
		@extend %desk--one-quarter;
	}
}
