.content-tiles {

	padding-bottom: $gutter;
	
	&__list {
		@extend %grid;
		@extend %grid--level-heights;

		&--centered{
			@extend %grid--center;
		}

	}

	&__item {
		@extend %palm--one-whole;
		@extend %portable--one-half;
		@extend %lap--one-half;
		@extend %desk--one-third;
	}
}
