.content {
	@extend %lap--eight-tenths;
	@extend %desk--six-tenths;
	
	display: block;
	margin: 0 auto;
	
	&__header{
		
		padding: $gutter--mini 0;
				
	}
	
	
	&__heading{
		
	}
	
	
	&__featured-image{
		height: auto;
		padding: 10px 0 30px 0;
	}
	

	&__body {
		@extend .clear;

		> * + *:not(li) {
			margin: $gutter--mini 0 0 0;
		}

		img {
			height: auto;
		}
		
		&__peek {
			
			&__trigger,
			&__overlay{
				display: none;
			}
			
			@include media-query('tablet') {
				
				&__trigger,
				&__overlay{
					display: block;
				}
				
				position: relative;
				height: 400px;
				overflow: hidden;
				
				&__overlay {
					
					//position: relative;
					height: 400px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
					z-index: 1000;
					
				}
				
				&__trigger{
					position: absolute;
					top: 290px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 3000;
				}
				
			}
			
		}
		

		.lead {
			@include font-size(18px, true);
			
			@include media-query("portable-and-up") {
				@include font-size(24px, true, false, $snippet-line-height-ratio);
			}
			
			font-family: $light-font-family;
			display: block;
			padding: 0 0 $gutter--mini 0;
		}

		.wp-caption {
			background: $eggshell;
			border: 1px solid $grey--light;
			display: block;
			padding: 10px;
			overflow: hidden;
			max-width: 100% !important;
			border-radius: $radius;

			> * {
				display: block;
			}

			&-text {
				display: block;
				margin: 8px 0 0 0;
			}
		}

		.alignright {
			@include media-query("lap-and-up") {
				float: right; 
				margin-bottom: 20px;
				margin-left: 20px;
			}
		}

		.alignleft {
			@include media-query("lap-and-up") {
				float: left; 
				margin-bottom: 20px;
				margin-right: 20px;
			}
		}

		p {			
			white-space: pre-line;
			
			.alignleft,
			.alignright {
				margin-top: 6px;
			}

			.aligncenter {
				margin: 20px auto;
			}

			img {
				margin: 20px 0;
			}
		}

		.aligncenter {
			clear: both;
			margin: 20px auto;
		}

		h1 {
			@extend %heading--primary;
		}
		
		&__heading,
		h2 {
			@extend %heading--secondary;
		}
		
		&__heading{
			font-size: 1.875rem !important;
			line-height: 1.875rem !important;
		}
		
		h3 {
			@extend %heading--tertiary;
		}

		ul {
			list-style: circle;
		}

		ol {
			list-style: decimal;
		}

		ul,
		ol {
			li {
				margin: 0 0 0 17px;
			}

			li + li {
				margin: 10px 0 0 17px;
			}
		}

		blockquote {
			background: $eggshell;
			border: 1px solid $grey--light;
			display: block;
			padding: 10px;
			font-style: italic;
			border-radius: $radius;

			@include font-size(18px, true);

			cite {
				display: block;
				padding: $gutter--mini 0 0 0;
				
				@include font-size(14px, true);
			}
		}

		table {
			table-layout: fixed;
			border: 1px solid $grey--light;
			border-collapse: collapse;
			overflow: auto;
			border-radius: $radius;
			width: 100%;

			&, * {
				text-align: left;
				vertical-align: top;
			}

			td,
			th {
				padding: $gutter--mini;
			}

			th {
				background: $grey;
				color: $white;
				border-bottom: 1px solid $grey--light;
				font-weight: 300;
			}

			td + td,
			th + th {
				border-left: 1px solid $grey--light;	
			}

			tr {
				&:nth-child(even) {
					td {
						background: $eggshell;
					}
				}
				
				&:not(:last-child) {
					td {
						border-bottom: 1px solid $grey--light;
					}
				}
			}
		}
		
		&--raw {
			padding: 0;
			border: 0;
		}
	}
	
	&--wide {
		width: 100%;
	}
	
	&--small {
		@include font-size(14px, true);
	}
}