.content-meta {

	@include media-query("lap-and-up") {
		margin-bottom: -5px;
	}

	&__row {
		@extend %grid;
		@extend %grid--middle;
		@extend %grid--center;

		position: relative;
		
	}

	&__row + &__row {

		//border: 1px solid red;

		margin: 0 0 0 #{-$gutter};

		&:after {
			content: "";
			display: block;
			height: 1px;
			background: $grey--eggshell;
			position: absolute;
			top: 10px;
			left: $gutter;
			right: 0;
		}

		@include media-query("lap-and-up") {

			padding-top: 25px;
			margin: 0 0 0 #{-$gutter};
			//margin: #{-$gutter} 0 0 #{-$gutter};
		}

	}

	&__item {
		@extend %palm--one-whole;
		@extend %portable--one-whole;
		@extend %lap--one-half;
		@extend %desk--one-half;

		justify-content: center;
		text-align: center;
		position: relative;
		padding-top: 20px;
		
		@include font-size(12px, true);
		
	}

	&__item + &__item {

		&:before {
			content: "";
			display: block;
			height: 1px;
			background: $grey--eggshell;
			position: absolute;
			top: 10px;
			left: $gutter;
			right: 0;
		}

		@include media-query("lap-and-up") {

			&:before {
				width: 1px;
				height: 40px;
				left: $gutter--mini;
				top: 50%;
				right: auto;
				margin: -10px 0 0 0;
			}
		}


	}

	&--wide {

		// @include media-query("lap-and-up") {

		// 	&:not(.lt-ie10) {

		// 		display: flex;
		// 		flex-direction: row;
		// 		justify-content: center;

		// 		.content-meta__row {
		// 			width: 50%;
		// 			margin: #{-$gutter--mini} 0 0 #{-$gutter--mini};

		// 			&:before,
		// 			&:after {
		// 				display: none !important;
		// 			}
		// 		}

		// 		.content-meta__item {
		// 			padding: $gutter--mini 0 0 $gutter--mini;
		// 		}
		// 	}


		// }

	}

}
