.content-tile {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: $white;
	border-radius: 0 0 $radius $radius;
	color: $grey--mid-dark;
	border: 2px solid transparent;
	box-shadow: inset 0px 0px 0px 1px $grey--eggshell;
	
	@include hover() {
		
		&:not(.content-tile--single) {
			text-decoration: none;
			border-color: $orange;
			
			.content-tile__heading {
				color: $orange;
			}
			
			.content-tile__inner {
				border-color: $white;
			}
		}
		
	}
	
	&__media {
		width: 100%;
		height: auto;
		position: relative;
		//overflow: hidden;
				
		@include media-query("portable-and-up") {
			//height: 200px;
		}
		
		@include media-query("lap-and-up") {
			//height: 240px;
		}
		
		&__image {
			height: auto;
			width: 100%;
		}
		
		&__icon {
			
			display: none;
			width: 25px;
			height: 25px;
						
			position: absolute;
			bottom: 20px;
			right: 30px;
			
			
			//padding: 0 25px 15px;
			
			.icon {
				width: 100%;
				height: 100%;
				fill: $orange;
				stroke: $orange--dark;
			}
			
			
			//background: $brown;
			
		}
		
		&--video {
			height: auto;
		}
	}
	
	&__inner {
		display: flex;
		flex-direction: column;
		flex: 1;
		border-radius: 0 0 $radius $radius;
	}
	
	&__heading {
		@extend %heading--tertiary;
		
		display: flex;
		justify-content: space-between;
		
		position: relative;
		
		&--rev {
			color: $orange;
		}
		
		&--center {
			text-align: center;
		}
	}
	
	&__summary {
		display: block;
		padding: $content-space 0 0 0;
		
		@include font-size(14px, true, false, $snippet-line-height-ratio);
	}
	
	&__content {
		
		position: relative;
		padding: 20px;
		
		&--with-action {
			@include media-query("lap-and-up") {
				padding: $gutter 150px $gutter $gutter;
			}
		}
		
	}
	
	&__meta {
		border-top: 1px solid $border-color;
		padding: $gutter;
		margin-top: auto;
		// &--wide {
		// 	padding: $gutter 0;
		// }
	}
	
	.content-tile__featured-flag {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		overflow: hidden;
		transform: rotate(-90deg);
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			
			@include triangle($orange, 40px, "left", 1);
		}
		
		.icon {
			width: 11px;
			height: 11px;
			fill: $white;
			position: absolute;
			top: 22px;
			left: 22px;
			transform: rotate(90deg);
		}
	}
	
	&__action-button {
		@extend %grid;
		@extend %grid--full;
		@extend %grid--middle;
		
		padding: 20px 0 0 0;
		
		@include media-query("lap-and-up") {
			position: absolute;
			top: $gutter;
			right: $gutter;
			padding: 0;
		}
		
		@include hover() {
			text-decoration: none;
			opacity: 0.5;
		}
		
		&__text {
			text-transform: uppercase;
			padding: 2px 5px 0 0;
			
			@include font-size(10px);
		}
		
		&__icon {
			.icon {
				width: 16px;
				height: 16px;
				top: 3px;
				fill: $orange;
			}
		}
	}
	
	&--dark {
		border-color: $brown;
	}
	
	&--eggshell {
		border-color: $eggshell;
	}
	
	&--trans {
		border-color: transparent;
	}
	
}