.decor-heading {
	
	&__icon {
		
		.icon {
			@extend %decor-icon--secondary;
		}
	}
	
	&__heading {
		color: $orange;
		text-transform: uppercase;
		display: block;
		width: 100%;
		text-align: center;
		padding: $gutter 0 0 0;
		font-weight: normal;
		
		@include font-size(12px, true, false, $heading-line-height-ratio);
	}
	
	&--breathe-top {
		padding-top: $gutter--double;
	}
	
	&--breathe-bottom {
		padding-bottom: $gutter;
	}
}