.feature-content {
	
	&__heading {
		@extend %heading--tertiary;
		
		color: $orange;
	}
	
	&__inner {
		padding: $gutter--mini 0 0 0;
		
		> * + * {
			margin: 10px 0 0 0;
		}
	}
	
	hr {
		border: none;
		display: block;
		height: 2px;
		background: $grey--light;
		margin: 60px 0;
	}
	
	// I know, I know. Designer special
	.form__split {
		@extend %lap--eight-tenths;
		@extend %desk--eight-tenths;
	}
	
	&--breathe-bottom {
		padding: 0 0 20px 0;
	}
}