.filter-menu {
	
	display: flex;
	flex-direction: column;
	
	@include media-query('tablet'){
		
		&__searchbox,
		&__group{
			width: 100%;
		}
		
		&__group{
			flex-direction: column;
		}
		
		&__searchbox{
			margin-bottom: $gutter--mini;
		}
		
	}
	

	&__heading {
		
		width: 100%;
		text-transform: uppercase;
		color: $grey--mid;
		display: block;
		padding: $gutter--mini 0 10px;
		border-radius: $radius--mini;
		
		@include font-size(12px, true, false, $heading-line-height-ratio);
	}
	
	&__group{
		display: flex;
	}
	
	&__searchbox{
		height: 36px;
		padding: 10px 20px;
		margin-right: 20px;
		border-radius: 10px;
		border: 1px solid #ccc;
		appearance: none;
		
		&:focus {
			outline: none;
			border: 1px solid #ff9b59;
		}
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	&__item {
		
		font-size: 13px;
		text-align: center;
		
		@include media-query('lap-and-up'){
			margin-right: 20px;
		}
		
		@include media-query('tablet'){
			width: calc(50% - 10px);
			margin-bottom: $gutter--mini;
		}
		
		&__icon {
			.icon {
				width: 17px;
				height: 17px;
				margin: 0 0 0 5px;
				top: 3px;
				fill: $grey--mid;
			}
		}
	
		&__inner {
			display: block;
			position: relative;
			background: $white;
			padding: 4px 15px;
			cursor: pointer;
			border-radius: 10px;
			border: 1px solid #ccc;
			
			@include hover(false) {
				background: $eggshell;
			}
		}
	}
	
	.button-list{
		z-index: 10000;
		padding: 0;
		
		@include media-query('tablet'){
			margin-bottom: $gutter--mini;
		}
	}
	
}