.form {
	
	&__group {
		
		&--center {
			text-align: center;
		}
		
		&--breathe {
			padding: 30px 0 0 0 !important;
		}
	}
	
	&__group + &__group,
	&__group + &__split,
	&__split + &__group {
		padding: 10px 0 0 0;
	}
	
	&__split {
		@extend %grid;
		@extend %grid--narrow;
		@extend %grid--middle;
			
		> * {
			@extend %palm--one-whole;
			@extend %portable--one-whole;
			@extend %lap--one-half;
			@extend %desk--one-half;
			
			@include font-size(12px, true, false, $snippet-line-height-ratio);
			
			&:nth-child(2n) {
				margin: 10px 0 0 0;
				
				@include media-query("lap-and-up") {
					margin: 0;
				}
			}
			
			a {
				position: relative;
				top: 2px;
				color: $grey--mid-dark;
				
				@include hover() {
					text-decoration: none;
					color: $orange;
				}
			}
		}
		
		&--flush {
			@extend %grid--full;
		}
		
		&--third-two-third {
			
			> * {
				
				&:first-child {
					@extend %palm--one-whole;
					@extend %portable--one-whole;
					@extend %lap--two-thirds;
					@extend %desk--two-thirds;
				}
				
				&:last-child {
					@extend %palm--one-whole;
					@extend %portable--one-whole;
					@extend %lap--one-third;
					@extend %desk--one-third;
				}
			}
		}
	}
	
	&__label {
		@extend .is-hidden--text;
	}
	
	&__input {
		border: none;
		background: $eggshell;
		display: block;
		width: 100%;
		cursor: pointer;
		padding: 15px 15px 13px 15px;
		border: 2px solid transparent;
		color: $grey--mid-dark;
		border-radius: $radius--mini;
		position: relative;
		
		@include form-field();
		@include font-size(16px, true);
		@include placeholder($grey--mid);
		
		&--select {
			padding: 15px 45px 13px 15px;
		}
		
		&:focus {
			border-color: $orange;
		}
		
		&.is-error {
			border-color: $red;
			color: $red;
			background: lighten($red, 50%);
			
			@include placeholder($red);
		}
		
		&__icon {
			width: 16px;
			height: 16px;
			position: absolute;
			top: 50%;
			right: 20px;
			margin: -8px 0 0 0;
			
			.icon {
				display: block;
				width: 100%;
				height: 100%;
				fill: $grey--mid-dark;
			}
		}
	}
	
	&__check {
		@extend %grid;
		@extend %grid--full;
		@extend %grid--middle;
		
		&__input {
			
			input {
				display: none;
				
				&:checked {
					+ .form__check__decor {
						.icon {
							display: block;
						}
					}
				}
			}
		}
			
		&__decor {
			display: block;
			width: 15px;
			height: 15px;
			position: relative;
			background: $eggshell;
			overflow: hidden;
			border-radius: $radius--mini;
			cursor: pointer;
			
			.icon {
				width: 10px;
				height: 10px;
				position: absolute;
				top: 3px;
				left: 2px;
				fill: $orange;
				display: none;
			}
		}
		
		&__label {
			margin: 4px 0 0 10px;
			cursor: pointer;
			
			@include font-size(12px, true, false, $snippet-line-height-ratio);
		}
	}
	
}