.hamburger {
	position: absolute;
	top: -15px;
	right: 0;
	bottom: 0;
	left: 0;
	
	@media (min-width:768px) and (max-width: 1023px){
		top: 0px;
	}
	
	&__inner {
		top: 25%;
		left: 0;
		transform: translateY(-25%);
		
		@include media-query("tablet"){
			top: 50%;
			transform: translateY(-50%);
		}
		
		&,
		&:before,
		&:after {
			@extend %hamburger-bar;
			
			@include transition();
		}
		
		&:before,
		&:after {
			content: "";
		}
		
		&:before {
			top: -7px;
		}
		
		&:after {
			top: 7px;
		}
		
	
		.is-active & {
			background: $orange;
			
			&,
			&:before,
			&:after {
				@include transition($speed: "slow");
			}
			
			&:before,
			&:after {
				background: transparent;
				top: 0 !important;
			}
		}
		
	}
	
	@include hover() {
		
		.hamburger__inner {
			&:before {
				top: -9px;
			}
			
			&:after {
				top: 9px;
			}
		}
	}

}

%hamburger-bar {
	display: block;
	width: 30px;
	height: 2px;
	background: $white;
	position: absolute;

}