.headline {
	width: 100%;
	text-align: center;
	
	&--left-align{
		text-align: left;
	}
	
	&__heading {
		@extend %heading--secondary;
		
		display: block;	
		color: $orange;
	}
	
	&__summary {
		display: block;
		padding: 20px 0 0 0;
		
		&--rev {
			color: $white;
		}
		
	}
	
	&--breathe {
		@extend %chunk;
	}

	&--breathe-small{
		padding: $gutter 0;
	}

	&--breathe-top {
		@extend %chunk--top;
	}
	
	&--breathe-bottom {
		@extend %chunk--bottom;
	}
}