.hero {
	display: block;
	padding: 50px 0 70px 0;
	position: relative;	
	
	&__image {
		background-size: cover;
		background-position: center top;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	&__heading {
		@extend %heading--primary;
		
		color: $orange;
	}
	
	&__summary {
		color: $white;
		display: block;
		padding: 22px 0 0 0;
		
		@include font-size(16px, true, false, $snippet-line-height-ratio);
		font-weight: normal;
	}

	&__content {
		position: relative;
		margin: 0 auto;
		text-align: center;
		
		@extend %portable--eight-tenths;
		@extend %lap--eight-tenths;
		@extend %desk--six-tenths;
	}
	
	&__avatar {
		display: block;
		width: 100px;
		height: 100px;
		background-size: cover;
		background-position: center center;
		position: absolute;
		overflow: hidden;
		border-radius: 100%;
		bottom: -50px;
		left: 50%;
		margin: 0 0 0 -50px;
	}
	
	&--with-avatar {
		margin: 0 0 50px 0;
	}
}