.hidden-field {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0px;
	border: none;
	background: transparent;
	padding: 5px 10px;
	opacity: 0;

	@include font-size(16px, true);

	@include media-query("lap-and-up") {
		max-width: 320px;
		left: 50%;
		transform: translateX(-50%);
	}

	&--text {
		opacity: 1;
	}

}