.inline-icon-links {
	@extend %grid;
	@extend %grid--middle;
	@extend %grid--center;
	
	@include media-query("palm") {
		margin-top: -20px !important;
	}
	
	&__item {
		@include media-query("palm") {
			padding: 20px 0 0 40px;
		}
	}
	
	
	&__inner {
		@extend %grid;
		@extend %grid--full;
		@extend %grid--middle;
		
		@include hover() {
			text-decoration: none;
			opacity: 0.7;
		}
	}
	
	&__content {
		text-transform: uppercase;
		padding: 0 0 0 10px;
		
		@include font-size(12px, true);
	}
	
	&__inner {
		color: $orange;
	}
	
	&__icon {
		.icon {
			width: 30px;
			height: 30px;
			top: -1px;
			fill: $orange;
			display: block;
		}
	}
}