.modal {


  	overflow-x: hidden;
  	overflow-y: scroll;

	position: fixed;
	top: 0;
  	right: 0;
	bottom: 0;
	left: 0;

	background: rgba($brown, 0.9);
	opacity: 0;

	visibility: hidden;

  @include transition();


  &.is-active {
  	-webkit-overflow-scrolling:touch; // Fix for janky scrolling on iOS

	visibility: visible;
	opacity: 1;

	// Helping iOS with z-index issues
	-webkit-transform: translate3d(0, 0, 1px);
			transform: translate3d(0, 0, 1px);
  }

	//&, &__overlay {
	//  z-index: 9000; // Highest I found was 8200
	//}
	//
	//&__overlay {
	//	display: block;
	//	background: rgba($brown, 0.9);
	//	opacity: 0;
	//
	//	position: absolute;
	//	top: 0;
	//	right: 0;
	//	bottom: 0;
	//	left: 0;
	//
	//
	//	@include transition();
	//
	//	.is-active & {
	//		opacity: 1;
	//	}
	//}
	
	&__window {
		display: block;
		background: $white;
		position: relative;
		border-radius: $radius;
		margin: $gutter--mini auto;
		opacity: 0;

	  	width: 850px;
	  	max-width: 90%;
		
		@include transition();
		
		//@include media-query("portable-and-up") {
		//	max-width: 450px;
		//}
		
		//@include ie("lt-ie10") {
		//	position: fixed;
		//	top: 50%;
		//	left: 50%;
		//	transform: translateX(-50%) translateY(-50%);
		//}
		
		.is-active & {
			opacity: 1;
		}
		
		&--wide {
			@include media-query("portable-and-up") {
				max-width: 850px;
			}
		}
		
		&__header {
			position: relative;
			padding: $gutter--mini 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			border-bottom: 1px solid $grey--eggshell;
			font-weight: normal;
			color: $orange;
			
			@include font-size(14px, true, false, $heading-line-height-ratio);
			
			.icon {
				width: 20px;
				height: 20px;
				margin: 0 5px 0 0;
				fill: $orange;
				
				@include ie("lt-ie10") {
					display: none;
				}
			}
		}
		
		&__content {
			padding: $gutter--mini;

			@include media-query("lap-and-up") {
				padding: $gutter--mini $gutter;
			}
			
			&__inner {
				padding: 30px 0 0 0;

				@include bounce-scroll();

				@include media-query("portable-and-up") {
					// max-height: 400px;
				}

				@include media-query("lap-and-up") {
					//max-height: 500px;
				}
			}
		}
		
		&__heading {
			font-family: $bold-font-family;
			font-weight: normal;
			display: block;
			text-align: center;
			
			@include font-size(16px, true, false, $heading-line-height-ratio);
		}
		
		&__summary {
			display: block;
			padding: $gutter--mini 0 0 0;
			text-align: center;
			
			@include font-size(14px, true, false, $snippet-line-height-ratio);
		}
	
		&__close {
			position: absolute;
			top: -10px;
			right: -10px;
			background: $grey--light;
			border-radius: 100%;
			width: 25px;
			height: 25px;

			@include hover {
				background: $grey;
			}
			
			.icon {
				width: 25px;
				height: 25px;
				fill: $white;
			}
		}
		
		&__decor-image {
			min-height: 300px;
		}
	}
}