.product-card {
	@extend %grid;
	@extend %grid--full;
	
	border: 2px solid transparent;
	border-radius: $radius;
	max-width: 1080px;
	width: 100%;
	
	@include hover() {
		text-decoration: none;
		border-color: $orange;
		
		.product-card__content {
			border-color: transparent;
		}
	}
	
	&__media {
		@extend %palm--one-whole;
		@extend %portable--four-tenths;
		@extend %lap--four-tenths;
		@extend %desk--four-tenths;
		
		background-size: cover;
		background-position: center center;
		min-height: 200px;
		
		// When the designer realises their own inconsistency, un-comment
		// border-radius: $radius $radius 0 0;

		// @include media-query("portable-and-up") {
		// 	border-radius: $radius 0 0 $radius;
		// }
	}
	
	&__content {
		@extend %palm--one-whole;
		@extend %portable--six-tenths;
		@extend %lap--six-tenths;
		@extend %desk--six-tenths;
		
		border: 1px solid $grey--light;
		
		// When the designer realises their own inconsistency, un-comment		
		// border-radius: 0 0 $radius $radius;

		// @include media-query("portable-and-up") {
		// 	border-radius: 0 $radius $radius 0;
		// }
		
	}
	
	&__inner {
		padding: $gutter;
		color: $grey--mid-dark;
		
		> * + * {
			margin: 10px 0 0 0;
		}
	}
	
	&__heading {
		@extend %heading--tertiary;

		display: block;
	}
	
	&__sub-heading {
		color: $grey--mid-dark;
		display: block;
		padding: 0 0 5px 0;
		
		@include font-size(14px, true, false, $heading-line-height-ratio);
	}
	
	&__summary,
	&__highlight {
		@include font-size(14px, true);
	}
	
	&__highlight {
		color: $orange;
	}
}