.prompt {
	background: lighten($red, 50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: $gutter--mini;
	border: 2px solid $red;
	border-radius: $radius;
	margin-bottom: 20px;
	
	&__icon {
		display: none;
		
		@include media-query("lap-and-up") {
			display: block;
			
			.icon {
				width: 30px;
				height: 30px;
				fill: $red;
				top:  3px;
				margin: 0 10px 0 0;
			}
		}
	}
	
	&__content {
		color: $red;
		@include font-size(14px, true, false, $snippet-line-height-ratio);
	}
}