.smallprint {
	@extend %grid;
	@extend %grid--full;
	
	&__icon {
		.icon {
			width: 16px;
			height: 16px;
			fill: $grey;
		}
	}
	
	&__text {
		width: calc(100% - 16px);
		color: $grey;
		padding: 0 0 0 20px;
		
		@include font-size(12px, true);
		
		> * + * {
			margin: 20px 0 0 0;
		}
	}
}