.social-sharing{
	@extend %grid;
	@extend %grid--right;
	
	&__list{
		
		@extend %grid;
		
		margin: 0;
		margin-top: $gutter;
		padding: 0;
		padding-bottom: $gutter--mini;
		
		&__item{
			width: 75px;
			padding: $gutter--mini;
		}
	}
}