.testimonial {
	text-align: center;
	
	&__icon {
		display: block;
		margin: 25px auto;
		
		.icon {
			@extend %decor-icon--secondary;
		}
	}
	
	&__content {
		@extend %desk--six-tenths;
		
		font-family: $light-font-family;
		font-weight: normal;
		display: block;
		margin: 0 auto;
		
		@include font-size(20px, true, false, $snippet-line-height-ratio);
		
		@include media-query("portable-and-up") {
			@include font-size(24px, true, false, $snippet-line-height-ratio);
		}
	}
	
	&__avatar {
		margin: $gutter 0 0 0;
	}
}