.user-avatar {
	@extend %grid;
	@extend %grid--full;
	@extend %grid--middle;
	
	justify-content: center;
	
	&--centered{
		
		.user-avatar__content{
			
			width: 100%;
			padding-left: 0;
			text-align: center;
			
		}
		
	}
	
	&__image {
		
		width: 50px;

		> img {
			height: 50px;
			width: 100%;
			border-radius: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding-top: 5px;
		padding-left: 10px;
		text-align: left;

		&__meta {
			display: block;
			margin: -4px 0 0 0;
		}
	}

	&--lap-up-left {

		@include media-query("lap-and-up") {
			text-align: left;
			justify-content: flex-start;
			
			.user-avatar__content{
				padding: 0 0 0 10px !important;
			}
			
		}
	}

	&--multi {

		.user-avatar__content {
			font-family: $bold-font-family;

			&__meta {
				font-family: $base-font-family;
			}
		}
	}
}
