$global: true;

/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";

#{$wrapping-class} {
	
	/*------------------------------------*\
		ADD SOME GLOBAL STYLES
	\*------------------------------------*/
	.clear {
		
		&:after,
		&:before {
			content: "";
			clear: both;
			display: block;
		}
	}
	
	/*------------------------------------*\
		MIXINS
	\*------------------------------------*/
	
	@import "mixins/bounce-scroll";
	@import "mixins/placeholder";
	@import "mixins/triangle";
	@import "mixins/gosocial";
	/*------------------------------------*\
    HELPERS
\*------------------------------------*/
	
	@import "helpers/hamburger-bar";
	@import "helpers/responsive-grid";
	@import "helpers/tab-link";
	@import "helpers/transition";
	@import "helpers/z-index";
	/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
	
	@import "components/post-navigation";
	@import "components/active";
	@import "components/call-to-action-list";
	@import "components/call-to-action";
	@import "components/content";
	@import "components/course-grid";
	@import "components/descriptive-media";
	@import "components/grouped-list";
	@import "components/hamburger";
	@import "components/inline-avatar-list";
	@import "components/course-card";
	@import "components/notebox";
	@import "components/notification-indicator";
	@import "components/partial";
	@import "components/pill";
	@import "components/pills";
	@import "components/question";
	@import "components/stacked-avatar-list";
	@import "components/video-player";
	
	//@import "components/tabs";
	//@import "components/user-info";
	//@import "components/friend-status";
	//@import "components/friend-status-wrapper";
	//@import "components/tabbed-users";
	//@import "components/headline";
	//@import "components/hero";
	//@import "components/icon";
	//@import "components/drop-down-menu";
	//@import "components/form";
	//@import "components/button";
	//@import "components/comment";
	
	/*------------------------------------*\
		LAYOUTS
	\*------------------------------------*/
	
	//@import "layouts/article";
	//@import "layouts/comments";
	//@import "layouts/groups";
	//@import "layouts/site-head";
	//@import "layouts/site-foot";
	//@import "layouts/view";
	
	/*------------------------------------*\
		ANIMATIONS
	\*------------------------------------*/
	
	//@import "animations/*";
	
	// Import the shame
	@import "shame";
	
}