%box-base {
	border: 1px solid $grey--light;
	border-radius: $radius;
	background: $white;
}

%box {
	@extend %box-base;

	padding: $gutter;
}

%box--flush {
	@extend %box-base;
}

%box--radius-top {
	border-radius: $radius $radius 0 0;
}

%box--radius-bottom {
	border-radius: 0 0 $radius $radius;
	border-top: 0px;
}