%flex-wrapper {
	display: flex;
}

%flex-wrapper--column {
	@extend %flex-wrapper;

	flex-direction: column;
}

%flex-wrapper--row {
	@extend %flex-wrapper;
	
	flex-direction: row;
}

%flex-wrapper--center-center {
	align-items: center;
	justify-content: center;
}