%heading-base {
	text-transform: capitalize;
}

%heading-primary {
	@extend %heading-base;

	@include font-size(30px, true, false, $tight-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(40px, true, false, $tight-line-height-ratio);
	}
}

%heading-secondary {
	@extend %heading-base;

	@include font-size(25px, true, false, $tight-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(35px, true, false, $tight-line-height-ratio);
	}
}

%heading-tertiary {
	@extend %heading-base;

	@include font-size(20px, true, false, $tight-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(30px, true, false, $tight-line-height-ratio);
	}
}

%heading-quaternary {
	@extend %heading-base;

	@include font-size(12px, true, false, $tight-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(14px, true, false, $tight-line-height-ratio);
	}
}