%overflow-nav-parent {
	width: 100%;
}

%overflow-nav {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

%overflow-nav__item {
	display: inline-block;
}