// Useful for links that are primary color, 
// but don't want to be underlined at hover
%primary-link {
	color: $primary-color;
	text-decoration: none;
	
	@include hover() {
		text-decoration: none;
		color: $grey--mid;
	}
}