@mixin hover($include-active: false) {
	
	@if($include-active) {
		&:target,
		&:active,
		&:hover,
		&:focus,
		&.is-active {
			@content;
		}
	}
	@else {
		&:target,
		&:active,
		&:focus,
		&:hover {
			@content;
		}
	}
} 