/*------------------------------------*\
    NO JS

    A simple mixin that will allow consistent no JS related styles 
    
\*------------------------------------*/
@mixin no-js($selector: "&") {

	@if $selector == parent {

		.no-js {
			@content;
		}
	}
	@else {

		.no-js & {
			@content;
		}
	}
}