/*------------------------------------*\
    Z-INDEX LOG

	Because of the nature of this UI, all z-index will
	live in each component/layout. It is still however 
	to log the values in here so we can still have a 
	reasonably similar benefit to other projects using 
	the stalfos framework.

	.prompt { z-index: 900; }
	.prompt__overlay { z-index: 910; }
	.prompt__window { z-index: 920; }

	.user-status { z-index: 100; }
	.user-status__sub-menu__mask { z-index: -1; }
	
	.upload__meter { z-index: 1000 }

\*------------------------------------*/