/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";


/*------------------------------------*\
    DECLARATIONS
\*------------------------------------*/
$output-mode: $core-mode;


/*------------------------------------*\
    ADD SOME GLOBAL STYLES
\*------------------------------------*/

html {

}

body {

    &.modal-open {
        overflow: hidden;
    }
}

#{$wrapping-class} {

    // Reset 
    @import "../framework/core/reset";

    // Hide persistent scrollbar in IE (10/11) and Edge
    -ms-overflow-style: -ms-autohiding-scrollbar;

    // Styles start
    text-rendering: optimizeLegibility;

    &--no-size{
        display: flex;
        min-width: 120px;
        //display: inline-block;
        //float: left;
    }
    
	//@include font-size($base-font-size, true);

    img {
        display: block;
        max-width: 100%;
    }

    a[href^="mailto"] {
        @include word-wrap();
    }

    a:not(class) {
        //color: $primary-color;
    }

    .wrapper {
        min-width: $site-min-width;
        max-width: 100%;
        margin: 0 auto $gutter--mini;
        //padding: 0 $gutter;
        position: relative;
    }

    .clear {

        &:after,
        &:before {
            content: "";
            clear: both;
            display: block;
        }
    }

    // Headings 
    h1:not(class) {
        @extend %heading-primary;
    }

    h2:not(class) {
        @extend %heading-secondary;
    }

    h3:not(class) {
        @extend %heading-tertiary;
    }

    h4:not(class), 
    h5:not(class), 
    h6:not(class) {
        @extend %heading-quaternary;
    }
    
    
    /*------------------------------------*\
        PRINT MEDIA QUERIES

        Print media query keys as a sudo of body.
        This will allow JS to accurately determine
        what breakpoint we're at rather than doing 
        nasty sniffs 👍
    \*------------------------------------*/
    &:before {
        display: none;
        content: "palm";

        @include media-query("portable-and-up") {
            content: "portable-and-up";
        }

        @include media-query("lap-and-up") {
            content: "lap-and-up";
        }

        @include media-query("desk") {
            content: "desk";
        }

        @include media-query("desk-wide") {
            content: "desk-wide";
        }
    }

    /*------------------------------------*\
        IMPORTS
    \*------------------------------------*/
    @import "imports/mixins";
    @import "imports/helpers";
    @import "imports/components";
    @import "imports/layouts";
    @import "imports/third-party";

    // Z-index rules
    @import "z-index";

    // Import the shame
    @import "shame";
}