.archive{
		
	@include mode($core-mode){
		
		@extend %flex-wrapper;
		
		&__content {
			
			@extend %flex-wrapper;
			//@extend %desk--one-whole;
			
			flex-direction: column;
			
			&__header {
				
				padding: $gutter--mini;
				border: 1px solid $grey--light;
				border-bottom: 0px;
				border-radius: $radius;
				background: $eggshell;

				.button-group {
					margin: 0;
				}
				
			}
			
			&__body {
				
				//padding: $gutter 0;
				
			}
			
			&__footer {

			}
			
		}
			
		&__sidebar{
			
			//@extend %desk--two-tenths;
			
			//padding-right: $gutter;
		}
				
	}
	
}