.comments {

	@include mode($layouts-mode) {

		&__item {

			list-style: none;
			
			@include content-flow('.comments__item') {
				margin-top: $gutter;
			}

			&__inner {
				@extend %grid;
				@extend %grid--full;
				@extend %grid--top;
			}

			&__avatar {
				width: 50px;
				height: 50px;
				margin-top: 10px;

				@include media-query("lap-and-up") {
					width: 80px;
					height: 80px;
				}

				&--small{
					width: 30px;
					height: 30px;
					margin-top: 10px;

					@include  media-query("lap-and-up"){
						width: 40px;
						height: 40px;
					}
				}
			}

			&__content {
				width: calc(100% - 50px);

				@include media-query("lap-and-up") {
					width: calc(100% - 80px);
				}

				&--wide{

					width: calc(100% - 30px);

					@include media-query("lap-and-up"){
						width: calc(100% - 40px);
					}

				}
			}

			&__box {
				border-bottom: 1px solid $grey--light;
				padding: 0 $gutter $gutter 0;
				margin: 0 0 0 $gutter;

			}

			&__header {
				
			}

			&__heading {
				@extend %heading-base;
				font-size: 16px;

				@include media-query("lap-and-up") {
					font-size: 18px;
				}

				&, a {
					color: $grey--mid-dark;

					@include hover() {
						color: $primary-color;
						text-decoration: none;
					}
				}
			}

			&__date {
				color: $grey;
				font-size: 12px;
			}

			&__body {
				position: relative;
			}

			&__interaction {
				@extend %action-link;

				margin-right: $gutter--mini;
			}


			// Nested list 
			.comments__list {
				padding-left: $gutter;
				padding-top: $gutter;

				@include media-query("lap-and-up") {
					padding-left: 100px;
				}
			}
		}

		

		&__form {
			
			@extend %one-whole;

			padding: $gutter 0 0 0;

			&__heading {
				@extend %heading-secondary;
			}

			&__item {
				padding: $gutter 0 0 0;
			}

			&--reply{
				display: none;
				//border-top: none;
				margin: 20px -20px -20px 0;
				border: 1px solid #d0d0d0;
				border-bottom: 0;
				
				&.is-active{
					display: block;
				}
			}

		}

	}
}