.message-centre {

	@include mode($messaging-mode) {
		
		&__feed {
			@extend %grid;
			@extend %grid--full;
			@extend %grid--top;


			@include media-query("lap-and-up") {
				margin-top: $gutter;
			}
			
			&__sidebar {
				@extend %palm--one-whole;
				@extend %lap--one-quarter;
				@extend %desk--one-quarter;
				@extend %box-base;
				
				@include media-query("palm") {
					
				}
				
				background-color: $white;

				.search {
					padding: $gutter;
					background: $eggshell;
					border-bottom: $grey--light solid 1px;
				}
			}

			&__content,
			&__sidebar {
				height: 300px;
				
				@include bounce-scroll();
				
				@include media-query("portable") {
					height: 350px;
				}
				
				@include media-query("desk") {
					height: 400px;
				}
			}
			
			&__recipients{
				width: 100%;
			}

			&__content {
				@extend %palm--one-whole;
				@extend %lap--three-quarters;
				@extend %desk--three-quarters;
				
				padding: 0 0 0 0;

				@include media-query("palm") {
					position: relative;
				}

				@include media-query("lap-and-up") {
					padding: 0 0 0 $gutter;
				}

				&__inner {
					padding: $gutter--mini $gutter--mini $gutter $gutter--mini;

					@include media-query("lap-and-up") {
						padding: $gutter--mini $gutter $gutter--double $gutter;
					}
				}
			}
		}

		&__editor {
			@extend %grid;
			@extend %grid--full;

			padding: 0 0 0 0;

			@include media-query("lap-and-up") {
				margin-left: -1px;
				padding: 0 0 0 $gutter;
			}

			&__padding {
				@extend %is-hidden--palm;
				@extend %lap--one-quarter;
				@extend %desk--one-quarter;
			}

			&__window {
				@extend %palm--one-whole;
				@extend %lap--three-quarters;
				@extend %desk--three-quarters;

				padding: $gutter;
				background: $eggshell;
				border-radius: $radius;
				border: $grey--light solid 1px;
			}
		}
	}
}