.navigator {

	@include mode($layouts-mode) {

		@extend %grid;
		@extend %grid--top;
		@extend %grid--center;

		&__sidebar {
			@extend %palm--one-whole;
			@extend %lap--one-third;
			@extend %desk--one-third;
			
			&__heading{
				
				@include font-size(20px, true, true);
				
			}
			
		}

		&__content {
			@extend %palm--one-whole;
			@extend %lap--two-thirds;
			@extend %desk--two-thirds;
		}

		&--rev {
			@extend %grid--rev;
		}

		&--content-full-width {

			.navigator__content {
				@extend %lap--one-whole;
				@extend %desk--one-whole;
			}

			.navigator__sidebar {
				@extend %is-hidden;
			}
		}

		&--skinny-sidebar {

			.navigator__sidebar {
				@extend %lap--one-quarter;
				@extend %desk--two-tenths;
			}

			.navigator__content {
				@extend %lap--three-quarters;
				@extend %desk--eight-tenths;
			}
		}
	}
}