.user-profile {

	@include mode($user-mode) {

		&__header {
			@extend %grid;
			@extend %grid--top;

			position: relative;
			padding-bottom: $gutter;
			margin-bottom: $gutter;

			&:after {
				content: "";
				display: block;
				width: calc(100% - 20px);
				height: 1px;
				background: $grey--light;
				position: absolute;
				bottom: 0px;
				left: $gutter;
			}

			&__avatar {
				@extend %palm--one-whole;

				@include media-query("lap-and-up") {
					width: #{120px + $gutter};
				}
			}

			&__content {
				@extend %palm--one-whole;

				@include media-query("lap-and-up") {
					width: calc(#{"100% - " + (120px + $gutter)});
					padding-left: 40px;
				}
			}
		}

		&__heading {
			@extend %heading-secondary;

			display: block;
			margin-top: 0px;
		}

		&__summary {
			display: block;
			padding: 5px 0 0 0;

			@include font-size($base-font-size, true, false, $tight-line-height-ratio);
		}

		&__heading,
		&__summary {
			@extend %lap--one-whole;
			@extend %desk--one-whole;
		}

		&__sub-heading {
			@extend %heading-tertiary;
		}

		&__interactions {
			@extend %grid;
			@extend %grid--right;

			&__item {
				@extend %palm--one-whole;

				position: relative;

				&:not(:first-child) {

					&:before {
						content: "";
						width: calc(#{"100% - " + $gutter});
						height: 1px;
						position: absolute;
						top: 5px;
						left: $gutter;
						background: $grey--light;

						@include media-query("lap-and-up") {
							width: 1px;
							height: calc(#{"100% - " + $gutter});
							left: $gutter--mini;
							top: $gutter;
						}
					}
				}
			}
		}

		&__networks {
			@extend %grid;
			@extend %grid--narrow;

			&__item {
				text-decoration: none;
			}

			&__icon {
				width: 32px;
				height: 32px;
				fill: $grey;
				top: 2px;

				@include hover() {
					fill: $grey--mid;
				}
			}
		}

		&__activity {

			padding: $gutter--midi 0 0 0;

			&__content {
				padding: $gutter 0 0 0;
			}
			
		}
	}
}