$banana: #fad46b;
$black: #000000;
$bruise: #a88cd5;
$coastal-surf: #e1eef3;
$coral: #d6e1e5;
$coral--mid: #b7cad1;
$cutlass: #b2c6cd;
$deep-red: #cf0d18;
$doubloon: #f3bc65;
$eggshell: #f3f3f3;
$emerald-cove: #3eb5ac;
$first-blood: #cc0000;
$green: #55bb6c;
$green--dark: #3a924e;
$green--mid: #79ca8b;
$green--light: #aaddb5;
$gunpowder: #5e696d;
$horizon: #f58410;
$lagoon: #02baf2;
$landlubber: #28948c;
$nassau-sunset: #e96300;
$overboard: #009dcd;
$pieces-of-eight: #93a4aa;
$sugar-plum: #9175bd;
$strawberry: #f84545;
$the-black-flag: #364347;
$the-black-flag--dark: #2f393c;
$white: #ffffff;