$wrapping-class: ".chumly";

$elearning-mode: "chumly-elearning";

/*------------------------------------*\
    TRANSITION EASING
\*------------------------------------*/

$ease: ease;
$ease--in: cubic-bezier(0.905, 0.165, 0.540, 0.875);

/*------------------------------------*\
    ICON UNICODE
\*------------------------------------*/
$unicode-tick: "\f00c";
$unicode-cross: "\f00d";