/*------------------------------------*\
    GENERIC
\*------------------------------------*/
$gutter: 20px;
$gutter--mini: ($gutter / 2);
$gutter--midi: ($gutter  + ($gutter / 2));
$gutter--double: ($gutter * 2);
$gutter--treble: ($gutter * 3);
$site-max-width: 1280px;
$site-min-width: 320px;


/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/
$breakpoint--palm: "(max-width: 839px)";
$breakpoint--portable: "(max-width: 999px)";
$breakpoint--lap: "(min-width: 840px) and (max-width: 999px)";
$breakpoint--desk: "(min-width: 1000px)";
$breakpoint--desk--wide: "(min-width: 1300px)";
$breakpoint--lap-and-up: "(min-width: 840px)";

/*------------------------------------*\
    GRID SYSTEM
\*------------------------------------*/
$grid--responsive: true;
$grid--mobile-first: true;
$grid--gutter: $gutter;
$grid--use-silent-classes: true;
$grid--push: false;
$grid--pull: false;


/*------------------------------------*\
    GLOBAL SIZES
\*------------------------------------*/
$site-head-height: 64px;
$radius: 8px;
$radius--mini: ($radius / 2);
$comment__avatar-width: 80px;
$wp-admin-bar-palm-height: 46px;
$wp-admin-bar-desk-height: 32px;
$message-center-height: 740px;
$message-center-box-height: 220px;