/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height-ratio: 1.2;
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$icon-font-family: "FontAwesome";

/*------------------------------------*\
    WEIGHTS
\*------------------------------------*/
$semi-bold: 600;