%tab-link {

	color: $the-black-flag;
	font-weight: bold;
	padding: 0 0 2px 0;
	border-bottom: 2px solid transparent;
	margin: 0 0 5px 0;
	cursor: pointer;
	line-height: 1;

	@include font-size(24px);

	&:hover,
	&:focus {
		text-decoration: none;
		color: $lagoon;
	}

	&.is-active {
		border-bottom: 2px solid $the-black-flag;

		&:hover,
		&:focus {
			border-bottom: 2px solid $lagoon;
		} 
	}

	&--mini {
		@include font-size(18px);
	}
}