$black: #000000;
$white: #ffffff;

$eggshell: #f3f3f3;

$grey: #aaaaaa;
$grey--light: #d0d0d0;
$grey--eggshell: #e7e7e7;
$grey--mid: #5e5e5e;
$grey--mid-dark: #4d4d4d;
$grey--dark: #333333;

$blue: #3a81ea;
$blue--light: #5995ed;
$blue--mid: #1c6ee6;

$green: #5cb85c;
$green--light: #7fc77f;
$green--mid: #49a949;

$red: #d44737;
$red--light: #da6153;
$red--mid: #b23426;

$banana: #fad46b;
$bruise: #a88cd5;
$coastal-surf: #e1eef3;
$coral: #d6e1e5;
$coral--mid: #b7cad1;
$cutlass: #b2c6cd;
$deep-red: #cf0d18;
$doubloon: #f3bc65;
$emerald-cove: #3eb5ac;
$first-blood: #cc0000;
$green: #55bb6c;
$green--dark: #3a924e;
$green--mid: #79ca8b;
$green--light: #aaddb5;
$gunpowder: #5e696d;
$horizon: #f58410;
$lagoon: #02baf2;
$landlubber: #28948c;
$nassau-sunset: #e96300;
$overboard: #009dcd;
$pieces-of-eight: #93a4aa;
$sugar-plum: #9175bd;
$strawberry: #f84545;
$the-black-flag: #364347;
$the-black-flag--dark: #2f393c;


/*------------------------------------*\
    NAMED COLOURS

    Name some colors so that if it turns out users
    can change colors in wp-admin, then it should be simpler 
\*------------------------------------*/

$primary-color: $blue;
$primary-color--light: $blue--light;
$primary-color--mid: $blue--mid;

$positive-color: $green;
$positive-color--light: $green--light;
$positive-color--mid: $green--mid;

$negative-color: $red;
$negative-color--light: $red--light;
$negative-color--mid: $red--mid;

$neutral-color: $grey--mid-dark;
$neutral-color--light: $grey--mid;
$neutral-color--mid: $grey--dark;