$wrapping-class: ".chumly";

// Modes
$core-mode: "chumly-core";
$interactions-mode: "chumly-interactions";
$layouts-mode: "chumly-layouts";
$nav-mode: "chumly-navigation";
$user-mode: "chumly-user";
$messaging-mode: "chumly-messaging";
$elearning-mode: "chumly-elearning";