/*------------------------------------*\
    FONT-FACE DECLARATIONS
\*------------------------------------*/

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

$base-font-size: 14px;
$large-font-size: 18px;


$base-line-height-ratio: 1.4;
$tight-line-height-ratio: 1.2;
$heading-line-height-ratio: $tight-line-height-ratio;
$base-font-family: inherit;
$heading-font-family: initial;
