/**
* Theme Name: Power Yoga - Chumly Version
* Author: GloboTek
* Author URI: https://globotek.net
* Version: 2.0
*/

html{
	/*position: relative;*/
}

.landing-page__hero__video__item{
	width: 100%;
}

.landing-page__hero__video div.media-gui{
	background-color: transparent !important;
	transition: none !important;
}

.viddler-embed .top.gui{
	display: none !important;
}

.viddler-embed .play-overlay-button{
	background: transparent !important;
}

.viddler-embed .bottom.gui{
	background-color: #53323D !important;
}

.viddler-embed .bar-holder .current-time-bar{
	background-color: #FF9B59 !important;
}

.viddler-embed .vid-jump-back{
	height: 50px !important;
	background-image: url(images/arrow_rwd.svg) !important;
}

.viddler-embed .vid-jump-forward{
	height: 50px !important;
	background-image: url(images/arrow_fwd.svg) !important;
}

.content-tile__action-button.ajax-trigger {
	background: none;
	border: none;
	font-family: "HelveticaNeueLTStd-Roman", sans-serif;
	cursor: pointer;
}


/**************** WOOCOMMERCE ***************/
.woocommerce{
	display: flex;
	flex-wrap: wrap;
}

.woocommerce > *{
	width: 100%;
}

.woocommerce-message{
	width:100%;
}

.woocommerce hr{
	display: none;
}

.woocommerce-MyAccount-navigation{
	width: 20%;
}

.woocommerce-MyAccount-navigation ul{
	list-style: disc;
}

.woocommerce-MyAccount-navigation-link--downloads{
	display: none;
}

.woocommerce-MyAccount-content{
	width: 80%;
}

.woocommerce-EditAccountForm fieldset{
	margin-bottom: 24px;
}

.woocommerce .woocommerce-info{
	width: 100%;
	border-top-color: #FF9B59;
}

.woocommerce .woocommerce-info:before{
	color: #FF9B59;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce a.button{
	color: #FF9B59;
	display: inline-block;
	padding: 13px 20px 12px 20px;
	border: 2px solid #FF9B59;
	border-radius: 40px;
	font-family: "HelveticaNeueLTStd-Roman", sans-serif;
	font-weight: 400;
	background: transparent;
	position: relative;
	cursor: pointer;
	-webkit-appearance: none;
	font-size: 16px;
	font-size: 1rem;
	line-height: 19.2px;
	line-height: 1.2rem;
	transition: all 200ms ease;
	background-color: transparent;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce a.button:hover{
	background: #FF9B59;
	color: #FFFFFF;
	text-decoration: none;
}

#coupon_code{
	width: 200px;
	margin-right: 15px;
}

.cart_totals > *{
	text-align: right;
}

.cart_totals table{
	width: 100%;
}

.cart_totals tbody{
	display: inline-block;
	text-align: right;
}

.cart_totals td{
	float: right;
}

.woocommerce #place_order{
	color: #FFFFFF;
	display: inline-block;
	width: 40%;
	margin: 0 30%;
	margin-top: 20px;
	padding: 13px 20px 12px 20px;
	border: 2px solid #FF9B59;
	border-radius: 40px;
	font-family: "HelveticaNeueLTStd-Roman", sans-serif;
	font-weight: 400;
	background: transparent;
	position: relative;
	cursor: pointer;
	-webkit-appearance: none;
	font-size: 16px;
	font-size: 1rem;
	line-height: 19.2px;
	line-height: 1.2rem;
	transition: all 200ms ease;
	background-color: #FF9B59;
}

.woocommerce-checkout #place_order{
	margin-top: 0;
}

.woocommerce-checkout-review-order-table{
	margin-top: 9px !important;
}

.woocommerce-checkout #payment ul.payment_methods li img,
.woocommerce .payment_methods img{
	display: inline;
}

.return_to_cart{
	width: 20%;
	margin: 40px 40% 0 40% !important;
	text-align: center;
}

.woocommerce header{
	margin-top: 60px;
}

.wcs-switch-link{
	margin-left: 20px !important;
	margin-right: -20px !important;
}

@media screen and (max-width: 768px){
	.woocommerce-MyAccount-navigation{
		width: 100%;
		margin-bottom: 48px;
	}

	.woocommerce-MyAccount-content{
		width: 100%;
	}

	.wcs-switch-link {
		margin-left: 0 !important;
	}

	#place_order{
		width: 46% !important;
		margin: 0 27% !important;
	}

	.return_to_cart{
		width: 46%;
		margin: 40px 27% 0 27% !important;
		text-align: center;
	}
}

@media screen and (max-width: 512px){
	#place_order{
		width: 56% !important;
		margin: 0 22% !important;
	}

	.return_to_cart{
		width: 56%;
		margin: 40px 22% 0 22% !important;
		text-align: center;
	}
}

/**************** TRIBE EVENTS ***************/
.tribe-theme-poweryoga .datepicker{
	z-index: 100 !important;
}

.tribe-events-meta-group-details,
.tribe-events-meta-group-venue{
	width: 50% !important;
	float: left !important;
	padding: 0 !important;
}

.tribe-events-meta-group-gmap,
.tribe-events-cal-links{
	width: 100% !important;
	float: left !important;
}

.tribe-events-gcal.tribe-events-button,
.tribe-events-ical.tribe-events-button{
	float: left !important;
	display: inline-block !important;
	clear: none !important;
	background-color: #53323D !important;
}

.tribe-events-meta-group.tribe-events-meta-group-gmap{
	padding: 0 !important;
}

.tribe-events-notices{
	background-color: #53323D !important;
	border-color: #53323D !important;
	color: #FFF !important;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a{
	background-color: #53323D !important;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title{
	padding: 10px;
}

#loader{
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	margin: 0 auto;
}

.prev-page{
	margin-right: 5px;
}

.next-page{
	margin-left: 5px;
}

.filter{
	display: inline-block;
	position: relative;
	padding: 5px 20px;
	border-radius: 20px;
	text-align: center;
	color: #FF9B5B;
	border: 2px solid #FF9B5B;
	margin: 0 10px;
	cursor: pointer;
}

.filter:after{
	content: 'x';
	margin-left: 20px;
	font-weight: bold;
}

.search-form-wrapper{
	text-align: center;
}

#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a, #tribe-events-header .tribe-events-sub-nav li{
	display: inline-block;
}

.tribe-events-sub-nav li a{
	background-color: transparent;
	color: #FF9B59 !important;
}

.tribe-events-calendar thead th{
	background: #53323D;
}

@media screen and (max-width: 768px){
	#tribe-events-header .tribe-events-sub-nav li a{
		display: inline-block;
	}
	
	#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover,
	.tribe-events-calendar td.tribe-events-present.mobile-active,
	.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-],
	.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a{
		background-color: #53323D !important;
	}
}