$black: #000000;
$white: #ffffff;
$eggshell: #f3f3f3;

$brown: #53323d;
$brown--mid: #422830;
$brown--dark: #311e24;
$brown--light: #65434e;

$orange: #ff9b59;
$orange--mid: #ff7c26;
$orange--dark: #ff6d0d;

$grey--eggshell: #e1e1e1;
$grey--light: #cccccc;
$grey: #a2a2a2;
$grey--mid: #888888;
$grey--mid-dark: #666666;

$red: #be2137;

// Specific colors for common elements
$border-color: $grey--eggshell;