/*------------------------------------*\
    GENERIC
\*------------------------------------*/
$gutter: 40px;
$gutter--mini: ($gutter / 2);
$gutter--midi: ($gutter  + ($gutter / 2));
$gutter--double: ($gutter * 2);
$gutter--treble: ($gutter * 3);
$radius: 5px;
$radius--mini: ($radius / 2);
$radius--midi: ($radius  + ($radius / 2));
$radius--double: ($radius * 2);
$radius--treble: ($radius * 2);
$site-max-width: 1520px;
$site-min-width: (320px - $gutter--double);
$site-head-height: 80px;


/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/
$breakpoint--palm: "(max-width: 767px)";
$breakpoint--tablet: "(max-width: 1023px)";
$breakpoint--portable: "(min-width: 768px) and (max-width: 1023px)";
$breakpoint--portable-and-up: "(min-width: 767px)";
$breakpoint--lap: "(min-width: 1024px) and (max-width: 1289px)";
$breakpoint--desk: "(min-width: 1290px)";
$breakpoint--desk--wide: "(min-width: 1500px)";
$breakpoint--lap-and-up: "(min-width: 1024px)";