/*------------------------------------*\
    FONT-FACE DECLARATIONS
\*------------------------------------*/

@font-face {font-family: 'HelveticaNeueLTStd-Lt';src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.eot');src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.eot?#iefix') format('embedded-opentype'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.woff2') format('woff2'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.woff') format('woff'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'HelveticaNeueLTStd-Bd';
	src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.eot');
	src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.eot?#iefix') format('embedded-opentype'),
	url('/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.woff2') format('woff2'),
	url('/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.woff') format('woff'),
	url('/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.ttf') format('truetype');}

@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.eot');src: url('/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.eot?#iefix') format('embedded-opentype'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.woff2') format('woff2'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.woff') format('woff'),url('/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.ttf') format('truetype');}
 
/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height-ratio: 1.8;
$heading-line-height-ratio: 1;
$snippet-line-height-ratio: 1.4;
$button-line-height-ratio: 1.2;
$content-space: 15px;
$base-font-family: "HelveticaNeueLTStd-Roman", sans-serif; 
$light-font-family: "HelveticaNeueLTStd-Lt", sans-serif; 
$bold-font-family: "HelveticaNeueLTStd-Bd", sans-serif; 