.star-rating {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	font-size: 12px;
	
	&__decor {
		display: flex;
		flex-wrap: nowrap;
		padding-left: 5px;

		unicode-bidi: bidi-override;
		direction: rtl;
		
	}

	&__icon {
				
		.icon {
			width: 14px;
			height: 14px;
			top: 2px;
			fill: $grey;
		}

		&--muted {

			.icon {
				fill: $grey--light;
			}
		}

		&--fill {

			.icon {
				fill: $primary-color;
			}
		}
	}

	&--interactive {
		cursor: pointer;

		.star-rating__icon {
			cursor: pointer;
		}
		
		& .star-rating__icon:hover,
		& .star-rating__icon:hover ~ .star-rating__icon {
			.icon {
				fill: $primary-color--light;
			}
		}
	}
}
