<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/chumly-core.css" media="all" />
<link rel="stylesheet" href="/css/chumly-interactions.css" media="all" />
<link rel="stylesheet" href="/css/chumly-layouts.css" media="all" />
<link rel="stylesheet" href="/css/chumly-navigation.css" media="all" />
<link rel="stylesheet" href="/css/chumly-user.css" media="all" />
<link rel="stylesheet" href="/css/chumly-messaging.css" media="all" />

{% if project_settings.support_legacy_ie %}
	<link rel="stylesheet" href="/css/legacy.css" media="all" />
{% endif %}