<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>{% block title %}{{project_settings.name}}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% include "layout-partials/css.html" %}
    {% include "layout-partials/icons.html" %}

</head>