html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dd, header, nav, article, section, 
aside, figure, figcaption, footer {
	margin: 0px;
	padding: 0px;
}

ul, ol {
	list-style: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Firefox input fix
input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}


// Box sizing border box FTW! 
*, *:before, *:after { 
	box-sizing: border-box;
}


// Legacy browsers need HTML5 elements to display as block
.lt-ie9 {
	header, nav, article, section, aside, figure, figcaption, footer, main {
		display: block;
	} 
}