@mixin sizes($selector, $breakpoints, $sizes) {

	// Loop each breakpoint key
	@each $breakpoint-item in $breakpoints {

		// Loop each size key
		@each $size-item in $sizes {

			// Attempt to extend the framework level size
		    #{$selector + $breakpoint-item + $size-item} {
		    	@extend #{"%" + $breakpoint-item + $size-item};
		    }
		}
	}
}