/* CSS Document */
.fc-day-header{
	padding:20px 0 !important;
	border-right:none !important;
	border-left:none !important;
	background-image:none !important;
	background-color:transparent !important;
	font-weight:normal !important;
}

.fc-day-header.fc-first{
	border-left:1px solid #dfdfdf !important;
}

.fc-day-header.fc-last{
	border-right:1px solid #dfdfdf !important;
}

.fc-today{
	background:#F4F4F4 !important;
	border:1px solid #DFDFDF !important;
	border-right: none !important;
	border-bottom: none !important;
}

.fc-day-number{
	padding:8px !important; 
}

.fc-event,
fc-event-inner{
	padding-top: 10px !important;
	background-color: #53323d !important;
	border: #FFF !important;
}

.fc-event-title{
	color: #ff9b59 !important;
	font-weight:bold;
	padding-left:8px !important;
}

.qtip{
	width:300px !important;
	border-color:#CBCBCB !important;
	border-radius:4px !important;
}

.qtip-titlebar{
	border:none !important;
}

.qtip-title{
	padding:10px !important;
	font-size:20px;
	font-weight:normal !important;
	background-color: #FFFFFF !important;
}

.qtip-content{
	margin-bottom:20px !important;
	padding:10px !important;
	border:none !important;
}


/************** SINGLE EVENT **************/
.eo-event-venue-map{
	margin:25px 0; 
}

.mac{
	margin-top:15px;
}