@charset "UTF-8";
/*------------------------------------*    IMPORT FRAMEWORK
\*------------------------------------*/
/*------------------------------------*    VARS
\*------------------------------------*/
/*------------------------------------*    GENERIC
\*------------------------------------*/
/*------------------------------------*    BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*    FONT-FACE DECLARATIONS
\*------------------------------------*/
@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.eot");
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.woff2") format("woff2"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.woff") format("woff"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.eot");
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.woff2") format("woff2"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.woff") format("woff"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.eot");
  src: url("/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.woff2") format("woff2"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.woff") format("woff"), url("/wp-content/themes/poweryoga/fonts/2EFC7F_2_0.ttf") format("truetype"); }

/*------------------------------------*    TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*    SPEED
\*------------------------------------*/
/*------------------------------------*    EASING
\*------------------------------------*/
/*------------------------------------*    MIXINS
\*------------------------------------*/
/*------------------------------------*    FONT SIZE
    
    This mixin will generate a REM unit for your chosen font size. It will also add
    the usual pixel unit for a fallback for browsers that don't support REMS. 
    
    This can also caluculate a line height for you based on your base line-height ratio.
    
    You can append an !important too.
    
    You can override the base line-height ratio if needed too. 
    
    Usage example: 
    
    With line-height: 
    
    body {
    
    	@include font-size(16px, true);
    }
    
    Without line-height: 
    
    body {
    	
    	@include font-size(16px);
    }
    
\*------------------------------------*/
/*------------------------------------*    IE
    
    This mixin will help generate IE specific CSS. Add a version number as a parameter 
    and the mixin will do the rest!    
\*------------------------------------*/
/*------------------------------------*    MEDIA QUERY
    
    This mixin will wrap your code in the appropriate media query of your choosing.
    
    For example. If you want to make the body background magenta on mobile only:
    
    body {
	    @include media-query(palm) {
	    	background: magenta;
	    }
    }
\*------------------------------------*/
/*------------------------------------*    PRINT
    
    A very simply "wrapper" that allows you to add print specific styles within your css. 
    This is mainly in a mixin so that if anything changes in the future, we can just update this 
    mixin rather than refactoring our whole project.
    
    Usage example: 
    
    body {
    	color: #f3f3f3;
    
		@include print {
			color: #000000;
		}
    }
\*------------------------------------*/
/*------------------------------------*    TRANSITION 

    This mixin will calculate a transition property.

    Add and modify the property arrays in /project/vars/_transition.scss

\*------------------------------------*/
/*------------------------------------*    NO JS

    A simple mixin that will allow consistent no JS related styles 
    
\*------------------------------------*/
/*------------------------------------*    PLACEHOLDER
    
    This little mixin will help style those pesky placeholders    
\*------------------------------------*/
/*------------------------------------*    BASE
\*------------------------------------*/
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dd, header, nav, article, section,
aside, figure, figcaption, footer {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.lt-ie9 header, .lt-ie9 nav, .lt-ie9 article, .lt-ie9 section, .lt-ie9 aside, .lt-ie9 figure, .lt-ie9 figcaption, .lt-ie9 footer, .lt-ie9 main {
  display: block; }

/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/*------------------------------------*    GRID WRAPPER
\*------------------------------------*/
.content-tile__action-button, .content-tiles__list, .class-tiles__list, .content-meta__row, .user-avatar, .form__split, .form__check, .inline-icon-links, .inline-icon-links__inner, .accordion__trigger, .button-list__list, .button-list__meta-button, .avatar-group__list, .smallprint, .product-card, .social-sharing, .social-sharing__list, .site-foot__info__social__list, .site-foot__nav, .landing-page__features__inner, .videos__features, .pricing__list, .pricing__point, .retreat__check-details, .retreat__details, .content-sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -40px 0 0 -40px;
  padding: 0; }
  .lt-ie10 .content-tile__action-button, .lt-ie10 .content-tiles__list, .lt-ie10 .class-tiles__list, .lt-ie10 .content-meta__row, .lt-ie10 .user-avatar, .lt-ie10 .form__split, .lt-ie10 .form__check, .lt-ie10 .inline-icon-links, .lt-ie10 .inline-icon-links__inner, .lt-ie10 .accordion__trigger, .lt-ie10 .button-list__list, .lt-ie10 .button-list__meta-button, .lt-ie10 .avatar-group__list, .lt-ie10 .smallprint, .lt-ie10 .product-card, .lt-ie10 .social-sharing, .lt-ie10 .social-sharing__list, .lt-ie10 .site-foot__info__social__list, .lt-ie10 .site-foot__nav, .lt-ie10 .landing-page__features__inner, .lt-ie10 .videos__features, .lt-ie10 .pricing__list, .lt-ie10 .pricing__point, .lt-ie10 .retreat__check-details, .lt-ie10 .retreat__details, .lt-ie10 .content-sidebar {
    letter-spacing: -0.32em;
    list-style: none; }
  .content-tile__action-button > *, .content-tiles__list > *, .class-tiles__list > *, .content-meta__row > *, .user-avatar > *, .form__split > *, .form__check > *, .inline-icon-links > *, .inline-icon-links__inner > *, .accordion__trigger > *, .button-list__list > *, .button-list__meta-button > *, .avatar-group__list > *, .smallprint > *, .product-card > *, .social-sharing > *, .social-sharing__list > *, .site-foot__info__social__list > *, .site-foot__nav > *, .landing-page__features__inner > *, .videos__features > *, .pricing__list > *, .pricing__point > *, .retreat__check-details > *, .retreat__details > *, .content-sidebar > * {
    padding: 40px 0 0 40px; }
    .lt-ie10 .content-tile__action-button > *, .lt-ie10 .content-tiles__list > *, .lt-ie10 .class-tiles__list > *, .lt-ie10 .content-meta__row > *, .lt-ie10 .user-avatar > *, .lt-ie10 .form__split > *, .lt-ie10 .form__check > *, .lt-ie10 .inline-icon-links > *, .lt-ie10 .inline-icon-links__inner > *, .lt-ie10 .accordion__trigger > *, .lt-ie10 .button-list__list > *, .lt-ie10 .button-list__meta-button > *, .lt-ie10 .avatar-group__list > *, .lt-ie10 .smallprint > *, .lt-ie10 .product-card > *, .lt-ie10 .social-sharing > *, .lt-ie10 .social-sharing__list > *, .lt-ie10 .site-foot__info__social__list > *, .lt-ie10 .site-foot__nav > *, .lt-ie10 .landing-page__features__inner > *, .lt-ie10 .videos__features > *, .lt-ie10 .pricing__list > *, .lt-ie10 .pricing__point > *, .lt-ie10 .retreat__check-details > *, .lt-ie10 .retreat__details > *, .lt-ie10 .content-sidebar > * {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      word-spacing: normal; }

/*------------------------------------*    GRID ITEM
\*------------------------------------*/
/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `%grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `%grid`.
 */
.content-tile__action-button, .user-avatar, .form__split--flush, .form__check, .inline-icon-links__inner, .accordion__trigger, .button-list__meta-button, .smallprint, .product-card, .pricing__list, .pricing__point {
  margin: 0; }
  .content-tile__action-button > *, .user-avatar > *, .form__split--flush > *, .form__check > *, .inline-icon-links__inner > *, .accordion__trigger > *, .button-list__meta-button > *, .smallprint > *, .product-card > *, .pricing__list > *, .pricing__point > * {
    padding: 0; }

/**
 * Align the entire grid to the right. Extends `%grid`.
 */
.social-sharing {
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .lt-ie10 .social-sharing {
    text-align: right; }
    .lt-ie10 .social-sharing > * {
      text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `%grid`.
 */
.content-tiles__list--centered, .class-tiles__list--centered, .content-meta__row, .inline-icon-links, .avatar-group__list, .landing-page__features__inner {
  -ms-flex-pack: center;
  justify-content: center; }
  .lt-ie10 .content-tiles__list--centered, .lt-ie10 .class-tiles__list--centered, .lt-ie10 .content-meta__row, .lt-ie10 .inline-icon-links, .lt-ie10 .avatar-group__list, .lt-ie10 .landing-page__features__inner {
    text-align: center; }
    .lt-ie10 .content-tiles__list--centered > *, .lt-ie10 .class-tiles__list--centered > *, .lt-ie10 .content-meta__row > *, .lt-ie10 .inline-icon-links > *, .lt-ie10 .avatar-group__list > *, .lt-ie10 .landing-page__features__inner > * {
      text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `%grid`.
 */
.content-tile__action-button, .content-meta__row, .user-avatar, .form__split, .form__check, .inline-icon-links, .inline-icon-links__inner, .accordion__trigger, .button-list__list, .button-list__meta-button, .avatar-group__list {
  -ms-flex-align: center;
  align-items: center; }
  .lt-ie10 .content-tile__action-button > *, .lt-ie10 .content-meta__row > *, .lt-ie10 .user-avatar > *, .lt-ie10 .form__split > *, .lt-ie10 .form__check > *, .lt-ie10 .inline-icon-links > *, .lt-ie10 .inline-icon-links__inner > *, .lt-ie10 .accordion__trigger > *, .lt-ie10 .button-list__list > *, .lt-ie10 .button-list__meta-button > *, .lt-ie10 .avatar-group__list > * {
    vertical-align: middle; }

/**
 * Create grids with narrower gutters. Extends `%grid`.
 */
.form__split, .button-list__list, .site-foot__info__social__list, .site-foot__nav {
  margin: -20px 0 0 -20px; }
  .form__split > *, .button-list__list > *, .site-foot__info__social__list > *, .site-foot__nav > * {
    padding: 20px 0 0 20px; }

/**
 * Create grids with wider gutters. Extends `%grid`.
 */
/**
 * Level heights, requires an `inner` element to grow into it's parent. Extends `%grid`.
 * Modern only. LT IE 10 doesn't deserve level heights
 */
.content-tiles__list > *, .class-tiles__list > *, .avatar-group__list > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content-tiles__list > * > *, .class-tiles__list > * > *, .avatar-group__list > * > * {
    -ms-flex: auto;
    flex: auto; }

/*------------------------------------*    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
     * Whole
     */
.class-tiles__list--whole .class-tiles__item {
  width: 100%; }

/**
     * Halves
     */
/**
     * Thirds
     */
/**
     * Quarters
     */
/**
     * Fifths
     */
/**
     * Sixths
     */
/**
     * Eighths
     */
/**
     * Tenths
     */
/**
     * Twelfths
     */
@media only screen and (max-width: 767px) {
  /**
     * Whole
     */
  .content-tiles__item, .class-tiles__item, .content-meta__item, .form__split > *, .form__split--third-two-third > *:first-child, .form__split--third-two-third > *:last-child, .avatar-group__item, .product-card__media, .product-card__content, .site-foot__nav li, .landing-page__feature, .videos__features__item, .pricing__item, .retreat__check-detail, .retreat__detail {
    width: 100%; }
  /**
     * Halves
     */
  /**
     * Thirds
     */
  /**
     * Quarters
     */
  /**
     * Fifths
     */
  /**
     * Sixths
     */
  /**
     * Eighths
     */
  /**
     * Tenths
     */
  /**
     * Twelfths
     */ }

@media only screen and (min-width: 1024px) and (max-width: 1289px) {
  /**
     * Whole
     */
  .class-tiles__list--thirds .class-tiles__item {
    width: 100%; }
  /**
     * Halves
     */
  .content-tiles__item, .class-tiles__item, .content-meta__item, .form__split > *, .videos__features__item, .retreat__check-detail, .retreat__detail {
    width: 50%; }
  /**
     * Thirds
     */
  .form__split--third-two-third > *:last-child, .landing-page__feature {
    width: 33.333%; }
  .form__split--third-two-third > *:first-child {
    width: 66.666%; }
  /**
     * Quarters
     */
  .pricing__item {
    width: 25%; }
  /**
     * Fifths
     */
  .content-sidebar__sidebar {
    width: 20%; }
  .product-card__media {
    width: 40%; }
  .product-card__content {
    width: 60%; }
  .call-to-action__content, .hero__content, .content, .feature-content .form__split, .landing-page__hero__heading, .content-sidebar__content {
    width: 80%; }
  /**
     * Sixths
     */
  /**
     * Eighths
     */
  /**
     * Tenths
     */
  /**
     * Twelfths
     */ }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /**
     * Whole
     */
  .content-meta__item, .form__split > *, .form__split--third-two-third > *:first-child, .form__split--third-two-third > *:last-child {
    width: 100%; }
  /**
     * Halves
     */
  .content-tiles__item, .class-tiles__item, .avatar-group__item, .landing-page__feature, .videos__features__item, .pricing__item, .retreat__check-detail, .retreat__detail {
    width: 50%; }
  /**
     * Thirds
     */
  /**
     * Quarters
     */
  /**
     * Fifths
     */
  .product-card__media {
    width: 40%; }
  .product-card__content {
    width: 60%; }
  .call-to-action__content, .hero__content, .landing-page__hero__heading {
    width: 80%; }
  /**
     * Sixths
     */
  /**
     * Eighths
     */
  /**
     * Tenths
     */
  /**
     * Twelfths
     */ }

@media only screen and (min-width: 1290px) {
  /**
     * Whole
     */
  /**
     * Halves
     */
  .content-meta__item, .form__split > *, .videos__features__item, .retreat__check-detail, .retreat__detail {
    width: 50%; }
  /**
     * Thirds
     */
  .content-tiles__item, .class-tiles__list--thirds .class-tiles__item, .form__split--third-two-third > *:last-child, .landing-page__feature {
    width: 33.333%; }
  .form__split--third-two-third > *:first-child {
    width: 66.666%; }
  /**
     * Quarters
     */
  .class-tiles__item, .pricing__item {
    width: 25%; }
  /**
     * Fifths
     */
  .content-sidebar__sidebar {
    width: 20%; }
  .product-card__media {
    width: 40%; }
  .testimonial__content, .call-to-action__content, .hero__content, .content, .product-card__content, .landing-page__hero__heading {
    width: 60%; }
  .feature-content .form__split, .content-sidebar__content {
    width: 80%; }
  /**
     * Sixths
     */
  /**
     * Eighths
     */
  /**
     * Tenths
     */
  /**
     * Twelfths
     */ }

/*------------------------------------*    MIXINS
\*------------------------------------*/
/*------------------------------------*    HELPERS
\*------------------------------------*/
.site-head {
  z-index: 8000; }
  .site-head__nav {
    z-index: 8200; }
  .site-head__mask {
    z-index: 8100; }

.landing-page__hero__content, .landing-page__hero__icon {
  z-index: 200; }

.landing-page__hero__image {
  z-index: 100; }

.call-to-action__content,
.hero__content {
  z-index: 200; }

.call-to-action__image,
.hero__image {
  z-index: 100; }

.hero__avatar {
  z-index: 200; }

.modal {
  z-index: 9000; }
  .modal__window {
    z-index: 9200; }
  .modal__overlay {
    z-index: 9100; }

.call-to-action__heading, .hero__heading, .content__body h1, .landing-page__hero__heading, .headline__heading, .content__body__heading,
.content__body h2, .avatar-group__heading, .landing-page__feature__heading, .videos__features__heading, .pricing__heading, .pricing__price, .retreat__group__heading, .content-tile__heading, .content__body h3, .product-card__heading, .feature-content__heading, .landing-page__hero__list li h3, .site-head__nav__list li, .landing-page__hero__secondary-action {
  font-family: "HelveticaNeueLTStd-Lt", sans-serif;
  font-weight: normal;
  font-style: normal; }


.call-to-action__heading,
.hero__heading,
.content__body h1,
.landing-page__hero__heading {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .call-to-action__heading,
    .hero__heading,
    .content__body h1,
    .landing-page__hero__heading {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 50px;
      line-height: 3.125rem; } }
  @media screen and (min-width: 1024px) {
    
    .call-to-action__heading,
    .hero__heading,
    .content__body h1,
    .landing-page__hero__heading {
      font-size: 60px;
      font-size: 3.75rem;
      line-height: 60px;
      line-height: 3.75rem; } }

.headline__heading, .content__body__heading,
.content__body h2, .avatar-group__heading, .landing-page__feature__heading, .videos__features__heading, .pricing__heading, .pricing__price, .retreat__group__heading {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 25px;
  line-height: 1.5625rem; }
  @media screen and (min-width: 767px) {
    .headline__heading, .content__body__heading,
    .content__body h2, .avatar-group__heading, .landing-page__feature__heading, .videos__features__heading, .pricing__heading, .pricing__price, .retreat__group__heading {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.content-tile__heading, .content__body h3, .product-card__heading, .feature-content__heading, .landing-page__hero__list li h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media screen and (min-width: 767px) {
    .content-tile__heading, .content__body h3, .product-card__heading, .feature-content__heading, .landing-page__hero__list li h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 24px;
      line-height: 1.5rem; } }

.headline--breathe, .site-foot, .landing-page__features, .landing-page__tiles, .landing-page__testimonial, .generic-page__primary, .generic-page__secondary, .generic-page__tertiary, .pricing, .retreat {
  display: block;
  padding: 90px 0; }

.headline--breathe-top, .video__headline, .pricing__button {
  display: block;
  padding: 90px 0 0 0; }

.headline--breathe-bottom, .video {
  display: block;
  padding: 0 0 90px 0; }

.generic-page__primary--narrow, .generic-page__secondary--narrow {
  display: block;
  padding: 60px 0; }

.landing-page__feature__icon .icon {
  width: 200px;
  height: 150px;
  display: block;
  margin: 0 auto;
  fill: #ff9b59; }

.testimonial__icon .icon, .decor-heading__icon .icon {
  width: 165px;
  height: 115px;
  display: block;
  margin: 0 auto;
  fill: #ff9b59; }

/*------------------------------------*    ADD SOME GLOBAL STYLES
\*------------------------------------*/
html {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  font-family: "HelveticaNeueLTStd-Roman", sans-serif;
  min-width: 240px;
  min-height: 100%;
  color: #666666;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28.8px;
  line-height: 1.8rem;
  padding-top: 70px; }
  @media screen and (min-width: 767px) {
    body {
      padding-top: 80px; } }
  body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%; }

.chumly {
  max-width: 1520px;
  margin: 0 auto; }

.wrapper, .pricing__wrapper, .retreat__wrapper {
  min-width: 240px;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .wrapper, .pricing__wrapper, .retreat__wrapper {
      padding: 0 40px; } }

img {
  display: block;
  max-width: 100%; }

a {
  color: #ff9b59; }

b,
strong {
  font-weight: normal;
  font-family: "HelveticaNeueLTStd-Bd", sans-serif; }

.clear:after, .content__body:after, .clear:before, .content__body:before {
  content: "";
  clear: both;
  display: block; }

.is-hidden {
  display: none; }

.is-visible {
  display: block !important; }

.is-muted {
  opacity: 0.5; }

.is-hidden--text, .form__label, .site-head__heading, .site-foot__form__label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@media print {
  .no-print {
    display: none; } }

.admin-bar .site-head {
  top: 32px; }

@media (max-width: 768px) {
  .admin-bar .site-head {
    top: 46px; }
  #wpadminbar {
    position: fixed; } }

/*------------------------------------*    COMPONENTS
\*------------------------------------*/
.icon {
  display: inline-block;
  position: relative; }

.hamburger {
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hamburger {
      top: 0px; } }
  .hamburger__inner {
    top: 25%;
    left: 0;
    transform: translateY(-25%); }
    @media screen and (max-width: 1023px) {
      .hamburger__inner {
        top: 50%;
        transform: translateY(-50%); } }
    .hamburger__inner, .hamburger__inner:before, .hamburger__inner:after {
      transition: all 200ms ease; }
    .hamburger__inner:before, .hamburger__inner:after {
      content: ""; }
    .hamburger__inner:before {
      top: -7px; }
    .hamburger__inner:after {
      top: 7px; }
    .is-active .hamburger__inner {
      background: #ff9b59; }
      .is-active .hamburger__inner, .is-active .hamburger__inner:before, .is-active .hamburger__inner:after {
        transition: all 400ms ease; }
      .is-active .hamburger__inner:before, .is-active .hamburger__inner:after {
        background: transparent;
        top: 0 !important; }
  .hamburger:target .hamburger__inner:before, .hamburger:active .hamburger__inner:before, .hamburger:focus .hamburger__inner:before, .hamburger:hover .hamburger__inner:before {
    top: -9px; }
  .hamburger:target .hamburger__inner:after, .hamburger:active .hamburger__inner:after, .hamburger:focus .hamburger__inner:after, .hamburger:hover .hamburger__inner:after {
    top: 9px; }

.hamburger__inner, .hamburger__inner:before, .hamburger__inner:after {
  display: block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: absolute; }

.button {
  color: #ff9b59;
  display: inline-block;
  padding: 13px 20px 12px 20px;
  border: 2px solid #ff9b59;
  border-radius: 40px;
  font-family: "HelveticaNeueLTStd-Roman", sans-serif;
  font-weight: 400;
  background: transparent;
  position: relative;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  transition: all 200ms ease; }
  .button:target, .button:active, .button:focus, .button:hover {
    outline: none; }
  @media screen and (min-width: 767px) {
    .button {
      padding: 13px 40px 12px 40px; } }
  .button:target, .button:active, .button:hover, .button:focus, .button.is-active {
    background: #ff9b59;
    color: #ffffff;
    text-decoration: none; }
    .button:target .icon, .button:active .icon, .button:hover .icon, .button:focus .icon, .button.is-active .icon {
      fill: #ffffff; }
  .button__icon {
    padding: 0 0 0 8px; }
    .lt-ie10 .button__icon {
      display: none; }
  .button .icon {
    width: 10px;
    height: 7px;
    fill: #ff9b59;
    top: -1px; }
  .button--upper {
    text-transform: uppercase; }
  .button--small {
    padding: 13px 20px 11px 20px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14.4px;
    line-height: 0.9rem; }
    @media screen and (min-width: 767px) {
      .button--small {
        padding: 13px 40px 11px 40px; } }
  @media screen and (min-width: 767px) {
    .button--large {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem; } }
  .button--fill {
    background: #ff9b59;
    color: #ffffff; }
    .button--fill:target, .button--fill:active, .button--fill:hover, .button--fill:focus, .button--fill.is-active {
      background: #ff7c26;
      color: #ffffff;
      border-color: #ff7c26; }
      .button--fill:target .icon, .button--fill:active .icon, .button--fill:hover .icon, .button--fill:focus .icon, .button--fill.is-active .icon {
        fill: #ffffff; }
    .button--fill .icon {
      fill: #ffffff; }
  .button--icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.breathe:not([class*="breathe--"]) {
  margin: 40px 0; }

.breathe--top {
  margin-top: 40px; }

.breathe--bottom {
  margin-bottom: 40px; }

.breathe--bottom-double {
  margin-bottom: 80px; }

.breathe--bottom-mini {
  margin-bottom: 20px; }

.content-tile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  color: #666666;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 0px 1px #e1e1e1; }
  .content-tile:target:not(.content-tile--single), .content-tile:active:not(.content-tile--single), .content-tile:focus:not(.content-tile--single), .content-tile:hover:not(.content-tile--single) {
    text-decoration: none;
    border-color: #ff9b59; }
    .content-tile:target:not(.content-tile--single) .content-tile__heading, .content-tile:active:not(.content-tile--single) .content-tile__heading, .content-tile:focus:not(.content-tile--single) .content-tile__heading, .content-tile:hover:not(.content-tile--single) .content-tile__heading {
      color: #ff9b59; }
    .content-tile:target:not(.content-tile--single) .content-tile__inner, .content-tile:active:not(.content-tile--single) .content-tile__inner, .content-tile:focus:not(.content-tile--single) .content-tile__inner, .content-tile:hover:not(.content-tile--single) .content-tile__inner {
      border-color: #ffffff; }
  .content-tile__media {
    width: 100%;
    height: auto;
    position: relative; }
    .content-tile__media__image {
      height: auto;
      width: 100%; }
    .content-tile__media__icon {
      display: none;
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 20px;
      right: 30px; }
      .content-tile__media__icon .icon {
        width: 100%;
        height: 100%;
        fill: #ff9b59;
        stroke: #ff6d0d; }
    .content-tile__media--video {
      height: auto; }
  .content-tile__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0 0 5px 5px; }
  .content-tile__heading {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    .content-tile__heading--rev {
      color: #ff9b59; }
    .content-tile__heading--center {
      text-align: center; }
  .content-tile__summary {
    display: block;
    padding: 15px 0 0 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 19.6px;
    line-height: 1.225rem; }
  .content-tile__content {
    position: relative;
    padding: 20px; }
    @media screen and (min-width: 1024px) {
      .content-tile__content--with-action {
        padding: 40px 150px 40px 40px; } }
  .content-tile__meta {
    border-top: 1px solid #e1e1e1;
    padding: 40px;
    margin-top: auto; }
  .content-tile .content-tile__featured-flag {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    transform: rotate(-90deg); }
    .content-tile .content-tile__featured-flag:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-right: 40px solid #ff9b59;
      border-bottom: 40px solid transparent;
      border-left: none; }
    .content-tile .content-tile__featured-flag .icon {
      width: 11px;
      height: 11px;
      fill: #ffffff;
      position: absolute;
      top: 22px;
      left: 22px;
      transform: rotate(90deg); }
  .content-tile__action-button {
    padding: 20px 0 0 0; }
    @media screen and (min-width: 1024px) {
      .content-tile__action-button {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 0; } }
    .content-tile__action-button:target, .content-tile__action-button:active, .content-tile__action-button:focus, .content-tile__action-button:hover {
      text-decoration: none;
      opacity: 0.5; }
    .content-tile__action-button__text {
      text-transform: uppercase;
      padding: 2px 5px 0 0;
      font-size: 10px;
      font-size: 0.625rem; }
    .content-tile__action-button__icon .icon {
      width: 16px;
      height: 16px;
      top: 3px;
      fill: #ff9b59; }
  .content-tile--dark {
    border-color: #53323d; }
  .content-tile--eggshell {
    border-color: #f3f3f3; }
  .content-tile--trans {
    border-color: transparent; }

.content-tiles {
  padding-bottom: 40px; }

.class-tiles {
  padding-bottom: 40px;
  height: 100%; }
  .class-tiles__list {
    height: 100%; }
    .class-tiles__list--whole {
      height: 100%; }
    .class-tiles__list a {
      color: inherit; }
      .class-tiles__list a:target, .class-tiles__list a:active, .class-tiles__list a:focus, .class-tiles__list a:hover {
        transition: all 200ms ease;
        text-decoration: none; }

@media screen and (min-width: 1024px) {
  .content-meta {
    margin-bottom: -5px; } }

.content-meta__row {
  position: relative; }

.content-meta__row + .content-meta__row {
  margin: 0 0 0 -40px; }
  .content-meta__row + .content-meta__row:after {
    content: "";
    display: block;
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    top: 10px;
    left: 40px;
    right: 0; }
  @media screen and (min-width: 1024px) {
    .content-meta__row + .content-meta__row {
      padding-top: 25px;
      margin: 0 0 0 -40px; } }

.content-meta__item {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 21.6px;
  line-height: 1.35rem; }

.content-meta__item + .content-meta__item:before {
  content: "";
  display: block;
  height: 1px;
  background: #e1e1e1;
  position: absolute;
  top: 10px;
  left: 40px;
  right: 0; }

@media screen and (min-width: 1024px) {
  .content-meta__item + .content-meta__item:before {
    width: 1px;
    height: 40px;
    left: 20px;
    top: 50%;
    right: auto;
    margin: -10px 0 0 0; } }

.user-avatar {
  -ms-flex-pack: center;
  justify-content: center; }
  .user-avatar--centered .user-avatar__content {
    width: 100%;
    padding-left: 0;
    text-align: center; }
  .user-avatar__image {
    width: 50px; }
    .user-avatar__image > img {
      height: 50px;
      width: 100%;
      border-radius: 100%;
      object-fit: cover; }
  .user-avatar__content {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left; }
    .user-avatar__content__meta {
      display: block;
      margin: -4px 0 0 0; }
  @media screen and (min-width: 1024px) {
    .user-avatar--lap-up-left {
      text-align: left;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .user-avatar--lap-up-left .user-avatar__content {
        padding: 0 0 0 10px !important; } }
  .user-avatar--multi .user-avatar__content {
    font-family: "HelveticaNeueLTStd-Bd", sans-serif; }
    .user-avatar--multi .user-avatar__content__meta {
      font-family: "HelveticaNeueLTStd-Roman", sans-serif; }

.headline {
  width: 100%;
  text-align: center; }
  .headline--left-align {
    text-align: left; }
  .headline__heading {
    display: block;
    color: #ff9b59; }
  .headline__summary {
    display: block;
    padding: 20px 0 0 0; }
    .headline__summary--rev {
      color: #ffffff; }
  .headline--breathe-small {
    padding: 40px 0; }

.testimonial {
  text-align: center; }
  .testimonial__icon {
    display: block;
    margin: 25px auto; }
  .testimonial__content {
    font-family: "HelveticaNeueLTStd-Lt", sans-serif;
    font-weight: normal;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 28px;
    line-height: 1.75rem; }
    @media screen and (min-width: 767px) {
      .testimonial__content {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 33.6px;
        line-height: 2.1rem; } }
  .testimonial__avatar {
    margin: 40px 0 0 0; }

.call-to-action {
  display: block;
  padding: 120px 0;
  position: relative; }
  .call-to-action__image {
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .call-to-action__heading {
    color: #ffffff; }
  .call-to-action__summary {
    color: #ffffff;
    display: block;
    padding: 22px 0 0 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22.4px;
    line-height: 1.4rem; }
  .call-to-action__button {
    padding: 40px 0 0 0; }
  .call-to-action__content {
    position: relative;
    margin: 0 auto;
    text-align: center; }

.modal {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(83, 50, 61, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease; }
  .modal.is-active {
    -webkit-overflow-scrolling: touch;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 1px); }
  .modal__window {
    display: block;
    background: #ffffff;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
    opacity: 0;
    width: 850px;
    max-width: 90%;
    transition: all 200ms ease; }
    .is-active .modal__window {
      opacity: 1; }
    @media screen and (min-width: 767px) {
      .modal__window--wide {
        max-width: 850px; } }
    .modal__window__header {
      position: relative;
      padding: 20px 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #e1e1e1;
      font-weight: normal;
      color: #ff9b59;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 14px;
      line-height: 0.875rem; }
      .modal__window__header .icon {
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
        fill: #ff9b59; }
        .lt-ie10 .modal__window__header .icon {
          display: none; }
    .modal__window__content {
      padding: 20px; }
      @media screen and (min-width: 1024px) {
        .modal__window__content {
          padding: 20px 40px; } }
      .modal__window__content__inner {
        padding: 30px 0 0 0;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch; }
    .modal__window__heading {
      font-family: "HelveticaNeueLTStd-Bd", sans-serif;
      font-weight: normal;
      display: block;
      text-align: center;
      font-size: 16px;
      font-size: 1rem;
      line-height: 16px;
      line-height: 1rem; }
    .modal__window__summary {
      display: block;
      padding: 20px 0 0 0;
      text-align: center;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 19.6px;
      line-height: 1.225rem; }
    .modal__window__close {
      position: absolute;
      top: -10px;
      right: -10px;
      background: #cccccc;
      border-radius: 100%;
      width: 25px;
      height: 25px; }
      .modal__window__close:target, .modal__window__close:active, .modal__window__close:focus, .modal__window__close:hover {
        background: #a2a2a2; }
      .modal__window__close .icon {
        width: 25px;
        height: 25px;
        fill: #ffffff; }
    .modal__window__decor-image {
      min-height: 300px; }

.form__group--center {
  text-align: center; }

.form__group--breathe {
  padding: 30px 0 0 0 !important; }

.form__group + .form__group,
.form__group + .form__split,
.form__split + .form__group {
  padding: 10px 0 0 0; }

.form__split > * {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16.8px;
  line-height: 1.05rem; }
  .form__split > *:nth-child(2n) {
    margin: 10px 0 0 0; }
    @media screen and (min-width: 1024px) {
      .form__split > *:nth-child(2n) {
        margin: 0; } }
  .form__split > * a {
    position: relative;
    top: 2px;
    color: #666666; }
    .form__split > * a:target, .form__split > * a:active, .form__split > * a:focus, .form__split > * a:hover {
      text-decoration: none;
      color: #ff9b59; }

.form__input {
  border: none;
  background: #f3f3f3;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 15px 15px 13px 15px;
  border: 2px solid transparent;
  color: #666666;
  border-radius: 2.5px;
  position: relative;
  -webkit-appearance: none;
  display: inline-block;
  font-family: "HelveticaNeueLTStd-Roman", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28.8px;
  line-height: 1.8rem; }
  .form__input:focus, .form__input:valid, .form__input.is-filled {
    outline: none; }
  .form__input::-webkit-input-placeholder {
    color: #888888; }
  .form__input:-moz-placeholder {
    color: #888888; }
  .form__input::-moz-placeholder {
    color: #888888; }
  .form__input:-ms-input-placeholder {
    color: #888888; }
  .form__input--select {
    padding: 15px 45px 13px 15px; }
  .form__input:focus {
    border-color: #ff9b59; }
  .form__input.is-error {
    border-color: #be2137;
    color: #be2137;
    background: #fae4e7; }
    .form__input.is-error::-webkit-input-placeholder {
      color: #be2137; }
    .form__input.is-error:-moz-placeholder {
      color: #be2137; }
    .form__input.is-error::-moz-placeholder {
      color: #be2137; }
    .form__input.is-error:-ms-input-placeholder {
      color: #be2137; }
  .form__input__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0; }
    .form__input__icon .icon {
      display: block;
      width: 100%;
      height: 100%;
      fill: #666666; }

.form__check__input input {
  display: none; }
  .form__check__input input:checked + .form__check__decor .icon {
    display: block; }

.form__check__decor {
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  background: #f3f3f3;
  overflow: hidden;
  border-radius: 2.5px;
  cursor: pointer; }
  .form__check__decor .icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 2px;
    fill: #ff9b59;
    display: none; }

.form__check__label {
  margin: 4px 0 0 10px;
  cursor: pointer;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16.8px;
  line-height: 1.05rem; }

.prompt {
  background: #fae4e7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #be2137;
  border-radius: 5px;
  margin-bottom: 20px; }
  .prompt__icon {
    display: none; }
    @media screen and (min-width: 1024px) {
      .prompt__icon {
        display: block; }
        .prompt__icon .icon {
          width: 30px;
          height: 30px;
          fill: #be2137;
          top: 3px;
          margin: 0 10px 0 0; } }
  .prompt__content {
    color: #be2137;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 19.6px;
    line-height: 1.225rem; }

.hero {
  display: block;
  padding: 50px 0 70px 0;
  position: relative; }
  .hero__image {
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .hero__heading {
    color: #ff9b59; }
  .hero__summary {
    color: #ffffff;
    display: block;
    padding: 22px 0 0 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22.4px;
    line-height: 1.4rem;
    font-weight: normal; }
  .hero__content {
    position: relative;
    margin: 0 auto;
    text-align: center; }
  .hero__avatar {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    position: absolute;
    overflow: hidden;
    border-radius: 100%;
    bottom: -50px;
    left: 50%;
    margin: 0 0 0 -50px; }
  .hero--with-avatar {
    margin: 0 0 50px 0; }

@media screen and (max-width: 767px) {
  .inline-icon-links {
    margin-top: -20px !important; } }

@media screen and (max-width: 767px) {
  .inline-icon-links__item {
    padding: 20px 0 0 40px; } }

.inline-icon-links__inner:target, .inline-icon-links__inner:active, .inline-icon-links__inner:focus, .inline-icon-links__inner:hover {
  text-decoration: none;
  opacity: 0.7; }

.inline-icon-links__content {
  text-transform: uppercase;
  padding: 0 0 0 10px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 21.6px;
  line-height: 1.35rem; }

.inline-icon-links__inner {
  color: #ff9b59; }

.inline-icon-links__icon .icon {
  width: 30px;
  height: 30px;
  top: -1px;
  fill: #ff9b59;
  display: block; }

.decor-heading__heading {
  color: #ff9b59;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 0.75rem; }

.decor-heading--breathe-top {
  padding-top: 80px; }

.decor-heading--breathe-bottom {
  padding-bottom: 40px; }

.content {
  display: block;
  margin: 0 auto; }
  .content__header {
    padding: 20px 0; }
  .content__featured-image {
    height: auto;
    padding: 10px 0 30px 0; }
  .content__body > * + *:not(li) {
    margin: 20px 0 0 0; }
  .content__body img {
    height: auto; }
  .content__body__peek__trigger, .content__body__peek__overlay {
    display: none; }
  @media screen and (max-width: 1023px) {
    .content__body__peek {
      position: relative;
      height: 400px;
      overflow: hidden; }
      .content__body__peek__trigger, .content__body__peek__overlay {
        display: block; }
      .content__body__peek__overlay {
        height: 400px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 35%, white 75%, white 100%);
        z-index: 1000; }
      .content__body__peek__trigger {
        position: absolute;
        top: 290px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3000; } }
  .content__body .lead {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 32.4px;
    line-height: 2.025rem;
    font-family: "HelveticaNeueLTStd-Lt", sans-serif;
    display: block;
    padding: 0 0 20px 0; }
    @media screen and (min-width: 767px) {
      .content__body .lead {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 33.6px;
        line-height: 2.1rem; } }
  .content__body .wp-caption {
    background: #f3f3f3;
    border: 1px solid #cccccc;
    display: block;
    padding: 10px;
    overflow: hidden;
    max-width: 100% !important;
    border-radius: 5px; }
    .content__body .wp-caption > * {
      display: block; }
    .content__body .wp-caption-text {
      display: block;
      margin: 8px 0 0 0; }
  @media screen and (min-width: 1024px) {
    .content__body .alignright {
      float: right;
      margin-bottom: 20px;
      margin-left: 20px; } }
  @media screen and (min-width: 1024px) {
    .content__body .alignleft {
      float: left;
      margin-bottom: 20px;
      margin-right: 20px; } }
  .content__body p {
    white-space: pre-line; }
    .content__body p .alignleft,
    .content__body p .alignright {
      margin-top: 6px; }
    .content__body p .aligncenter {
      margin: 20px auto; }
    .content__body p img {
      margin: 20px 0; }
  .content__body .aligncenter {
    clear: both;
    margin: 20px auto; }
  .content__body__heading {
    font-size: 1.875rem !important;
    line-height: 1.875rem !important; }
  .content__body ul {
    list-style: circle; }
  .content__body ol {
    list-style: decimal; }
  .content__body ul li,
  .content__body ol li {
    margin: 0 0 0 17px; }
  .content__body ul li + li,
  .content__body ol li + li {
    margin: 10px 0 0 17px; }
  .content__body blockquote {
    background: #f3f3f3;
    border: 1px solid #cccccc;
    display: block;
    padding: 10px;
    font-style: italic;
    border-radius: 5px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 32.4px;
    line-height: 2.025rem; }
    .content__body blockquote cite {
      display: block;
      padding: 20px 0 0 0;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 25.2px;
      line-height: 1.575rem; }
  .content__body table {
    table-layout: fixed;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    overflow: auto;
    border-radius: 5px;
    width: 100%; }
    .content__body table, .content__body table * {
      text-align: left;
      vertical-align: top; }
    .content__body table td,
    .content__body table th {
      padding: 20px; }
    .content__body table th {
      background: #a2a2a2;
      color: #ffffff;
      border-bottom: 1px solid #cccccc;
      font-weight: 300; }
    .content__body table td + td,
    .content__body table th + th {
      border-left: 1px solid #cccccc; }
    .content__body table tr:nth-child(even) td {
      background: #f3f3f3; }
    .content__body table tr:not(:last-child) td {
      border-bottom: 1px solid #cccccc; }
  .content__body--raw {
    padding: 0;
    border: 0; }
  .content--wide {
    width: 100%; }
  .content--small {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 25.2px;
    line-height: 1.575rem; }

.accordion-list {
  max-width: 960px;
  display: block;
  margin: 0 auto; }
  .accordion-list__item {
    display: block; }
  .accordion-list__item + .accordion-list__item {
    padding: 10px 0 0 0; }

.accordion {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px; }
  .accordion__trigger {
    padding: 30px 40px; }
    .accordion__trigger__icon .icon, .accordion__trigger__active-icon .icon {
      width: 30px;
      height: 30px;
      fill: #cccccc;
      top: 8px; }
    .accordion__trigger__active-icon {
      display: none; }
    .accordion__trigger__text {
      padding: 0 20px 0 0;
      font-family: "HelveticaNeueLTStd-Lt", sans-serif;
      width: calc(100% - 30px);
      color: #666666;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 32.4px;
      line-height: 2.025rem; }
      @media screen and (min-width: 767px) {
        .accordion__trigger__text {
          font-size: 24px;
          font-size: 1.5rem;
          line-height: 33.6px;
          line-height: 2.1rem; } }
    .accordion__trigger:target, .accordion__trigger:active, .accordion__trigger:focus, .accordion__trigger:hover {
      text-decoration: none; }
      .accordion__trigger:target .accordion__trigger__text, .accordion__trigger:active .accordion__trigger__text, .accordion__trigger:focus .accordion__trigger__text, .accordion__trigger:hover .accordion__trigger__text {
        color: #ff9b59; }
      .accordion__trigger:target .accordion__trigger__icon .icon,
      .accordion__trigger:target .accordion__trigger__active-icon .icon, .accordion__trigger:active .accordion__trigger__icon .icon,
      .accordion__trigger:active .accordion__trigger__active-icon .icon, .accordion__trigger:focus .accordion__trigger__icon .icon,
      .accordion__trigger:focus .accordion__trigger__active-icon .icon, .accordion__trigger:hover .accordion__trigger__icon .icon,
      .accordion__trigger:hover .accordion__trigger__active-icon .icon {
        fill: #ff9b59; }
    .accordion__trigger.is-active .accordion__trigger__icon {
      display: none; }
    .accordion__trigger.is-active .accordion__trigger__active-icon {
      display: block; }
  .accordion__content {
    border-top: 1px solid transparent;
    position: relative;
    overflow: hidden;
    max-height: 0px;
    transition: all 200ms ease; }
    .accordion__content > * {
      padding: 40px; }
    .accordion__content.is-active {
      max-height: 2000px;
      border-color: #cccccc;
      overflow-x: hidden;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch; }

.filter-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 1023px) {
    .filter-menu__searchbox, .filter-menu__group {
      width: 100%; }
    .filter-menu__group {
      -ms-flex-direction: column;
      flex-direction: column; }
    .filter-menu__searchbox {
      margin-bottom: 20px; } }
  .filter-menu__heading {
    width: 100%;
    text-transform: uppercase;
    color: #888888;
    display: block;
    padding: 20px 0 10px;
    border-radius: 2.5px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 12px;
    line-height: 0.75rem; }
  .filter-menu__group {
    display: -ms-flexbox;
    display: flex; }
  .filter-menu__searchbox {
    height: 36px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .filter-menu__searchbox:focus {
      outline: none;
      border: 1px solid #ff9b59; }
  .filter-menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .filter-menu__item {
    font-size: 13px;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .filter-menu__item {
        margin-right: 20px; } }
    @media screen and (max-width: 1023px) {
      .filter-menu__item {
        width: calc(50% - 10px);
        margin-bottom: 20px; } }
    .filter-menu__item__icon .icon {
      width: 17px;
      height: 17px;
      margin: 0 0 0 5px;
      top: 3px;
      fill: #888888; }
    .filter-menu__item__inner {
      display: block;
      position: relative;
      background: #ffffff;
      padding: 4px 15px;
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid #ccc; }
      .filter-menu__item__inner:target, .filter-menu__item__inner:active, .filter-menu__item__inner:focus, .filter-menu__item__inner:hover {
        background: #f3f3f3; }
  .filter-menu .button-list {
    z-index: 10000;
    padding: 0; }
    @media screen and (max-width: 1023px) {
      .filter-menu .button-list {
        margin-bottom: 20px; } }

.hidden-field {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  border: none;
  background: transparent;
  padding: 5px 10px;
  opacity: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28.8px;
  line-height: 1.8rem; }
  @media screen and (min-width: 1024px) {
    .hidden-field {
      max-width: 320px;
      left: 50%;
      transform: translateX(-50%); } }
  .hidden-field--text {
    opacity: 1; }

.button-list {
  position: relative;
  left: 0;
  margin: 0 0 0 auto;
  padding: 0; }
  @media screen and (min-width: 767px) {
    .button-list {
      padding: 30px 150px 0 0; } }
  @media screen and (min-width: 1024px) {
    .button-list {
      padding: 30px 150px 0 150px; } }
  @media screen and (min-width: 1024px) {
    .button-list__list {
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; } }
  .button-list__meta-button {
    position: relative;
    top: 0; }
    @media screen and (min-width: 1024px) {
      .button-list__meta-button {
        top: -30px; } }
    .button-list__meta-button:target, .button-list__meta-button:active, .button-list__meta-button:focus, .button-list__meta-button:hover {
      text-decoration: none;
      opacity: 0.5; }
    .button-list__meta-button__icon .icon {
      width: 13px;
      height: 13px;
      fill: #ff9b59;
      top: 1px; }
    .button-list__meta-button__content {
      text-transform: uppercase;
      padding: 0 0 0 5px;
      position: relative;
      font-size: 12px;
      font-size: 0.75rem; }
      .button-list__meta-button__content:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 2px;
        left: 5px;
        right: 0;
        height: 1px;
        background: #ff9b59; }

.avatar-group {
  margin: 0 auto;
  max-width: 360px; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .avatar-group {
      max-width: 640px; } }
  @media screen and (min-width: 1024px) {
    .avatar-group {
      max-width: 960px; } }
  .avatar-group__item {
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .avatar-group__item {
        width: 320px; } }
  .avatar-group__inner:target, .avatar-group__inner:active, .avatar-group__inner:focus, .avatar-group__inner:hover {
    text-decoration: none; }
    .avatar-group__inner:target .avatar-group__image:after, .avatar-group__inner:active .avatar-group__image:after, .avatar-group__inner:focus .avatar-group__image:after, .avatar-group__inner:hover .avatar-group__image:after {
      opacity: 1; }
  .avatar-group__image {
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background-position: center center;
    background-size: cover; }
    .avatar-group__image:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(83, 50, 61, 0.65);
      opacity: 0;
      border-radius: 100%;
      transition: all 200ms ease; }
  .avatar-group__heading {
    display: block;
    width: 100%;
    padding: 30px 0 0 0;
    color: #ff9b59; }
  .avatar-group__meta {
    display: block;
    color: #666666;
    padding: 10px 0 0 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 19.6px;
    line-height: 1.225rem; }

.smallprint__icon .icon {
  width: 16px;
  height: 16px;
  fill: #a2a2a2; }

.smallprint__text {
  width: calc(100% - 16px);
  color: #a2a2a2;
  padding: 0 0 0 20px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 21.6px;
  line-height: 1.35rem; }
  .smallprint__text > * + * {
    margin: 20px 0 0 0; }

.product-card {
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 1080px;
  width: 100%; }
  .product-card:target, .product-card:active, .product-card:focus, .product-card:hover {
    text-decoration: none;
    border-color: #ff9b59; }
    .product-card:target .product-card__content, .product-card:active .product-card__content, .product-card:focus .product-card__content, .product-card:hover .product-card__content {
      border-color: transparent; }
  .product-card__media {
    background-size: cover;
    background-position: center center;
    min-height: 200px; }
  .product-card__content {
    border: 1px solid #cccccc; }
  .product-card__inner {
    padding: 40px;
    color: #666666; }
    .product-card__inner > * + * {
      margin: 10px 0 0 0; }
  .product-card__heading {
    display: block; }
  .product-card__sub-heading {
    color: #666666;
    display: block;
    padding: 0 0 5px 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 14px;
    line-height: 0.875rem; }
  .product-card__summary, .product-card__highlight {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 25.2px;
    line-height: 1.575rem; }
  .product-card__highlight {
    color: #ff9b59; }

.product-cards__item {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.product-cards__item + .product-cards__item {
  margin: 20px 0 0 0; }

.feature-content__heading {
  color: #ff9b59; }

.feature-content__inner {
  padding: 20px 0 0 0; }
  .feature-content__inner > * + * {
    margin: 10px 0 0 0; }

.feature-content hr {
  border: none;
  display: block;
  height: 2px;
  background: #cccccc;
  margin: 60px 0; }

.feature-content--breathe-bottom {
  padding: 0 0 20px 0; }

.social-sharing__list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-bottom: 20px; }
  .social-sharing__list__item {
    width: 75px;
    padding: 20px; }

.sidebar {
  list-style: none; }

.widget {
  padding-bottom: 40px; }
  .widget .widgettitle {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 36px;
    line-height: 2.25rem;
    font-weight: 500; }
  .widget img {
    height: auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*------------------------------------*    LAYOUTS
\*------------------------------------*/
.site-head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #53323d;
  padding: 20px 0;
  height: 70px; }
  @media screen and (min-width: 767px) {
    .site-head {
      height: 80px; } }
  @media screen and (max-width: 1023px) {
    .site-head {
      position: fixed; } }
  .site-head__inner {
    width: 100%;
    display: table;
    table-layout: fixed; }
  .site-head__brand, .site-head__nav {
    display: table-cell;
    vertical-align: middle; }
  .site-head__brand, .site-head__brand .icon {
    width: 180px; }
    @media screen and (min-width: 767px) {
      .site-head__brand, .site-head__brand .icon {
        width: 240px; } }
  .site-head__brand .icon {
    fill: #ff9b59; }
  .site-head__hamburger {
    display: block;
    width: 33px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 20px;
    bottom: 0;
    left: auto; }
    @media screen and (min-width: 1290px) {
      .site-head__hamburger {
        display: none; } }
    @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .site-head__hamburger {
        display: block;
        top: 12px; } }
  .site-head__nav {
    text-align: right;
    position: relative; }
    @media screen and (min-width: 1290px) {
      .site-head__nav {
        top: -4px; } }
    @media screen and (max-width: 1023px) {
      .site-head__nav {
        position: absolute;
        left: 0;
        width: 100%; } }
    @media screen and (min-width: 1024px) and (max-width: 1289px) {
      .site-head__nav {
        position: absolute;
        top: 12px;
        right: 20px;
        width: 100%; } }
    @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .site-head__nav {
        position: absolute;
        top: 12px;
        right: 20px;
        width: 100%; } }
    .site-head__nav__list {
      text-align: left;
      width: 100%;
      position: fixed;
      left: 0;
      background: #53323d;
      padding: 20px 0 20px 73px;
      opacity: 0;
      visibility: hidden; }
      .site-head__nav__list.is-active {
        opacity: 1;
        visibility: visible;
        transition: all 200ms ease; }
      @media screen and (max-width: 1023px) {
        .site-head__nav__list {
          padding: 20px 0 20px 90px;
          position: absolute;
          top: 50px; } }
      @media screen and (min-width: 1024px) and (max-width: 1289px) {
        .site-head__nav__list {
          padding: 20px 0 20px 110px;
          margin-top: 36px; } }
      @media screen and (min-width: 1290px) {
        .site-head__nav__list {
          width: auto;
          position: static;
          margin: 0 0 0 auto;
          padding: 0;
          top: 0;
          display: table;
          table-layout: fixed;
          text-align: right;
          opacity: 1;
          visibility: visible;
          transition: none; } }
      @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .site-head__nav__list {
          text-align: left;
          height: 100%;
          width: 100%;
          position: fixed;
          left: 0;
          margin-top: 112px;
          background: #53323d;
          padding: 80px 0 20px 73px;
          opacity: 0;
          visibility: hidden; } }
      .site-head__nav__list li {
        display: block;
        text-transform: capitalize;
        position: relative; }
        @media screen and (min-width: 1290px) {
          .site-head__nav__list li {
            display: table-cell; } }
        @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .site-head__nav__list li {
            display: block; } }
        @media screen and (min-width: 767px) {
          .site-head__nav__list li:last-child {
            display: inline-block; } }
      .site-head__nav__list li + li {
        padding: 10px 0 0 0; }
        .site-head__nav__list li + li:last-child {
          padding: 30px 20px 0 0; }
        @media screen and (min-width: 1290px) {
          .site-head__nav__list li + li, .site-head__nav__list li + li:last-child {
            padding: 0 0 0 25px; }
          .site-head__nav__list li + li .button {
            top: -2px; } }
        @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .site-head__nav__list li + li, .site-head__nav__list li + li:last-child {
            padding: 5px 0 5px 0; }
          .site-head__nav__list li + li:last-child {
            padding-top: 20px !important; } }
      .site-head__nav__list a:not(.button) {
        color: #ffffff; }
        .site-head__nav__list a:not(.button):target, .site-head__nav__list a:not(.button):active, .site-head__nav__list a:not(.button):hover, .site-head__nav__list a:not(.button):focus, .site-head__nav__list a:not(.button).is-active {
          color: #ff9b59;
          text-decoration: none; }
  .site-head__user-menu {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    display: none; }
    .site-head__user-menu.is-active {
      display: block; }
    @media screen and (min-width: 1290px) {
      .site-head__user-menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        margin: 5px 0 0 0; } }
    .site-head__user-menu li {
      display: block !important;
      padding: 0 !important; }
    .site-head__user-menu li + li {
      margin: 10px 0 0 0; }
    .site-head__user-menu a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #888888 !important; }
      .site-head__user-menu a:target, .site-head__user-menu a:active, .site-head__user-menu a:focus, .site-head__user-menu a:hover {
        color: #ff9b59 !important; }
        .site-head__user-menu a:target .icon, .site-head__user-menu a:active .icon, .site-head__user-menu a:focus .icon, .site-head__user-menu a:hover .icon {
          fill: #ff9b59; }
    .site-head__user-menu .icon {
      width: 22px;
      height: 22px;
      margin: 0 8px 0 0;
      top: 3px;
      fill: #888888; }
  @media screen and (min-width: 1024px) {
    .site-head__mask {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none; }
      .site-head__mask.is-active {
        display: block; } }

/*

Apologies. This layout is whack. Proper designer special.

*/
.site-foot {
  background: #53323d; }
  @media screen and (min-width: 1290px) {
    .site-foot:after {
      content: ""; } }
  .site-foot__inner {
    position: relative; }
  @media screen and (min-width: 1024px) {
    .site-foot__brand {
      position: absolute;
      top: -3px;
      left: 0; } }
  .site-foot__brand .icon {
    width: 170px;
    fill: #ffffff; }
  @media screen and (min-width: 1024px) {
    .site-foot__info {
      position: absolute;
      top: -6px;
      right: 0;
      width: 400px;
      text-align: right; } }
  .site-foot__info__copyright {
    color: #65434e;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 21.6px;
    line-height: 1.35rem; }
  .site-foot__info__social {
    padding: 20px 0 0 0; }
    @media screen and (min-width: 1024px) {
      .site-foot__info__social {
        padding: 40px 0 0 0; } }
    @media screen and (min-width: 1024px) {
      .site-foot__info__social__list {
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right; } }
    .site-foot__info__social__list li .icon {
      fill: #ffffff;
      width: 30px;
      height: 30px; }
    .site-foot__info__social__list li a:target, .site-foot__info__social__list li a:active, .site-foot__info__social__list li a:focus, .site-foot__info__social__list li a:hover {
      opacity: 0.5;
      text-decoration: none; }
  .site-foot__actions {
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .site-foot__actions {
        width: 350px;
        position: relative;
        top: -6px; } }
    @media screen and (min-width: 1290px) {
      .site-foot__actions {
        width: 420px; } }
  @media screen and (max-width: 767px) {
    .site-foot__nav {
      margin-top: 10px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .site-foot__nav {
      margin-top: -10px; } }
  @media screen and (min-width: 1024px) {
    .site-foot__nav {
      text-align: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 767px) {
    .site-foot__nav li {
      padding-top: 0px; } }
  @media screen and (min-width: 1024px) {
    .site-foot__nav li {
      padding-top: 0; } }
  .site-foot__nav a {
    color: #ffffff;
    font-size: 12px;
    font-size: 0.75rem; }
    .site-foot__nav a:target, .site-foot__nav a:active, .site-foot__nav a:focus, .site-foot__nav a:hover {
      text-decoration: none;
      opacity: 0.5; }
    @media screen and (min-width: 1290px) {
      .site-foot__nav a {
        font-size: 14px;
        font-size: 0.875rem; } }
  .site-foot__form {
    padding: 20px 0 0 0; }
    @media screen and (min-width: 1024px) {
      .site-foot__form {
        padding: 40px 0 0 0; } }
    .site-foot__form__inner {
      position: relative; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .site-foot__form__inner {
          width: 400px; } }
    .site-foot__form__input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 5px;
      color: #a2a2a2;
      padding: 20px 60px 20px 20px;
      -webkit-appearance: none;
      display: inline-block;
      font-family: "HelveticaNeueLTStd-Roman", sans-serif;
      font-size: 12px;
      font-size: 0.75rem; }
      .site-foot__form__input:focus, .site-foot__form__input:valid, .site-foot__form__input.is-filled {
        outline: none; }
      .site-foot__form__input::-webkit-input-placeholder {
        color: #a2a2a2; }
      .site-foot__form__input:-moz-placeholder {
        color: #a2a2a2; }
      .site-foot__form__input::-moz-placeholder {
        color: #a2a2a2; }
      .site-foot__form__input:-ms-input-placeholder {
        color: #a2a2a2; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .site-foot__form__input {
          padding: 20px;
          width: 400px; } }
      @media screen and (min-width: 1024px) {
        .site-foot__form__input {
          padding: 20px 40px;
          font-size: 14px;
          font-size: 0.875rem; } }
    .site-foot__form__button {
      -webkit-appearance: none;
      display: block;
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px; }
      .site-foot__form__button .icon {
        width: 30px;
        height: 30px;
        fill: #a2a2a2; }
      @media screen and (min-width: 1024px) {
        .site-foot__form__button {
          top: 11px; } }

.landing-page {
  overflow: hidden; }
  .landing-page__hero {
    position: relative;
    width: 100%;
    padding: 100px 0; }
    @media screen and (min-width: 767px) {
      .landing-page__hero {
        padding: 120px 0; } }
    @media screen and (min-width: 1024px) {
      .landing-page__hero {
        padding: 180px 0; } }
    @media screen and (min-width: 1500px) {
      .landing-page__hero {
        padding: 260px 0; } }
    .landing-page__hero--without-video {
      padding: 30px 0; }
      @media screen and (min-width: 767px) {
        .landing-page__hero--without-video {
          padding: 40px 0; } }
      @media screen and (min-width: 1024px) {
        .landing-page__hero--without-video {
          padding: 80px 0; } }
      @media screen and (min-width: 1500px) {
        .landing-page__hero--without-video {
          padding: 100px 0; } }
    .landing-page__hero__image, .landing-page__hero__video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .landing-page__hero__video {
      display: none; }
      @media screen and (min-width: 1024px) {
        .landing-page__hero__video {
          display: block;
          overflow: hidden; } }
    .landing-page__hero__image {
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      margin: -30px 0;
      z-index: -10; }
      @media screen and (min-width: 767px) {
        .landing-page__hero__image {
          margin: -40px 0; } }
      @media screen and (min-width: 1024px) {
        .landing-page__hero__image {
          margin: -80px 0; } }
      @media screen and (min-width: 1500px) {
        .landing-page__hero__image {
          margin: -100px 0; } }
      @media screen and (min-width: 1024px) {
        .landing-page__hero__image--with-video {
          display: none; } }
    .landing-page__hero__content {
      position: relative;
      text-align: center; }
    .landing-page__hero__heading {
      color: #ffffff;
      display: block;
      margin: 0 auto; }
    .landing-page__hero__cta {
      padding: 30px 0 0 0; }
      @media screen and (min-width: 1024px) {
        .landing-page__hero__cta {
          padding: 60px 0 0 0; } }
    .landing-page__hero__center {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }
    .landing-page__hero__list {
      padding: 60px 0 60px 0;
      text-align: left; }
      .landing-page__hero__list li {
        margin-left: 60px;
        padding: 13px 0; }
        .landing-page__hero__list li h3 {
          position: relative;
          display: inline;
          margin: 0 auto;
          padding-left: 0px;
          padding-top: 7px; }
        .landing-page__hero__list li h3:before {
          position: absolute;
          top: 5px;
          left: -60px;
          content: '\2713';
          font-size: 24px;
          line-height: 35px;
          text-align: center;
          height: 35px;
          width: 35px;
          background-color: #53323d;
          border-radius: 35px; }
    .landing-page__hero__secondary-action {
      padding: 20px 0 0 0;
      display: inline-block;
      color: #ff9b59; }
      .landing-page__hero__secondary-action:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #ff9b59; }
      .landing-page__hero__secondary-action:target, .landing-page__hero__secondary-action:active, .landing-page__hero__secondary-action:focus, .landing-page__hero__secondary-action:hover {
        color: #ffffff;
        text-decoration: none; }
        .landing-page__hero__secondary-action:target:after, .landing-page__hero__secondary-action:active:after, .landing-page__hero__secondary-action:focus:after, .landing-page__hero__secondary-action:hover:after {
          background: #ffffff; }
    .landing-page__hero__icon {
      display: block;
      width: 30px;
      text-align: center;
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin: 0 0 0 -15px;
      transition: all 200ms ease; }
      .landing-page__hero__icon:target .icon, .landing-page__hero__icon:active .icon, .landing-page__hero__icon:focus .icon, .landing-page__hero__icon:hover .icon {
        fill: #ff9b59; }
      .landing-page__hero__icon .icon {
        fill: #ffffff;
        width: 30px;
        height: 30px; }
  .landing-page__features__button {
    padding: 40px 0 0 0;
    text-align: center; }
    @media screen and (min-width: 767px) {
      .landing-page__features__button {
        padding: 50px 0 0 0; } }
    @media screen and (min-width: 1024px) {
      .landing-page__features__button {
        padding: 70px 0 0 0; } }
  .landing-page__feature {
    text-align: center; }
    .lt-ie10 .landing-page__feature {
      text-align: center !important; }
    .landing-page__feature__heading {
      color: #ff9b59; }
    .landing-page__feature__sub-heading {
      font-family: "HelveticaNeueLTStd-Bd", sans-serif;
      font-weight: normal;
      display: block;
      font-size: 16px;
      font-size: 1rem;
      line-height: 22.4px;
      line-height: 1.4rem; }
    .landing-page__feature__summary {
      display: block;
      margin: 0 auto;
      padding: 10px 0 0 0;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 19.6px;
      line-height: 1.225rem; }
    .landing-page__feature__icon {
      display: block;
      width: 100%;
      margin: 25px 0; }
  .landing-page__tiles {
    background: #53323d; }
    .landing-page__tiles__button {
      text-align: center; }

.generic-page__primary {
  background: #ffffff; }

.generic-page__secondary {
  background: #f3f3f3; }

.generic-page__tertiary {
  padding-top: 0;
  background: #f3f3f3; }

.videos__archive, .videos__library, .videos__search-results {
  display: none; }

.videos__inline {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1023px) {
    .videos__inline {
      -ms-flex-direction: column;
      flex-direction: column; } }
  .videos__inline--quarter, .videos__inline--three-quarters {
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 1023px) {
      .videos__inline--quarter, .videos__inline--three-quarters {
        width: 100% !important;
        padding-left: 0 !important; }
        .videos__inline--quarter .class-tiles__item,
        .videos__inline--quarter .content-tiles__item, .videos__inline--three-quarters .class-tiles__item,
        .videos__inline--three-quarters .content-tiles__item {
          width: 100% !important;
          padding-right: 0 !important; } }
  .videos__inline--quarter {
    width: 25%; }
    .videos__inline--quarter .class-tiles__item,
    .videos__inline--quarter .content-tiles__item {
      width: 100%;
      padding-right: 30px; }
  .videos__inline--three-quarters {
    width: 75%;
    padding-left: 10px; }
    .videos__inline--three-quarters .class-tiles__item,
    .videos__inline--three-quarters .content-tiles__item {
      width: 33.33%; }

.videos__features__heading {
  display: block;
  padding: 0 0 40px 0;
  text-align: center;
  color: #ff9b59; }

.videos__headline {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding-bottom: 20px; }
  .videos__headline:not(:first-child) {
    padding-top: 40px; }
  .videos__headline a:hover,
  .videos__headline a:focus {
    text-decoration: none; }
  .videos__headline .button-list__meta-button {
    color: #666666;
    position: relative;
    top: 0;
    padding-left: 20px; }
    .videos__headline .button-list__meta-button .icon {
      fill: #666666; }

.videos__button {
  margin-top: 20px;
  text-align: center; }

.videos p:hover {
  background-color: transparent; }

.video {
  background: #f3f3f3; }
  .video__tile {
    max-width: 890px;
    margin: 0 auto; }
  .video__button {
    text-align: center; }

@media screen and (min-width: 1024px) {
  .pricing__wrapper {
    max-width: 1230px; } }

@media screen and (min-width: 1024px) {
  .pricing__list {
    margin: -10px 0 0 -10px; } }

.pricing__item {
  position: relative;
  margin-top: -20px; }
  .pricing__item, .pricing__item * {
    cursor: pointer !important; }
  @media screen and (min-width: 1024px) {
    .pricing__item {
      padding: 10px 0 0 10px; } }
  .pricing__item a:target, .pricing__item a:active, .pricing__item a:focus, .pricing__item a:hover {
    text-decoration: none; }

.pricing__inner {
  display: block;
  padding: 40px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #ffffff;
  text-align: center; }
  .pricing__inner:target, .pricing__inner:active, .pricing__inner:focus, .pricing__inner:hover {
    border-color: #ff9b59;
    background: #53323d; }
    .pricing__inner:target .pricing__heading,
    .pricing__inner:target .pricing__meta, .pricing__inner:active .pricing__heading,
    .pricing__inner:active .pricing__meta, .pricing__inner:focus .pricing__heading,
    .pricing__inner:focus .pricing__meta, .pricing__inner:hover .pricing__heading,
    .pricing__inner:hover .pricing__meta {
      color: #ffffff; }
    .pricing__inner:target .pricing__point__text, .pricing__inner:active .pricing__point__text, .pricing__inner:focus .pricing__point__text, .pricing__inner:hover .pricing__point__text {
      color: #ffffff; }
    .pricing__inner:target .pricing__point__icon .icon, .pricing__inner:active .pricing__point__icon .icon, .pricing__inner:focus .pricing__point__icon .icon, .pricing__inner:hover .pricing__point__icon .icon {
      fill: #ffffff; }

.pricing__heading, .pricing__price {
  color: #ff9b59;
  display: block; }

.pricing__heading {
  min-height: 60px; }

.pricing__price > small {
  font-size: 60%; }

.pricing__meta {
  color: #666666;
  text-transform: uppercase;
  display: block;
  padding: 20px 0 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 25.2px;
  line-height: 1.575rem; }

.pricing__icon {
  padding: 40px 0; }
  .pricing__icon .icon {
    width: 115px;
    height: 125px;
    fill: #ff9b59;
    display: block;
    margin: 0 auto; }

.pricing__points {
  text-align: left;
  padding: 40px 0 0 0; }

.pricing__point__icon .icon {
  width: 12px;
  height: 12px;
  fill: #ff9b59;
  top: -5px; }

.pricing__point__text {
  width: calc(100% - 15px);
  padding: 0 0 0 20px;
  color: #888888;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 15.4px;
  line-height: 0.9625rem; }

.pricing__point.is-muted .pricing__point__icon .icon {
  fill: transparent !important; }

.pricing__point + .pricing__point {
  padding: 10px 0 0 0; }

.pricing__radio {
  display: none; }

.pricing__button {
  text-align: center; }

@media screen and (min-width: 1024px) {
  .retreat__wrapper {
    max-width: 960px; } }

.retreat__heading {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 32.4px;
  line-height: 2.025rem;
  font-family: "HelveticaNeueLTStd-Lt", sans-serif;
  display: block;
  font-weight: normal;
  padding: 0 0 60px 0; }
  @media screen and (min-width: 767px) {
    .retreat__heading {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28.8px;
      line-height: 1.8rem; } }

.retreat__check-detail {
  text-align: center; }
  .retreat__check-detail__icon {
    display: block; }
    .retreat__check-detail__icon .icon {
      width: 40px;
      height: 40px;
      fill: #ff9b59; }
  .retreat__check-detail__text {
    position: relative;
    font-size: 14px !important;
    font-size: 0.875 rem !important; }
    .retreat__check-detail__text > strong {
      font-weight: normal;
      text-transform: uppercase;
      color: #ff9b59;
      margin: 0 5px 0 0;
      font-family: "HelveticaNeueLTStd-Lt", sans-serif; }

.retreat hr {
  border: none;
  display: block;
  height: 2px;
  background: #cccccc;
  margin: 60px 0; }

.retreat__detail__heading {
  color: #ff9b59;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 0.75rem; }

.retreat__detail__content {
  padding: 40px 0 0 0; }

.retreat__detail__smallprint {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #cccccc; }

.retreat__meta {
  padding: 40px 0;
  margin: 60px 0 0 0;
  text-align: center;
  position: relative;
  font-size: 14px !important;
  font-size: 0.875 rem !important; }
  .retreat__meta > strong {
    font-weight: normal;
    text-transform: uppercase;
    color: #ff9b59;
    margin: 0 5px 0 0;
    font-family: "HelveticaNeueLTStd-Lt", sans-serif; }
  .retreat__meta:before, .retreat__meta:after {
    content: "";
    border: none;
    display: block;
    height: 2px;
    background: #cccccc;
    position: absolute;
    left: 0;
    right: 0; }
  .retreat__meta:before {
    top: 0; }
  .retreat__meta:after {
    bottom: 0; }

.retreat__group__heading {
  text-align: center;
  color: #ff9b59; }

.content-sidebar__content {
  padding: 0 40px 40px 0; }
  @media screen and (max-width: 767px) {
    .content-sidebar__content {
      padding: 0; } }

.content-sidebar__sidebar {
  padding-top: 0;
  padding-left: 0; }
  @media screen and (max-width: 1023px) {
    .content-sidebar__sidebar {
      display: none; } }
  .content-sidebar__sidebar--mobile {
    display: none; }
    @media screen and (max-width: 1023px) {
      .content-sidebar__sidebar--mobile {
        display: block; } }

/*------------------------------------*    THIRD PARTY
\*------------------------------------*/
.site-head__inner .chumly {
  position: relative;
  width: initial;
  padding-left: 20px;
  right: 0;
  vertical-align: middle;
  top: 3px; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .site-head__inner .chumly {
      display: table-cell;
      top: -3px; } }
  @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .site-head__inner .chumly {
      right: 160px; } }
  .site-head__inner .chumly .user-menu {
    width: initial; }
  .site-head__inner .chumly .user-menu__inner {
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 45px; }
  .site-head__inner .chumly .user-menu__item {
    display: none; }
  .site-head__inner .chumly .user-menu__item:first-child {
    display: block; }
  @media screen and (min-width: 1290px) {
    .site-head__inner .chumly {
      display: table-cell;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      top: -2px; }
      .site-head__inner .chumly .user-menu {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; }
      .site-head__inner .chumly .user-menu__inner {
        -ms-flex-pack: normal;
        justify-content: normal;
        padding-right: 0; }
      .site-head__inner .chumly .user-menu__item {
        display: block; } }
  .site-head__inner .chumly .user-menu__icon .icon {
    fill: #ffffff; }
  .site-head__inner .chumly .user-menu__icon .icon:hover {
    fill: #ff9b59; }

.class-tiles__list a:target .avatar__content, .class-tiles__list a:active .avatar__content, .class-tiles__list a:focus .avatar__content, .class-tiles__list a:hover .avatar__content {
  transition: all 200ms ease;
  color: #ff9b59; }

.star-rating__icon--fill .icon {
  fill: #ff9b59 !important; }

.form__group__radio label.button {
  color: #53323d !important;
  background: #f3f3f3 !important; }

.form__group__radio label.button--primary {
  color: #ffffff !important;
  background: #53323d !important; }

.button--primary {
  color: #ffffff !important;
  background-color: #53323d !important; }

.button--positive {
  color: #ffffff !important;
  background-color: #ff9b59 !important;
  border: #ff6d0d !important; }

.button--negative {
  background-color: #be2137 !important; }

.list__item.is-active {
  background: #ff9b59 !important; }

.prompt--success .prompt__header {
  background: #53323d !important; }

.prompt--success .prompt__button button {
  background: #ff9b59 !important;
  border-color: #ff9b59; }

.chumly .pagination__item__inner[href].is-active,
.chumly .pagination__item__inner[href].active {
  background: #ff9b59 !important; }

.chumly .pagination__item__inner,
.chumly .pagination__icon {
  color: #53323d;
  fill: #53323d; }

.chumly .comments__item__interaction {
  color: #ff9b59 !important; }

.chumly .message__body {
  background: #e1e1e1 !important; }

/*------------------------------------*    ANIMATIONS
\*------------------------------------*/
/*------------------------------------*    SHAME
    
    This file is for awful little hacks that sometime just can't be avoided.
    
    Please make sure you comment the hacks and refactor down the line (unless you work in an agency where refactoring is an alien concept)
\*------------------------------------*/
.fc-event-inner {
  display: inline-block; }
  .fc-event-inner .fc-event-title {
    display: block;
    max-width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

/*# sourceMappingURL=global.css.map */
