{% extends "layout/base.html" %}

{% block content %}
	<div class="chumly">
		<div class="wrapper">
			<div class="chunk">

				<!-- COMMENTS LAYOUT STARTS -->
				<div class="comments">
					<ol class="comments__list">

						<!-- ITEM -->
						<li class="comments__item">
							<div class="comments__item__inner">
								<div class="comments__item__avatar">
									<figure class="avatar avatar--medium">
										<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
									</figure>
								</div>
								<div class="comments__item__content">
									<div class="comments__item__box">
										<div class="comments__item__header">
											<h3 class="comments__item__heading">
												<a href="#">Mason Obrien</a>
											</h3>
											<time datetime="MM-DD-YYYY HH:mm" class="comments__item__date">16/04/2016 at 22:03</time>
										</div>
										<div class="comments__item__body wysiwyg">
											<p>Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients. This means that to enjoy authentic gourmet food you must prepare your food immediately after purchasing the fresh ingredients that will comprise your meals. Not only do you want to purchase the freshest ingredients when cooking gourmet meals but you also want to insure that you are purchasing ingredients of superior quality.</p>
										</div>
										<a href="#" class="comments__item__reply">Reply</a>
									</div>
								</div>
							</div>

							<!-- TO NEST, ADD ANOTHER COMMENTS LIST ELEM. RECURSE TO YOUR HEARTS CONTENT. PROBABLY STICK WITH 2 OR 3 LEVELS THOUGH -->
							<ol class="comments__list">

								<!-- ITEM -->
								<li class="comments__item">
									<div class="comments__item__inner">
										<div class="comments__item__avatar">
											<figure class="avatar avatar--medium">
												<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
											</figure>
										</div>
										<div class="comments__item__content">
											<div class="comments__item__box">
												<div class="comments__item__header">
													<h3 class="comments__item__heading">
														<a href="#">Mason Obrien</a>
													</h3>
													<time datetime="MM-DD-YYYY HH:mm" class="comments__item__date">16/04/2016 at 22:03</time>
												</div>
												<div class="comments__item__body wysiwyg">
													<p>Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients. This means that to enjoy authentic gourmet food you must prepare your food immediately after purchasing the fresh ingredients that will comprise your meals. Not only do you want to purchase the freshest ingredients when cooking gourmet meals but you also want to insure that you are purchasing ingredients of superior quality.</p>
												</div>
												<a href="#" class="comments__item__reply">Reply</a>
											</div>
										</div>
									</div>
								</li>
								<!-- ITEM -->

							</ol>

						</li>
						<!-- ITEM -->

					</ol>


					<!-- FORM -->
					<div class="comments__form">
						<h3 class="comments__form__heading">Add A Comment</h3>
						<form class="comments__form__item form">
							
							<!-- ERROR MESSAGE -->
							<div class="alert alert--negative breathe--bottom">
								<p class="alert__content">
									<svg aria-hidden="true" class="alert__content__icon icon" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#bell"></use>
									</svg>
									There has been an error. Please check your details.
								</p>
							</div>
							<!-- ERROR MESSAGE -->

							<!-- EACH FIELD -->
							<div class="form__group">
								<label class="form__group__label" for="comment_name">Name</label>
								<input type="text" class="form__group__input form__group__input--fill is-error" name="comment_name" id="comment_name" />

								<!-- FIELD ERROR MESSAGE -->
								<div class="alert alert--auto-width alert--negative breathe--top">
									<p class="alert__content">Please enter your name.</p>
								</div>
								<!-- FIELD ERROR MESSAGE -->
							</div>
							<!-- EACH FIELD -->

							<!-- EACH FIELD -->
							<div class="form__group">
								<label class="form__group__label" for="comment_email">Email</label>
								<input type="email" class="form__group__input form__group__input--fill" name="comment_email" id="comment_email" />
							</div>
							<!-- EACH FIELD -->

							<!-- EACH FIELD -->
							<div class="form__group">
								<label class="form__group__label" for="comment_content">Your Comment</label>
								<textarea class="form__group__input form__group__input--fill form__group__input--multiline" name="comment_content" id="comment_content"></textarea>
							</div>
							<!-- EACH FIELD -->


							<div class="form__group">
								<button type="submit" class="button button--positive">Post Comment</button>
							</div>

						</form>
					</div>

					<!-- FORM -->

				</div>
				<!-- COMMENTS LAYOUT ENDS -->



			</div>
		</div>
	</div>

{% endblock %}