{% extends "layout/base.html" %}

{% block content %}
	<div class="chumly">
		<div class="wrapper">

			{% for component in components %}
				<div class="chunk chunk--double">
					<h2>{{ component.heading }}</h2>
					<div class="chunk">
						{% include "components/" + component.file %}
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}