{% extends "layout/base.html" %}

{% block content %}
	<div class="chumly">
		<div class="wrapper">
			<div class="chunk--treble">
				

				<!-- MESSAGE CENTRE LAYOUT STARTS -->
				<div class="message-centre">
					<header class="headline">
						<h2 class="headline__heading">Message Centre</h2>
					</header>
					<div class="message-centre__feed">
						<div class="message-centre__feed__recipients">
							
							<ol class="list-view">

								{% for count in testing_count %}
									<li class="list-view__item">

										<!-- IF UNREAD MESSAGES ADD (is-notification) CLASS -->
										<!-- REPLACE {% if count == 0 %}is-active{% endif %} with is-active if this is the current user we're chatting to -->
										<a href="#" class="list-view__inner list-view__inner--media {% if count == 0 %}is-active{% endif %}" role="button">
											<div class="list-view__media">
												<figure class="avatar">
													<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
												</figure>
											</div>
											<div class="list-view__text">
												<span class="list-view__text__primary">Person With A Long Name</span>
												<span class="list-view__text__secondary">Yesterday at 14:03</span>
											</div>
											<div class="list-view__icon">

												<!-- IF UNREAD MESSAGES SET ICON TO BE (circle) -->
												<svg class="icon" aria-hidden="true">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#angle-right"></use>
												</svg>
											</div>
										</a>
									</li>
								{% endfor %}

							</ol>


						</div>
						<div class="message-centre__feed__content">
							<div class="message-centre__feed__content__inner">
								{% include "components/message.html" %}
							</div>
						</div>
					</div>
					<div class="message-centre__editor">
						<div class="message-centre__editor__padding" aria-hidden="true"></div>
						<div class="message-centre__editor__window">
							{% include "components/editor.html" %}
						</div>
					</div>
				</div>
				<!-- MESSAGE CENTRE LAYOUT STARTS -->


			</div>
		</div>
	</div>
{% endblock %}