{% extends "layout/base.html" %}

{% block content %}
	<div class="chumly">
		<div class="wrapper">



		<!-- DEFAULT -->
		<div class="navigator">
			<div class="navigator__sidebar">
				
				<!-- EXAMPLE CONTENT, REMOVE -->
				<div class="placeholder-content">Sidebar</div>
				<!-- EXAMPLE CONTENT, REMOVE -->

			</div>
			<div class="navigator__content">

				<!-- EXAMPLE CONTENT, REMOVE -->
				<div class="placeholder-content">Content</div>
				<!-- EXAMPLE CONTENT, REMOVE -->

			</div>
		</div>
		<!-- DEFAULT -->


		<div class="chunk">


			<!-- DEFAULT (Reversed with markup) -->
			<div class="navigator">
				<div class="navigator__content">

					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Content</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
				<div class="navigator__sidebar">
					
					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Sidebar</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
			</div>
			<!-- DEFAULT (Reversed with markup) -->


		</div>


		<div class="chunk">


			<!-- DEFAULT (Reversed with CSS) -->
			<div class="navigator navigator--rev">
				<div class="navigator__sidebar">
					
					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Sidebar</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
				<div class="navigator__content">

					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Content</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
			</div>
			<!-- DEFAULT (Reversed with CSS) -->


		</div>


		<div class="chunk">


			<!-- DEFAULT (Sidebar removed) -->
			<div class="navigator">
				<div class="navigator__content">

					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Content</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
			</div>
			<!-- DEFAULT (Sidebar removed) -->


		</div>

		<div class="chunk">


			<!-- CONTENT FULL WIDTH -->
			<div class="navigator navigator--content-full-width">
				<div class="navigator__content">

					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Content</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
			</div>
			<!-- CONTENT FULL WIDTH -->


		</div>



		<div class="chunk">


			<!-- SKINNY SIDEBAR -->
			<div class="navigator navigator--skinny-sidebar">
				<div class="navigator__sidebar">
					
					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Sidebar</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
				<div class="navigator__content">

					<!-- EXAMPLE CONTENT, REMOVE -->
					<div class="placeholder-content">Content</div>
					<!-- EXAMPLE CONTENT, REMOVE -->

				</div>
			</div>
			<!-- SKINNY SIDEBAR -->


		</div>



		</div>
	</div>
{% endblock %}