{% extends "layout/base.html" %}

{% block content %}
	<div class="chumly">
		<div class="wrapper">
			<div class="chunk chunk--treble">


				<!-- USER PROFILE LAYOUT STARTS -->
				<section class="user-profile">
					<header class="user-profile__header">
						<div class="user-profile__header__avatar">

							<!-- AVATAR COMPONENT -->
							<figure class="avatar avatar--medium">
								<img class="avatar__image" src="{{ avatar_url }}" alt="Image of person name" />
							</figure>
							<!-- AVATAR COMPONENT -->

						</div>
						<div class="user-profile__header__content">
							<h2 class="user-profile__heading">Person Mc Very Long Name</h2>
							<p class="user-profile__summary">
								A short bio about this person to give you an idea about what they’re all about. Lorem ipsum dolor sit amet.
							</p>
						</div>
					</header>
					<div class="user-profile__interactions">
						<div class="user-profile__interactions__item">

							<!-- LOOP OF SOCIAL NETWORKS -->
							<nav class="user-profile__networks">

								<!-- NETWORK ITEM -->
								<a class="user-profile__networks__item" href="#">
									<svg class="user-profile__networks__icon icon" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#social-twitter"></use>
									</svg>
									<span class="is-hidden--text">Follow on Twitter</span>
								</a>
								<!-- NETWORK ITEM -->


								<!-- OTHER ITEMS FOR DISPLAY PURPOSES -->
								<a class="user-profile__networks__item" href="#">
									<svg class="user-profile__networks__icon icon" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#social-tumblr"></use>
									</svg>
									<span class="is-hidden--text">Follow on Tumblr</span>
								</a>
								<a class="user-profile__networks__item" href="#">
									<svg class="user-profile__networks__icon icon" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#social-linkedin"></use>
									</svg>
									<span class="is-hidden--text">Add on LinkedIn</span>
								</a>
								<a class="user-profile__networks__item" href="#">
									<svg class="user-profile__networks__icon icon" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#social-facebook"></use>
									</svg>
									<span class="is-hidden--text">Add on Facebook</span>
								</a>
								<!-- OTHER ITEMS FOR DISPLAY PURPOSES -->

							</nav>
							<!-- LOOP OF SOCIAL NETWORKS -->

						</div>
						<div class="user-profile__interactions__item">
							
							<!-- BUTTON GROUP -->
							<!-- Only one button here, but it gives you plenty of scalabilty -->
							<div class="button-group">
								<div class="button-group__item">
									<button class="button button--positive">
										Add friend
										<svg class="button__icon button__icon--right icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon_defs }}#head"></use>
										</svg>
									</button>
								</div>
							</div>
							<!-- BUTTON GROUP -->

						</div>
					</div>
					<div class="user-profile__activity">
						<h3 class="user-profile__sub-heading">Latest Activity</h3>
				
						<div class="user-profile__activity__content">
							{% include "components/news-feed.html" %}
						</div>
					</div>
				</section>
				<!-- USER PROFILE LAYOUT STARTS -->


			</div>
		</div>
	</div>
{% endblock %}