/*------------------------------------*\
    IE
    
    This mixin will help generate IE specific CSS. Add a version number as a parameter 
    and the mixin will do the rest!    
\*------------------------------------*/

@mixin ie($ie-version: 8) {
	
	$class-name: "";
	
	// If specific IE version
	@if($ie-version == 10 or
		$ie-version == 9 or 
		$ie-version == 8 or
		$ie-version == 7) {
			
		$class-name: #{".ie" + $ie-version};
	}
	
	// If more global "less than" version
	@if($ie-version == "lt-ie11" or
		$ie-version == "lt-ie10" or 
		$ie-version == "lt-ie9" or 
		$ie-version == "lt-ie8") {
			
		$class-name: #{"." + $ie-version};
	}
	
	// If class name is generated, run the css
	@if($class-name != "") {
		
		#{$class-name} & {
			@content;
		}
	}

}